config/database.yml
*~
*.cache
*.log
.DS_Store
db/cstore/**
doc/api
doc/app
doc/plugins
coverage/*
vendor/gems/*/coverage
db/*.sqlite3
.project
public/features/*
config/initializers/personal.rb
public/tmp.html
.sass-cache