- form_for resource, :html => { :class => "survey", :multipart => true} do |person_form|
  = error_messages_for(:person, :header_message => header_error_message(resource.errors.count), :message => "")
  = render(:partial => 'mindapples_entry', :locals => { :form => person_form })
  = render(:partial => 'entry', :locals => { :form => person_form })
  .col_full
    *ahem* By completing this survey, you're giving us the right to publish your answers anonymously, online and offline. Hope that's ok...
  = submit_tag 'Submit', :class => "submit-form"
%br.clear
