- form_for resource do |person_form|
  = render(:partial => 'mindapples_entry', :locals => { :form => person_form })
  = render(:partial => 'entry', :locals => { :form => person_form })
  = submit_tag 'Submit'
