.five-a-day
  = form.label "<span class='line-1'>Important bit.</span><br/><span class='line-2'>What five things do you</span><br/><span class='line-3'>do every day, or regularly,</span><br/><span class='line-4'>to look after your mind?</span>"
  %ol.float-right
    - form.fields_for :mindapples do |mindapple_form|
      = render(:partial => '/mindapples/entry', :locals => { :form => mindapple_form })
