%ol
  = form.label "Important bit. What five things do you do every day, or regularly, to look after your mind?"
  - form.fields_for :mindapples do |mindapple_form|
    = render(:partial => '/mindapples/entry', :locals => { :form => mindapple_form })
