- form_for resource, :html => { :class => "survey"} do |person_form|
  = render(:partial => '/people/mindapples_entry', :locals => { :form => person_form })
  = image_submit_tag '/images/buttons/go.png', :class => "submit-form", :alt => "Go"
