- form_for resource, :url=>'/people/new', :html => { :class => "survey"} do |person_form|
  = render(:partial => '/people/mindapples_entry', :locals => { :form => person_form })
  = submit_tag 'Submit', :class => "submit-form"
%br.clear
