.page-heading.below-shelf
  %h1
    Take the test

= render(:partial => 'form')

%h6
  %i
    *ahem* By completing this survey, you're giving us the right to publish your answers anonymously, online and offline. Hope that's ok...