.take_the_test
  .inner
    %h2
      Take the Mindapples test
    %p.intro
      If eating five fruit and veg a day is good for our bodies, what about our minds? Take the Mindapples 5-a-day Test now and help us find the most popular activities to keep ourselves mentally well.
    = render(:partial => 'form')
