%h1
  Mindapples. 5-a-day for your mind

%p 
  If eating five fruit and veg a day is good for our bodies, then what's the equivalent for our minds?
  %br
  We want to find the most popular activities that people do to keep themselves mentally well. 
  %br
  What five things do you do regularly to look after your mind?

%h3
  Take the test yourself, and then <a href='/fives'>read the fives</a>

%p
  You can also <a href='/about-us'>read more about us</a>, read our <a href='http://blog.mindapples.org'>blog</a> and <a href='mailto:hello@mindapples.org'>get in touch</a>.
  
%p
  And please join us on <a href='http://www.facebook.com/pages/Mindapples/38139955790'>Facebook</a>, <a href='http://twitter.com/mindapples'>Twitter</a> and <a href='http://www.flickr.com/photos/tags/mindapples/'>Flickr</a>, and <a href='/help-us-grow'>help us grow</a>.

= render(:partial => 'mindapples_form')

%p
  %i
    (By completing this survey, you're giving Mindapples the right to publish your answers anonymously, online and offline. Hope that's ok...)
