
- if @network && @network.description && ! (@network.description.empty?)
  .network_details
    .logo
      - if @network.logo?
        = image_tag @network.logo.url(:medium), :alt => @network.name
    .text
      %h1 
        = @network.name

      = @network.description