.git-version, .logged-in-debug
  :color #ccc
  :font-size 0.7em

body, html, ul, ol, form
  margin: 0
  padding: 0
  
body
  font:
    family: "Trebuchet MS", Arial, Helvetica, sans-serif
    size: 13px
  color: #45503f
  line-height: 150%


// links: global

a, a:active, a:visited
  color: #999
  text-decoration: none

a:hover
  border-bottom: 1px dotted #ccc


// elements: global

h1,h2 
  color: #52b

h3
  color: #1f500a

h1
  margin-top: 0
  font-size: 26px
  
div.hr
  width: 700px
  background: url('/images/divider-form.gif') no-repeat center top
  height: 7px
  margin: 20px 0
  
  hr
    display: none


//Global classes

.float-left
  float: left
  
.float-right
  float: right
  
.clear
  clear: both

.description
  color:#368316

.description-light
  color: #8fbe11

.highlight
  color: #ff4200

.small-print
  font-size: 10px


//Shelves - general classes

.with-shelf-curved
  background: url('/images/shelf-curved.gif') no-repeat bottom center
  width: 830px
  padding:
    top: 35px
    bottom: 85px
    left: 70px
    right: 40px
    
.with-shelf-short
  background: url('/images/shelf-short.gif') no-repeat bottom center
  padding:
    top: 35px
    bottom: 105px
    
.below-shelf
  position: relative
  z-index: 1000
  margin-top: -60px


// page wrapper

.page-wrapper
  padding: 0
  margin: 0 auto


//Header

#header
  width: 940px
  padding: 10px 0
  overflow: hidden
  margin: 0 auto
  
  .logo
    float: left
    
    a:hover
      border: none
  
  .menu
    float: right
    margin-top: 15px
    text-align: right
    font-size: 14px
    
    ul
      list-style: none
      margin-right: 10px

      li
        display: inline
        margin: 0 10px
 
    .account
      margin-right: 20px
      font-size: 12px
      margin-top: 5px

#header.with-shelf-curved
  background: url('/images/shelf-curved.gif') no-repeat bottom center
  width: 830px
  padding:
    top: 30px
    bottom: 85px
    left: 70px
    right: 40px
    
        

//Footer
.footer
  clear: both


//Main

#main
  width: 940px
  padding: 10px 0
  margin: 0 auto 30px auto
  .content
    width: 695px
    padding: 0 25px
    margin: 0 auto
  a, a:active, a:visited
    color: #88bb00
  a:hover
    border-bottom-color: #8fbe11
     
.page-heading
  margin-bottom: 10px
  
  h1
    display: inline
    background: url('/images/arrow-below.gif') no-repeat right bottom
    padding:
      top: 0
      bottom: 13px
      right: 32px 

#main.with-shelf-curved
  padding: 0 40px 95px 70px
  
#errorExplanation
  margin-top: 30px
  margin-bottom: 10px
  padding-bottom: 10px
  border-bottom: 1px dotted #ccc
  h2
    color: #ff4200
    margin-top: 0
    margin-bottom: 3px
    font-size: 16px
  p
    margin: 0 0 0 14px
  ul
    margin-left: 28px


//form

form, input, textarea, select
  font:
    family: "Trebuchet MS", Arial, Helvetica, sans-serif
    size: 12px
   
   
input, textarea, select
  color: #444
  padding: 3px
  border: 2px solid #ccc

textarea
  resize: vertical

.col-odd
  clear: both
  width: 320px
  float: left
  margin: 15px 0
  
  input
    width: 100%

.col-even 
  width: 320px
  float: left
  margin: 15px 0
  padding-left: 45px
  
  input
    width: 100%
    
label
  color: #1f500a
  font:
    size: 14px
    weight: bold
  display: block
  margin-bottom: 5px
  
  .description
    font-weight: normal
      
input.submit-form
  text-indent: -9999px
  background: url('/images/submit.gif') no-repeat center
  border: none
  width: 90px
  height: 50px
  float: right
  font-size: 0
  display: block
  line-height: 0
  padding: 0
  cursor: pointer

.radio-input
  input
    width: auto
    border: none
  label.label-radio
    display: inline
    color: #444
    font-size: 13px

.inline
  display: inline

form.new_user_session
  padding-bottom: 3em

//Page specifics

//----Survey Page
form.survey
  width: 695px
  margin: 0 auto
  
  .five-a-day
    background: url('/images/sliced-apple.gif') no-repeat left bottom
    width: 600px
    min-height: 270px
    overflow: hidden
    margin: 0 auto 30px auto
    
    
    label
      font:
        size: 16px
        weight: bold
      margin-top: 10px
      margin-left: 260px
      display: block
    
    ol
      list-style: none
      margin-left: 230px
    
      li
        margin: 10px 0
        text-alight: right
      
        input
          min-width: 360px


.brain-dump
  textarea
    width: 685px
    min-height: 150px
    height: 150px
    margin-bottom: 30px

.hide
  display: none

input.policy_checkbox
  width: auto
  float: left
  margin-right: 10px

.red
  color: #f00