/* Generic */

$darkgreen: #40863e;
$lightgreen: #a3c65d;

* {
  margin: 0px;
  padding: 0px;
}
a img {
  border: none;
}
ul {
  list-style-type: none;
}
.git-version {
  display: none;
}

@mixin simple_button {
  height: 24px;
  line-height: 24px;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 0 22px 0 9px;
  background: {
    image: url(/images/icons/small_white_arrow.png);
    repeat: no-repeat;
    position: right center;
  }
}
.simple_button_1 {
  @include simple_button;
  background-color: #89C33E;
}
.simple_button_2 {
  @include simple_button;
  background-color: #067D29;
}


.background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.foreground {
  position: absolute;
}

/* Layout */

body {
  font: {
    family: helvetica neue, arial, sans;
    size: 62.5%;
  }
  background: { 
    image: url(/images/layout/bg-mid.gif);
    position: center center;
    repeat: repeat-y;
    color: #035118;
  }
}

.content {
  a {color: $darkgreen; text-decoration: none;}
  a:hover {text-decoration: underline;}
}

.clear { clear: both; }

@mixin main_section {
  width: 960px;
  padding: 0 22px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  position: relative;
}

.outer_page_wrapper {
  width: 100%;
  background: {
    image: url(/images/layout/bg-top.jpg);
    position: top center;
    repeat: no-repeat;
  }

  .inner_page_wrapper {
    width: 100%;
    text-align: center;
    background: {
      image: url(/images/layout/bg-bottom.jpg);
      position: bottom center;
      repeat: no-repeat;
    }

    #header {
      @include main_section;
      height: 177px;
      
      .logo {
        position: absolute;
        top: 0px;
        left: 37px;
      }
      
      .login_controls {
        position: absolute;
        width: 294px;
        height: 130px;
        top: 23px;
        right: -30px;
        
        .background {
          background-image: url(/images/header/login_box_bg.png);
        }
        .foreground {
          padding:43px 0 0 98px;
          
          a {
            display: block;
            width: 45px;
            margin-bottom: 4px;
          }
        }
      }
    }

    .page_main {
      @include main_section;
      background-color: white;
      min-height: 1446px;
      margin-bottom: 211px;
      overflow: auto;
      padding-top: 10px;
      font-size: 1.2em;
      line-height: 1.65em;
      
      .page_flip_top {
        width: 109px;
        height: 87px;
        background: url('/images/layout/page_flip.png');
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
      }
      
      .five-a-day {
        float: right;
        width: 425px;
        color: white;
        background: {
          image: url(/images/layout/bg-bottom-five-a-day.png);
          repeat: no-repeat;
          position: bottom;
        }
        
        .inner-top {
          padding: 40px 30px 0;
          margin-bottom: 61px;
          background: {
            image: url(/images/layout/bg-top-five-a-day.png);
            repeat: no-repeat;
            position: top;
          }
        }
        
        a {
          color: #83ac44;
          background-color: #CDE5AE;
          text-decoration: none;
          padding: 0 2px;
        }
        
        a:hover {
          background-color: white;
        }
        
        h1 {
          margin-bottom: 0.8em;
        }
        
        
        h4 {
          font-size: 1.4em;
          color: #CDE5AE;
        }
        
      }
    }
    
    #footer {
      
      .inner {
        @include main_section;
        height: 65px;
      }

      ul {
        padding-top: 20px;
        text-align: center;
      }

      li {
        display: inline;
        font-weight: bold;
        font-size: 1.4em;
        list-style: none;
        margin: 0 10px;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
      
      .site-credits {
        text-align: right;
        font-size: 1.1em;
        margin-top: 3px;
        color: white;
        overflow: hidden;
        padding: 10px 50px 30px;
        
        ul {
          float:right;
          padding-top: 0;
          margin-bottom: 15px;
          li {
            float: left;
            background-color: #fff;
            padding: 10px;     
            margin: 0;
            a {
              display: block;
              height: 40px;
              text-indent: -900em;
              outline: 0 none;
            }
      
            a.unboxed { width: 64px; background: url(/images/footer/unboxed_consulting.png) no-repeat center bottom;}
            a.unltd { width: 56px; background: url(/images/footer/unltd.png) no-repeat center bottom;}
            a.nominet_trust { width: 102px; background: url(/images/footer/nominet_trust.png) no-repeat center bottom;}
          }
        }
      }
      
      
    }
  } 
}

.col_10of16 { width: 580px; margin: 20px auto; .inner {padding: 10px 40px;} }

.nav_bar {
  background: url(/images/nav_bar/menu_bar.gif) no-repeat;
  width: 943px;
  margin: 10px;
  
  .share_buttons {
    float: right;
    margin-top: 3px;
    margin-right: 60px;
    color: white;
    z-index: 2;
    position: relative;
    
    li {
      float:left;     
      a {
        display: block;
        width: 31px;
        height: 40px;
        text-indent: -900em;
        margin: 0 3px;
        outline: 0 none;
      }
      
      a.facebook { background: url(/images/nav_bar/social-facebook.png) no-repeat center center;}
      a.twitter { background: url(/images/nav_bar/social-twitter.png) no-repeat center center;}
      a.flickr { width: 34px; background: url(/images/nav_bar/social-flickr.png) no-repeat center center;}
      a.delicious { background: url(/images/nav_bar/social-delicious.png) no-repeat center center;}
    }
  }
  
  #main_tabnav ul {
    margin-left: 15px;
    overflow: auto;
    
    li {
      display: block;
      float: left;
      
      a, span {
        height: 50px;
        line-height: 50px;
        margin: -3px 7px 0;
        display: block;
        text-align: center;
        font: {
          family: helvetica neue, arial, sans;
          weight: bold;
          size: 1.2em;
        }
        color: white;
        text-decoration: none;
      }
    }
    
    .home, .five {
      a.active, span.active { width: 71px; background-image: url(/images/nav_bar/home_active.png);}
    }
    .about_us, .services {
      a.active, span.active { width: 83px; background-image: url(/images/nav_bar/about_us_active.png);}
    }
    .blog {
      a.active, span.active { width: 58px; background-image: url(/images/nav_bar/blog_active.png);}
    }
    .person, .grow {
      a.active, span.active { width: 116px; background: url(/images/nav_bar/person_active.png) no-repeat center bottom;}
    }
    
  }
}

.sub_tabnav {
  background: url(/images/layout/bg-center-content-top.png) no-repeat center bottom;
  padding-bottom: 20px;

  ul {
    border-bottom: 10px solid $lightgreen;
    font: {
      family: helvetica neue, arial, sans;
      weight: bold;
      size: 19px;
    }
    margin: 30px auto 0;
    overflow: auto;
    padding-left: 10px;
    width: 570px;

    li {
      float: left;
      margin-left: -35px;
    }

    li:first-child {
      margin-left: 0;
    }

    a {
      background: no-repeat center bottom;
      color: #fff;
      display: block;
      line-height: 48px;
      padding-right: 30px;
      padding-top: 8px;
      position: relative;
      text-decoration: none;
      text-align: center;
    }

    li:first-child a { background-image: url(/images/subnav/left_off.png); width: 173px; z-index: 3; }
    li:first-child + li a { background-image: url(/images/subnav/middle_off.png); width: 183px; z-index: 2; }
    li:first-child + li + li a { background-image: url(/images/subnav/right_off.png); width: 191px; z-index: 1; }

    li.active:first-child a { background-image: url(/images/subnav/left_on.png); }
    li:first-child + li.active a { background-image: url(/images/subnav/middle_on.png); }
    li:first-child + li + li.active a { background-image: url(/images/subnav/right_on.png); }
  }
}

.sub_central {
  background: url(/images/layout/bg-center-content-bottom.png) no-repeat center bottom;
  padding-bottom: 38px;

  .inner {
    background: url(/images/layout/bg-center-content.png) repeat-y center top;
    margin: 0 auto;
    // 1px avoids bg image gaps due to collapsing margins
    padding: 1px 39px;
    width: 538px;
  }

  h1 {
    margin-bottom: 1em;
  }

  p {
    line-height: 1.5;
    margin-bottom: 1.5em;
  }

  ul {
    list-style: disc;
    margin-bottom: 1.5em;
    margin-left: 15px;
  }
}

.left_column {
  float: left;
  width: 165px;
}

.right_column {
  float: right;
  width: 165px;
}

.take_the_test {
  width: 700px;
  margin: 40px auto 140px auto;
    
  h2 {
    padding: 0 55px;
  }
    
  .intro {
    padding: 0px 60px;
    margin-bottom: 27px;
    color: #067D29;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.35em;
  }
  
  .errorExplanation {
    padding: 10px 55px 20px;
    color: red;
    h2 {
      background: none;
      font-size: 1.2em;
      line-height: 1.1em;
      font-weight: bold;
      padding: 0;
      color: red;
      margin-bottom: 10px;
    }
    
    ul {
      font-size: 1.1em;
      list-style-type: disc;
    }
  }
    
  .the_test{
    padding-top: 40px;
    background: url(/images/layout/bg-top-the-test.png) no-repeat center top;
    color: #fff;
    font-size: 1.1em;
    
    .inner {
      background: url(/images/layout/bg-mid-the-test.png) repeat-y center top;  
      overflow: hidden;
      
      h1 {
        font-size: 2.3em;
      }
      
      input[type=text], input[type=password] {
        border: 0 none;
        font-size: 1.5em;
        margin-left: 13px;
        padding: 2px;
        width: 280px;
        margin: 0;
      }

      input[type=image] {
        float: right;
        margin-right: 30px;
        margin-top: -33px;
        padding-left: 74px;
        background: url('/images/arrows/white_left_curve_south_east.png') no-repeat left 5px;
      }
      
      input[type=file] {
        font-size: 0.8em;
        padding: 10px;
      }
      
      label {
        font-size: 1.3em;
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        .description {
          font-size: 0.7em;
          font-weight: normal;
          color: #CDE5AE;
        }
        .description_highlight {
          font-size: 0.75em;
        }
      }
      
      .form_input {
         display: block;
         
         label {
           font-size: 0.95em;
           display: inline;
           margin-bottom: 0;
         }
         
         .label-radio {
           margin-right: 0.6em;
         }
         
         select {
           padding: 2px;
           background-color: white;
           border: 0 none;
           font-size: 0.85em;
           width: 280px;
         }
      }

      .col_full { 
        clear: both;
        display: block;
        margin-bottom: 40px;
      }
      
      .col_odd { 
        margin-bottom: 40px;
        margin-right: 20px;
        width: 280px;
        clear: left;
        float: left;
      }
      
      .col_even { 
        margin-bottom: 30px;
        float: left;
        width: 280px;
      }
      
      .row_odd {
        clear: both;
        padding: 20px 60px;
        
        label {
          .description {
            color: #515152;
          }
        }
        
        .form_input {
          .label-radio {
            color: #515152;
          }
        }
      }
      
      .row_even {
        clear: both;
        margin-top: 10px;
        padding: 40px 60px;
        background: url(/images/layout/bg-mid-row_even-the-test.png) repeat-y center top;
      }
      
      .arrow_lead_in {
        display: block;
        background: url('/images/arrows/white_left_curve_down.png') no-repeat left top;
        height: 57px;
        width: 22px;
        position: relative;
      }
  
      .five_things {      
        .description {
          background: url('/images/arrows/white_right_curve_south_east.png') no-repeat right top;
          padding-right: 45px;
          padding-top: 25px;
          width:325px;
          font-size: 1.35em;
          font-weight: bold;
          line-height: 1.4em;
          color: #D9EDBC;
          margin-top: -10px;
          margin-bottom: 15px;
        }   
        li {
          background: url(/images/green_whole_apple.png) no-repeat 0 5px;
          color: white;
          font-weight: bold;
          list-style-position: inside;
          padding: 3px 0 5px 8px;
          margin-bottom: 7px;
        }
        input[type=text] {
          padding: 6px;
          width: 500px;
          margin-left: 20px;
        } 
      }
      
      .extra_details {
        .arrow_lead_in {
          margin: -76px 0 20px -30px;
        }
        .brain_dump {
          background: url('/images/arrows/white_down.png') no-repeat right bottom; 
          padding-bottom: 50px;
          padding-right: 30px;
          margin-bottom: 0px;
          width: 580px;
          textarea {
            border: 0 none;
            width: 570px;
            height: 63px;
            padding: 5px;
            font-family: helvetica neue,arial,sans;
            font-size: 1em;
          }
        }
      }
      
      .account_details {
        padding: 20px 30px 0 60px;
        
        .arrow_lead_in {
          margin: -46px 0 20px -30px;
        }
        
        .form_input {
          .label-radio-person_public_profile {
            font-weight: normal;
            font-size: 1.04em;
          }
        }
        
        .policy_check {
          background: url('/images/layout/bg-policy.png') no-repeat left top;
          padding: 23px 16px;
          width: 275px;
          margin-bottom: 0px;
          
          a { color: #E0EDCC; text-decoration: none;}
          
          .form_input {
            input[type=checkbox] {
              float: left;
            }
            .label-checkbox {
              margin-top: -5px;
              font-size: 1.45em;
              line-height: 1.5em;
              display: block;
              float: left;
              width: 93%;
              padding-left: 6px;
            }
          }
          
        }
        
      }
  
    }
  }
}

/* Page Elements */

input[type=text], input[type=password] {
  border: 1px solid #ccc;
  font-size: 1.2em;
  margin-left: 13px;
  padding: 2px;
  width: 280px;
  margin: 0 0 10px 0;
}

input[type=submit] {
  border: 1px solid $darkgreen;
  background-color: $darkgreen;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 13px;
  padding: 1px;
  margin: 0 0 10px 0;
}

label {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.7em;
  margin-bottom: 3px;
  display: block;
  .description {
    font-size: 0.7em;
    line-height: 1em;
  }
}
      
.form_input {
  display: block;
         
  label {
    font-size: 1em;
    display: inline;
    margin-bottom: 0;
  }
         
  .label-radio {
    margin-right: 0.6em;
  }
         
  select {
    padding: 2px;
    background-color: white;
    border: 1px solid $lightgreen;
    font-size: 0.85em;
    width: 280px;
  }
}

.errorExplanation {
  padding: 10px 55px;
  border: 2px solid #FE0308;
  margin: 10px 0;
  background: #fff;
  color: #FE0308;
  h2 {
    background: none;
    font-size: 1em;
    line-height: 1.1em;
    font-weight: bold;
    padding: 0;
    color: #FE0308;
    margin-bottom: 10px;
  }
    
  ul {
    font-size: 1.1em;
    list-style-type: disc;
  }
}

.simple_form_box {
  margin: 20px auto 0;
  font-size: 1.2em;
  line-height: 1.65em;
  width: 540px;
  color: white;
  margin-bottom: 20px;
  background: {
    image: url(/images/layout/bg-form-box-top.png);
    repeat: no-repeat;
    position: top;
  }
  
  h2 { margin-bottom: 0px; }
  
  .inner {
    margin-top: 0;
    padding:10px 30px 30px;
    position: relative;
    background: {
      image: url(/images/layout/bg-form-box-main.png);
      repeat: no-repeat;
      position: bottom;
    }
    
    input[type=text], input[type=password] {
      width: 90%;
      margin: 2px 0 8px;
    }
    
    input[type=image] {
      bottom: -15px;
      position: absolute;
      right: 20px;
    }

  }
}

.five-a-day {
  font-size: 1.2em;
  line-height: 1.65em;
  float: right;
  width: 425px;
  color: white;
  background: {
    image: url(/images/layout/bg-bottom-five-a-day.png);
    repeat: no-repeat;
    position: bottom;
  }
  
  .inner-top {
    padding: 40px 30px 0;
    margin-bottom: 61px;
    position: relative;
    background: {
      image: url(/images/layout/bg-top-five-a-day.png);
      repeat: no-repeat;
      position: top;
    }
  }
  
  a {
    color: #83ac44;
    background-color: #CDE5AE;
    text-decoration: none;
    padding: 0 2px;
  }
  
  a:hover {
    background-color: white;
  }
  
  h1 {
    font-size: 1.8em;
    margin-bottom: 0 !important;
  }
  
  p {
    background: url(/images/arrows/white_down.png) no-repeat right center;
    color: #CDE5AE;
    font-size: 1.3em;
    padding: 10px 50px 20px 0;
  }

  li {
    background: url(/images/white_apple.png) no-repeat 0 4px;
    color: #009523;
    font-weight: bold;
    list-style-position: inside;
    padding: 5px 0 5px 8px;
  }

  input[type=text] {
    border: none;
    font-size: 1.5em;
    margin-left: 13px;
    padding: 2px;
    width: 290px;
  }

  input[type=image] {
    bottom: -70px;
    position: absolute;
    right: 20px;
  }
}

.mindapple {
  margin-bottom: 15px;
  list-style: none;

  img {
    display: block;
    float: left;
  }

  > div {
    background: url(/images/green_apple.png) no-repeat left bottom;
    border: 2px solid #009523;
    border-radius: 10px;
    margin-left: 55px;
    padding: 10px 15px 10px 80px;
  }

  span {
    display: block;
  }

  .number {
    color: #009523;
    font-size: 1.4em;
    margin: 0;
  }

  .apple {
    margin-bottom: 1em;
  }

  .when, .social {
    color: #6d6f72;
    margin: 0;
  }

  .social {
    overflow: auto;

    p {
      float: left;
    }

    a {
      display: block;
      float: right;
    }

    .like {
      background: url(/images/icons/red_heart.png) no-repeat;
      height: 17px;
      text-indent: -9999px;
      width: 19px;
    }
  }

  a {
    color: #009523;
    text-decoration: none;
  }
}

/* Home page */

.what_section {
  margin: 20px 0 40px;
  overflow: auto;
  text-align: center;
}

.what_section li {
  color: #009523;
  display: inline-block;
  font: bold 16px/1.25 "Helvetica Neue", Arial, sans-serif;
  list-style: none;
  padding-left: 80px;
  vertical-align: top;
  width: 140px;
}

.what_section .what { padding-left: 0; }

.what_section img {
  display: block;
  margin: 0 auto 10px;
}

.what_section .what img { padding: 6px 0 0; }
.what_section .share img { padding: 3px 0 0; }
.what_section .love img { padding: 9px 0 0; }

.what_section .share,
.what_section .love {
  background: url(/images/arrows/green_over.png) no-repeat 0 20%;
}

.what_section .discover {
  background: url(/images/arrows/green_under.png) no-repeat 0 60%;
}

h2 {
  background: url(/images/headings/green_bg.png) no-repeat left center;
  color: #fff;
  font-weight: normal;
  line-height: 37px;
  margin-bottom: 15px;
  padding: 0 15px;
}

h2.light_bg {
  background: url(/images/headings/light_green_bg.png) no-repeat left center;
}

h2 span {
  background: url(/images/headings/small_apple.png) no-repeat 5px 50%;
  display: block;
  padding-left: 35px;
}

.top_apples, .most_recent {
  margin-top: 45px;
}

.top_apples h2 {
  background-image: url(/images/headings/red_bg.png);
}

.main_content {
  float: left;
  width: 519px;
}

.user {
  .left_column {
    img {
      border: 1px solid #d0d0d0;
      display: block;
      padding: 4px;
    }

    p {
      color: $darkgreen;
      font-size: 1.3em;
      font-weight: bold;
      margin-top: 10px;
    }
  }
}

#news {
  .news_item {
    margin-bottom: 1.5em;
  }

  h3 {
    color: #555;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1;
    padding: 0.5em 0;
  }

  p.meta {
    color: #999;
  }
}
