/* Generic */

* {
  margin: 0px;
  padding: 0px;
}
a img {
  border: none;
}
ul {
  list-style-type: none;
}
.git-version {
  display: none;
}

@mixin simple_button {
  height: 24px;
  line-height: 24px;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 0 22px 0 9px;
  background: {
    image: url(/images/icons/small_white_arrow.png);
    repeat: no-repeat;
    position: right center;
  }
}
.simple_button_1 {
  @include simple_button;
  background-color: #89C33E;
}
.simple_button_2 {
  @include simple_button;
  background-color: #067D29;
}


.background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.foreground {
  position: absolute;
}

/* Layout */

body {
  font: {
    family: helvetica neue, arial, sans;
    size: 62.5%;
  }
  background: { 
    image: url(/images/layout/bg-mid.gif);
    position: center center;
    repeat: repeat-y;
    color: #035118;
  }
}

@mixin main_section {
  width: 960px;
  padding: 0 22px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  position: relative;
}

.outer_page_wrapper {
  width: 100%;
  background: {
    image: url(/images/layout/bg-top.jpg);
    position: top center;
    repeat: no-repeat;
  }

  .inner_page_wrapper {
    width: 100%;
    text-align: center;
    background: {
      image: url(/images/layout/bg-bottom.jpg);
      position: bottom center;
      repeat: no-repeat;
    }

    #header {
      @include main_section;
      height: 177px;
      
      .logo {
        position: absolute;
        top: 0px;
        left: 37px;
      }
      
      .login_controls {
        position: absolute;
        width: 294px;
        height: 130px;
        top: 23px;
        right: -30px;
        
        .background {
          background-image: url(/images/header/login_box_bg.png);
        }
        .foreground {
          padding:43px 0 0 98px;
          
          a {
            display: block;
            width: 45px;
            margin-bottom: 4px;
          }
        }
      }
    }

    .page_main {
      @include main_section;
      background-color: white;
      min-height: 1446px;
      margin-bottom: 211px;
      padding-top: 10px;
      font-size: 1.2em;
      line-height: 1.65em;
      
      .paper {
        float: right;
        width: 425px;
        color: white;
        background: {
          image: url(/images/layout/bg-bottom-five-a-day.png);
          repeat: no-repeat;
          position: bottom;
        }
        
        .inner-top {
          padding: 40px 30px 0;
          margin-bottom: 61px;
          background: {
            image: url(/images/layout/bg-top-five-a-day.png);
            repeat: no-repeat;
            position: top;
          }
        }
        
        a {
          color: #83ac44;
          background-color: #CDE5AE;
          text-decoration: none;
          padding: 0 2px;
        }
        
        a:hover {
          background-color: white;
        }
        
        h1 {
          margin-bottom: 0.8em;
        }
        
        
        h4 {
          font-size: 1.4em;
          color: #CDE5AE;
        }
        
      }
    }
    
    #footer {
      @include main_section;
      height: 126px;
    }
  } 
}


.nav_bar {
  background: url(/images/nav_bar/menu_bar.gif) no-repeat;
  width: 943px;
  margin: 10px;
  
  #main_tabnav ul {
    margin-left: 15px;
    overflow: auto;
    
    li {
      display: block;
      float: left;
      
      a, span {
        height: 50px;
        line-height: 50px;
        margin-top: -3px;
        display: block;
        text-align: center;
        font: {
          family: helvetica neue, arial, sans;
          weight: bold;
          size: 1.5em;
        }
        color: white;
        text-decoration: none;
      }
    }
    
    .home {
      a, span { width: 71px; }
      a.active, span.active { background-image: url(/images/nav_bar/home_active.png); }
    }
    .about_us {
      a, span { width: 83px; }
      a.active, span.active { background-image: url(/images/nav_bar/about_us_active.png); }
    }
    .get_involved {
      a, span { width: 110px; }
      a.active, span.active { background-image: url(/images/nav_bar/get_involved_active.png); }
    }
    .blog {
      a, span { width: 58px; }
      a.active, span.active { background-image: url(/images/nav_bar/blog_active.png); }
    }
    
  }
}

/* Page Elements */

.paper {
  font-size: 1.2em;
  line-height: 1.65em;
  float: right;
  width: 425px;
  color: white;
  background: {
    image: url(/images/layout/bg-bottom-five-a-day.png);
    repeat: no-repeat;
    position: bottom;
  }
  
  .inner-top {
    padding: 40px 30px 0;
    margin-bottom: 61px;
    position: relative;
    background: {
      image: url(/images/layout/bg-top-five-a-day.png);
      repeat: no-repeat;
      position: top;
    }
  }
  
  a {
    color: #83ac44;
    background-color: #CDE5AE;
    text-decoration: none;
    padding: 0 2px;
  }
  
  a:hover {
    background-color: white;
  }
  
  h1 {
    font-size: 1.8em;
    margin-bottom: 0.4em !important;
  }
  
  p {
    color: #CDE5AE;
    font-size: 1.3em;
    margin-bottom: 0.8em;
    padding-right: 50px;
  }

  li {
    background: url(/images/white_apple.png) no-repeat 0 4px;
    color: #009523;
    list-style-position: inside;
    padding: 5px 0 5px 8px;
  }

  input[type=text] {
    border: none;
    font-size: 1.5em;
    margin-left: 13px;
    padding: 2px;
    width: 290px;
  }

  input[type=image] {
    bottom: -70px;
    position: absolute;
    right: 20px;
  }
}

/* Home page */

.what_section {
  margin: 20px 0 40px;
  overflow: auto;
  text-align: center;
}

.what_section li {
  color: #009523;
  display: inline-block;
  font: 16px/1.25 "Helvetica Neue", Arial, sans-serif;
  list-style: none;
  padding-left: 60px;
  vertical-align: top;
  width: 160px;
}

.what_section .what { padding-left: 0; }

.what_section img {
  display: block;
  margin: 0 auto 10px;
}

.what_section .what img { padding: 6px 0 0; }
.what_section .share img { padding: 3px 0 0; }
.what_section .love img { padding: 9px 0 0; }

