.nav_bar
  .share_buttons
    %ul
      %li.facebook=  link_to 'Facebook', 'http://www.facebook.com/mindapples', :class => "facebook"
      %li.twitter=  link_to 'Twitter', 'http://twitter.com/mindapples', :class => "twitter"
      %li.flickr=  link_to 'Flickr', 'http://www.flickr.com/photos/tags/mindapples/', :class => "flickr"
      
  - render_tabnav :main do
    - add_tab do |t|
      - t.named 'Home'
      - t.links_to root_path()
      - t.highlights_on :controller => :pages, :action => :home
      - t.html= {:class => 'home'}
    - add_tab do |t|
      - t.named 'About us'
      - t.links_to about_path
      - t.highlights_on :controller => :pages, :action => :about
      - t.html= {:class => 'about_us'}
    - unless current_user
      - add_tab do |t|
        - t.named 'Take the test'
        - t.links_to new_person_path
        - t.highlights_on :controller => :people, :action => :new
        - t.html= {:class => 'person'}
    - add_tab do |t|
      - t.named 'Explore'
      - t.links_to mindapples_path
      - t.highlights_on :controller => :mindapples, :action => :index
      - t.html= {:class => 'five'}
    - add_tab do |t|
      - t.named 'Hire us'
      - t.links_to services_path
      - t.highlights_on :controller => :pages, :action => :services
      - t.html= {:class => 'services'}
    - add_tab do |t|
      - t.named 'Join us'
      - t.links_to grow_path
      - t.highlights_on :controller => :pages, :action => :grow
      - t.html= {:class => 'grow'}
    - add_tab do |t|
      - t.named 'Blog'
      - t.links_to 'http://mindapples.wordpress.com'
      - t.html= {:class => 'blog'}
    - if current_user && current_user.network
      - add_tab do |t|
        - t.named 'My community'
        - t.links_to network_path(current_user.network)
        - t.html= {:class => 'my_network'}
        - t.highlights_on proc { ! params[:network].blank? }
