Creating
%ul.people_import_results
  - @people_import.results.each do |result|
    %li
      - if result.is_a?(Person)
        Added:
        = link_to("#{result.email} (#{result.name})", person_path(result))
      - else
        = result
