%ol.what_section
  %li.what
    = image_tag('/images/icons/green_question_mark.png', :alt=>'question mark')
    What&#8217;s the 5 a day for your mind?

  %li.share
    = image_tag('/images/icons/green_comment_bubble.png', :alt=>'comment bubble')
    Share what works for you

  %li.discover
    = image_tag('/images/icons/two_green_arrows.png', :alt=>'two arrows')
    Discover new things to do

  %li.love
    = image_tag('/images/icons/green_heart.png', :alt=>'heart')
    Love your mind
