%div{:class => "what_section"}
  %div{:class => "what_section_element"}
    What's the 5 a day for your mind&#63;

  %div{:class => "what_section_element"}
    Share what works for you

  %div{:class => "what_section_element"}
    Discover new things to do

  %div{:class => "what_section_element"}
    Love your mind