%h1
  Who we are

%p
  Mindapples was thought up by <a title="Andy Gibson, Sociability" href="http://sociability.org.uk/about/andy" target="_blank">Andy Gibson</a> in April 2008 during the development of the first <a title="Social Innovation Camp" href="http://www.sicamp.org/?page_id=51" target="_blank">Social Innovation Camp</a>. Now it's being developed by a group of enthusiastic volunteers, working periodically from Andy's flat and the <a title="School of Everything" href="http://schoolofeverything.com" target="_blank">School of Everything</a> offices. There's no money or organisation behind this, just a group of collaborators peddling an interesting idea. And we're here for the love of it.

%h2
  The Mindapples Gardeners  

%ul
  %li
    <a title="Andy Gibson, School of Everything, Sociability, Mindapples, Social by Social" href="http://sociability.org.uk/about/andy" target="_blank">Andy Gibson</a>, head gardener
  %li
    <a title="Kate Andrews" href="http://kateandrews.wordpress.com/" target="_blank">Kate Andrews</a>
  %li
    <a title="Tessy Britton is Thriving" href="http://thrivingtoo.typepad.com/" target="_blank">Tessy Britton</a>, official flag waver
  %li
    <a title="Lauren Currie, Redjotter" href="http://redjotter.wordpress.com/" target="_blank">Lauren Currie</a>
  %li
    Neil Flintham, head of research 
  %li
    <a title="Ana Garcia, making the intangible tangible" href="http://www.helloanak.com/" target="_blank">Ana Garcia</a>, art director
  %li
    <a title="Sangeet Gyawali" href="http://www.sangeight.com/" target="_blank">Sangeet Gyawali</a>, website designer
  %li
    Cassie Robinson
  %li
    Hege Saebjornson, campaign director
  %li
    <a title="Tom Ten Thij - Ruby on Rails Development" href="http://tomtenthij.co.uk/" target="_blank">Tom Ten Thij</a>, lead developer

%h2
  Advisory Board  

%p
  We're also lucky enough to have a pretty wonderful set of people advising us, including:
%ul
  %li
    Charlie Davies, The Face, Last.fm
  %li
    John Grant, co-founder of <a title="St Lukes Communications" href="http://www.stlukes.co.uk/">St Lukes Communications</a>
  %li
    Alnoor Ladha, former Head of Social Strategy at <a href="http://www.motherlondon.com">Mother London</a>
  %li
    Luke Nicholson, <a title="More Associates" href="http://www.moreassociates.com">More Associates</a>
  %li
    Maureen Rice, founding editor of <a title="Psychologies Magazine" href="http://www.psychologies.co.uk/" target="_blank">Psychologies Magazine</a>
  %li
    Tanis Taylor, <a title="We are what we do" href="http://wearewhatwedo.org/" target="_blank">We Are What We Do</a>
  
%p  
  Along the way we've been helped (though not financially) by <a title="The Royal Society for Arts, Manufacturing and Commerce" href="http://www.thersa.org" target="_blank">the RSA</a>, <a title="The Young Foundation" href="http://www.youngfoundation.org.uk" target="_blank">the Young Foundation</a>, <a title="Channel 4" href="http://www.channel4.com" target="_blank">Channel 4</a> and <a title="Psychologies Magazine" href="http://www.psychologies.co.uk/" target="_blank">Psychologies Magazine</a>. We're also very grateful for the help and inspiration of <a title="Dr Liz Miller" href="http://doctorbloggs.blogspot.com" target="_blank">Dr Liz Miller</a>, Ian Gilmour of <a title="OK2B" href="http://www.ok2b.org/page2.html" target="_blank">OK2B</a>, Simon Lawton-Smith of the <a title="The Mental Health Foundation" href="http://www.mhf.org.uk" target="_blank">Mental Health Foundation</a>, designer <a title="Kris Morris music" href="http://www.krismorris.com/" target="_blank">Kris Morris</a> (who did our first logo!), Kat Pesaran of <a href="http://www.lybertyforall.com">Lyberty Communications</a> and PR whirlwind <a title="Heleana Quartey, arts PR" href="http://heleana.wordpress.com" target="_blank">Heleana Quartey</a>. 

%h3
  Want to help? Find out how you can 
  = link_to('help us grow', help_us_grow_path), "."