%h1
  Who we are

%p
  Mindapples was started by Andy Gibson back in 2008, founded as an organisation by Andy, Tessy Britton and Hege Saebjorsnen in 2010, and has  since grown into a thriving voluntary organisation with a wonderful network of supporters and advisors.

%h2
  Gardeners  

%ul
  %li
    <a title="Andy Gibson, School of Everything, Sociability, Mindapples, Social by Social" href="http://sociability.org.uk/about/andy" target="_blank">Andy Gibson</a>, head gardener
  %li
    <a title="Tessy Britton is Thriving" href="http://thrivingtoo.typepad.com/" target="_blank">Tessy Britton</a>, official flag waver
  %li
    <a href="http://www.hegesaebjornsen.com">Hege Saebjornsen</a>, Affluenza Exhibition, nef's Bigger Picture
  %li
    <a href="http://amandagore.wordpress.com">Amanda Gore</a>, founder PSFK  London
  %li
    <a title="Ana Garcia, making the intangible tangible" href="http://www.helloanak.com/" target="_blank">Ana Garcia</a>, art director
  %li
    <a href="http://www.cassierobinson.net">Cassie Robinson</a>, Agency, thinkpublic, Futuregov
  %li
    Esther King, Shell, RSA projects
  %li
    Jenny Reina, Hunter Gatherers, Pick Me Up
  %li
    <a title="Kate Andrews" href="http://kateandrews.wordpress.com/" target="_blank">Kate Andrews</a>
  %li
    Kat Pesaran and the team at <a title="Kat Pesaran, Drama Ltd" href="http://www.dramaltd.com/" target="_blank">Drama Ltd</a>
  %li
    <a title="Lauren Currie, Redjotter" href="http://redjotter.wordpress.com/" target="_blank">Lauren Currie</a>
  %li
    Louise Marshall, former general consul at Hudson Recruitment and Cable &amp; Wireless
  %li
    Lucy White, FC Business Intelligence
  %li
    Marilena Reina, Marketing Manager, Tate Britain
  %li
    Nicola Bonnick Caldeira, former BBC management accountant
  %li
    Sam Spedding, University of East London (Psychology Department)
  %li
    Sarah Drummond, MyPolice, Snook
  %li
    <a title="Sangeet Gyawali" href="http://www.sangeight.com/" target="_blank">Sangeet Gyawali</a>, website designer
  %li
    <a title="Tom Ten Thij - Ruby on Rails Development" href="http://tomtenthij.co.uk/" target="_blank">Tom Ten Thij</a>, lead developer

%h2
  Advisory Board  

%p
  We're also fortunate enough to have a pretty wonderful set of people advising us, including:
%ul
  %li
    Ravi Bagirathan, Cabinet Office
  %li
    Rose Casey-Challies, Director of Partners in Impact
  %li
    Charlie Davies, The Face, Last.fm
  %li
    Roger Edmonds, Marketing Manager, Pepsico
  %li
    Peter Gibson, founder of <a title="Philosophy Ideas" href="http://www.philosophyideas.com/">Philosophy Ideas</a>, and Andy's dad
  %li
    John Grant, co-founder of <a title="St Lukes Communications" href="http://www.stlukes.co.uk/">St Lukes Communications</a>
  %li
    Christine Hartland, producer, Sick and WMD
  %li
    Diane Herbert, HR Director at <a title="Channel 4" href="http://www.channel4.com">Channel 4</a>
  %li
    Sophie Howarth, founder of <a title="The School of Life" href="http://www.theschooloflife.com">the School of Life</a>
  %li
    Oliver James, clinical psychiatrist and broadcaster, author of Affluenza
  %li
    Kerry McCarthy, NESTA, K-Clarity
  %li
    Maureen Rice, founding editor of <a title="Psychologies Magazine" href="http://www.psychologies.co.uk/" target="_blank">Psychologies Magazine</a>
  %li
    <a href="http://www.colintate.com">Colin Tate</a>, Nemawashi, School of Everything
  %li
    Tanis Taylor, <a title="We are what we do" href="http://wearewhatwedo.org/" target="_blank">We Are What We Do</a>
  %li
    Jo Worsley, freelance journalist and writer for One in Four magazine

%h2
  Supporters and partners  

%p  
  Along the way we've worked with, and been helped by, <a title="The Young Foundation" href="http://www.youngfoundation.org.uk" target="_blank">the Young Foundation</a>, the <a href="http://www.nef.org.uk">New Economics Foundation</a>, The Work Foundation, Ilona Boniwell at University of East London, <a title="The Royal Society for Arts, Manufacturing and Commerce" href="http://www.thersa.org" target="_blank">the RSA</a>, Courvoisier, BBC Careerlink, Engauge, <a title="Ian Gilmour, OK2B" href="http://www.ok2b.org/page2.html" target="_blank">Ian Gilmour of OK2B</a>, <a title="Simon Lawton-Smith of the Mental Health Foundation" href="http://www.mhf.org.uk" target="_blank">Simon Lawton-Smith of the Mental Health Foundation</a>, <a title="Kris Morris music" href="http://www.krismorris.com/" target="_blank">Kris Morris</a> (who did our first logo), PR whirlwind <a title="Heleana Quartey, arts PR" href="http://heleana.wordpress.com" target="_blank">Heleana Quartey</a>, Marjorie Thompson, Henry Playfoot at <a href="http://www.whiteloop.com">Whiteloop</a>, Si&acirc;n Croxton of DLA Piper, the <a href="http://sicamp.org">Social Innovation Camp</a> community, <a title="Learn everything" href="http://www.schoolofeverything.com/" target="_blank">School of Everything</a>, <a title="Unboxed Consulting" href="http://www.unboxedconsulting.com/" target="_blank">Unboxed Consulting</a>, <a title="Webstars" href="http://www.webstarsltd.com" target="_blank">Webstars</a>, <a title="White Label PR" href="http://www.whitelabeluk.com" target="_blank">White Label PR</a>, <a title="FreeAgentCentral, accounting for busy people" href="http://www.freeagentcentral.com" target="_blank">FreeAgentCentral</a>, <a title="UnLtd" href="http://www.unltd.org.uk" target="_blank">UnLtd</a> and the <a title="Nominet Trust" href="http://www.nominettrust.org.uk" target="_blank">Nominet Trust</a>, many of the <a href="http://www.courvoisierthefuture500.com">Courvoisier Future 500</a>, and lots of other lovely people. 

%p
  There's no hidden agenda or 
  = link_to('big company', organisation_path)
  behind this: just a group of collaborators peddling an interesting idea and building something good. And we're here for the love of it. Read more about 
  = link_to('how we got here', how_we_got_here_path)
  , and take a look at our 
  = link_to('media coverage', media_path)
  too.

%h3
  Want to help? Find out how you can 
  = link_to('help us grow', grow_path) + "."
