%h1
  About Mindapples

%p
  Mindapples is a new initiative promoting mentally healthy living for everyone through simple, daily activities. We want to make looking after our minds as natural as brushing our teeth, simply by asking everyone: &#8220;What's the 5-a-day for your mind?&#8221;

%p
  We all know how to take care of our bodies - we can eat healthy food, try to keep fit, brush our teeth and worry about our waistlines. Yet when it comes to our minds, we have no idea what to do, so we take terrible care of ourselves and leave it to the experts to fix us if anything goes wrong. But experts can only do so much. So if we can look after our bodies by going for a run, or eating an apple, then what&#8217;s the equivalent for our minds?

%p
  The original 5-a-day campaign told us to look after our bodies by eating five fruit and veg a day, but our minds are a little bit more complicated. So we don&#8217;t tell people what to do. Instead, we want to know what works for you. We&#8217;re asking everyone to pick their own &#8220;mindapples&#8221; and share them with the world, and using the power of the internet to build a thriving community of people supporting each other to make their minds healthier. And by asking a question which everyone can answer, we hope to open up a new, positive dialogue about mental health which everyone can join in, and make mentally healthy living something aspirational and enjoyable for all.

%p
  This is a community, a campaign, and a social enterprise. We will soon be offering free web tools here to help everyone pick, share and practice their mindapples. We are also developing innovative consultancy services to engage a wide range of communities in picking their mindapples too &#8212; from big corporations and SMEs, to local communities, schools, universities and health services.  Profits will be channelled back into the community to run a major national awareness campaign to make looking after our minds as natural as brushing our teeth, promoting the Mindapples brand in the process.

%p
  We know there is a market for what we do. So far we have rallied a large community of fantastic supporters, harvested over 1200 people&#8217;s mindapples, and built a reputation as a breath of fresh air in the mental health and wellbeing sectors. We need help seed-funding the project, volunteers to help us grow, and pilot groups from the commercial and public sectors to work with us to build our services and prove the value of our unique approach.

%p
  %cite
    &#8220;Mindapples is a unique endeavour that combines a grass-root approach to happiness with what we know about mental health and well-being from scientific research.&#8221; &#8212; Dr Ilona Boniwell, Programme Leader, MSc Applied Positive Psychology, University of East London
    %br
    %br
    &#8220;Drugs and therapists are all very well if a wheel comes off, but Mindapples are there to keep the wheels in place.&#8221; &#8212; Dr Liz Miller

%p
  So, over to you. Have you had 
  %i
    your 
  mindapples?

%h4
  Andy Gibson
  %br
  Head Gardener

%h5
  Mindapples is an independent non-profit organisation run by volunteers but well on the way to becoming a national social enterprise. Find out more about 
  = link_to('who we are', team_path)
  and 
  = link_to('how we got here', how_we_got_here_path)
  and if you like what we're doing, please
  = link_to('help us grow', grow_path) + "."
