%h1
  A Mindapple a Day

%p
  Want to look after your mind? Then take our 'apple-a-day' challenge. For just £5, we'll deliver a mindapple to your inbox each morning, together with interesting recommendations of fun ways to improve your mental wellbeing. All the mindapples have been suggested by another member of the community, and we'll make sure each one is simple, practical and best of all, free.
%p
  = link_to('Contact us to find out more', contact_path) + "."