.sub_tabnav.sub_tabnav
  %ul
    %li.about.about_idea
      %a.about.about_idea{:href => "/about"} The idea
    %li.about.about_team
      %a.about.about_team{:href => "/about/team"} Who we are
    %li.about.about_organisation
      %a.about.about_organisation{:href => "/about/organisation"} Organisation
    %li.about.about_evidence
      %a.about.about_evidence{:href => "/about/evidence"} Evidence
    %li.about.about_contact
      %a.about.about_contact{:href => "/about/contact"} Contact
    %li.about.about_media
      %a.about.about_media{:href => "/about/media"} Media

.sub_central
  .inner

    %h1
      The Big Treat: A Pop-up Health Farm

    %p
      %a 
        {:href => "http://www.flickr.com/photos/mindapples/galleries/72157627825145133/with/6055809049/lightbox/")
        %img{:src => "http://farm7.static.flickr.com/6203/6055791237_b4a1948da3.jpg", :alt => "Courvoisier and Mindapples present... The Big Treat", :align => "center"} 

    %p
      Feeling stuck for what to do on your company's wellbeing day? In July 2010 Mindapples teamed up with Courvoisier to present a new kind of treat for your mind and body, a glamorous pop-up health farm at the Future Gallery in Central London. If you'd like us to organise something similar in your venue or organisation, please
      = link_to('contact us', contact_path) + "."

    %p
      Take a look at some of the highlights below, and view
      = link_to('some of the best photos', contact_path)
      from the event.
      %br
      <object width="540" height="325" align=center><param name="movie" value="http://www.youtube.com/v/lbZfBwq6hLw?fs=1&amp;hl=en_GB"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/lbZfBwq6hLw?fs=1&amp;hl=en_GB" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="535" height="325"></embed></object>
      
    %h3
      Original Programme: The Big Treat, 16-17 July 2010
    
    %p
      %i
        The Future Gallery, 5 Great Newport Street, London WC2H 7HY
      %br
      Escape the stresses of the city, sit on the real green grass under the Mindapples tree, and sample some of the healthiest treats around, including:

    %p  
      %b
        Friday 16th July 2010
      %br
      12:30 - lunchtime meditation from Headspace
      %br
      14:00 - The Awake Project Workshop
      %br
      15:15 - Kung Fu: Focus, Centering, Balance
      %br
      17:30 - skip the rush hour and try some genuine Argentine Tango!

    %p  
      %b
        Saturday 17th July 2010
      %br
      13:00 - Nia: Neuromuscular Integrative Action (oooh)
      %br
      13:30 - Kung Fu 2: another chance to learn Focus, Centering, Balance
      %br
      15:00 - The Awake Project reprised

    %p  
      + Tasty healthy picnics from Crussh
      %br
      + Massage from Positive Touch
      %br
      + Shopping MOT and healthy recipes from SavvyCook
      %br
      + Digital Health Clinic
      %br
      + Intimacy consultations from Rose Orange

    %p  
      Mindapples produced the Big Treat as part of Courvoisier's two-week 
      = link_to('Revolutionary Spirit Festival', 'http://www.revolutionary-spirit.com')
      , which drew on the collective inspiration of the Courvoisier Future 500 members to curate a summer of events including Punchdrunk Theatre's Masque of the Red Death and epicurean extravaganza The Complete History of Food, with long term Courvoisier partners Bompas & Parr.
