%h1
  The Big Treat, 16-17 July 2010

%p
  %img{:src => "/images/content/courvoisier.jpg" } 
  Mindapples have teamed up with Courvoisier to present a treat for your mind and body, a free pop-up health farm in the heart of Central London.

%p
  The Big Treat, 16-17 July 2010
  Friday 11am - 7pm, Saturday 11am - 5pm
  The Future Gallery
  5 Great Newport Street, London WC2H 7HY
  Nearest tube: Leicester Square
  Free entry

%p
  Escape the stresses of the city, sit on the real green grass under the Mindapples tree, and sample some of the healthiest treats around, including:

%p  
  %b
    Friday 16th July 2010
  12:30 - lunchtime meditation from Headspace
  14:00 - The Awake Project Workshop
  15:15 - Kung Fu: Focus, Centering, Balance
  17:30 - skip the rush hour and try some genuine Argentine Tango!

%p  
  %b
    Saturday 17th July 2010
  13:00 - Nia: Neuromuscular Integrative Action (oooh)
  13:30 - Kung Fu 2: another chance to learn Focus, Centering, Balance
  15:00 - The Awake Project reprised

%p  
  + Tasty healthy picnics from Crussh
  + Massage from Positive Touch
  + Shopping MOT and healthy recipes from SavvyCook
  + Digital Health Clinic
  + Sex and intimacy consultations from Rose Orange

%p  
  Please come along and treat yourself on us!
  