%h1
  The Big Treat: A Pop-up Health Farm

<a href="http://www.flickr.com/photos/mindapples/galleries/72157627825145133/with/6055809049/lightbox/" target="_blank"><img src="http://farm7.static.flickr.com/6203/6055791237_b4a1948da3.jpg" alt="Courvoisier and Mindapples present... The Big Treat" align="center" /></a>

%p
  Running a wellbeing day? In July 2010 Mindapples teamed up with Courvoisier to present a new kind of treat for your mind and body, a glamorous pop-up health farm at the Future Gallery in Central London. If you'd like us to organise something similar in your organisation, please
  = link_to('contact us', contact_path) + "."

%p
  Take a look at some of the highlights below, and
  = link_to('view some of the best photos from the event here', 'http://www.flickr.com/photos/mindapples/galleries/72157627825145133/with/6055809049/lightbox/')
  %br
  <object width="540" height="325" align=center><param name="movie" value="http://www.youtube.com/v/lbZfBwq6hLw?fs=1&amp;hl=en_GB"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/lbZfBwq6hLw?fs=1&amp;hl=en_GB" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="535" height="325"></embed></object>
  
%h2
  The Big Treat, 16-17 July 2010: The Original Programme

%p
  %i
    The Future Gallery, 5 Great Newport Street, London WC2H 7HY
  %br
  Escape the stresses of the city, sit on the real green grass under the Mindapples tree, and sample some of the healthiest treats around, including:

%p  
  %b
    Friday 16th July 2010
  %br
  12:30 - lunchtime meditation from Headspace
  %br
  14:00 - The Awake Project Workshop
  %br
  15:15 - Kung Fu: Focus, Centering, Balance
  %br
  17:30 - skip the rush hour and try some genuine Argentine Tango!

%p  
  %b
    Saturday 17th July 2010
  %br
  13:00 - Nia: Neuromuscular Integrative Action (oooh)
  %br
  13:30 - Kung Fu 2: another chance to learn Focus, Centering, Balance
  %br
  15:00 - The Awake Project reprised

%p  
  + Tasty healthy picnics from Crussh
  %br
  + Massage from Positive Touch
  %br
  + Shopping MOT and healthy recipes from SavvyCook
  %br
  + Digital Health Clinic
  %br
  + Intimacy consultations from Rose Orange

%p  
  Mindapples produced the Big Treat as part of Courvoisier's two-week 
  = link_to('Revolutionary Spirit Festival', 'http://www.revolutionary-spirit.com')
  , which drew on the collective inspiration of the Courvoisier Future 500 members to curate a summer of events including Punchdrunk Theatre's Masque of the Red Death and epicurean extravaganza The Complete History of Food, with long term Courvoisier partners Bompas & Parr.
