%h1
  Mindapples in communities

%p
  Our communities have never been under greater threat, with fears of antisocial behaviour and lack of neighbourliness being rapidly replaced by more fundamental pressures on families and local communities as the economic recession and public sector cuts take effect. There has never been a greater need for us to do all that we can to take care of our minds, and the health of the people around us.

%h2
  Our approach

%p
  All our programmes are based on the core Mindapples Self-Observation Process:
  %br
  %img{:src => "/images/content/1-2-3.gif" }

%p
  We never tell people what to do: instead we find our what communities need and help them create it together. The Mindapples methodology has been specially designed to teach emotional intelligence, build locus of control and respect the needs and desires of everyone, and to respect different cultural values by reflecting back what people want to spread the word and invigorate local action and self-management.
  
%p
  If you are interested in working with us to pilot Mindapples in local areas, or are curious to explore how Mindapples might help the people you care about, please contact Andy Gibson on andy[at]mindapples.org.
