%h1
  Contact us

%p
  We'd love to hear from you. We're only a small voluntary organisation though, so please do forgive us if we're a bit slow in replying.

%p  
  Find out how you can 
  = link_to 'help us grow', grow_path
  or drop us a line at
  = link_to('hello@mindapples.org', 'mailto:hello:mindapples.org')
  