%h1
  Donate

%p
  Mindapples is a non-profit organisation run by a group of volunteers who give all their time for free. 
  
%p
  So far, we've got by on a few grand kindly donated by UnLtd and Nominet Trust, the founders of Mindapples and a couple of private donors. This has been amazingly useful for the website, the facebook application and our summer events programme. But it's not enough. We want to start loads of exciting projects to spread the good word of taking care of our minds. Our dream is to have an impact on the entire country and completely change the way people think about their minds.

%p
  So if you like what we're doing, please donate 5 GBP - or more if you can - to help us plant the mindapples seed in more and more minds.

%p
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="3P8YP3QVG2KY6">
  <input type="image" src="https://www.paypal.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
  <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
  </form>

%p
  Your donation will be spent on:

%p
  %ul
    %li
      improving our website and building the online community
    %li
      promotional materials to tell people about the Mindapples campaign
    %li
      match-funding to help us raise bigger donations from corporations and trusts

%p
  When you donate, we'll also plant a tree for you in our virtual Mindapples Orchard (once we've built it), and everyone who donates now will become a 'pro' user of the Mindapples website. We can't promise you lots of great benefits just yet, but we can give you a public "thank-you" and you'll get priority claims on any fun stuff we're doing.

%p
  Thank you so very very much.

%p
  Love from,
  %br
  The Mindapples Gardeners