%h1
  Donate now! 

%p
  Mindapples is an independent non-profit organisation and receives no public money or commercial sponsorship. If you like what we do, please make a small donation to our cause to help us take our campaign and education work. You can give online below, or send cheques payable to 'Mindapples' to us at Mindapples, 145-157 St John Street, London EC1V 4PW.

%p
  We are currently fundraising for two campaigns, and the more you give, the more we can do:
  %li £4000 will enable us to give 
  = link_to('Mindapples Trees and toolkits', engagement_path)
  to 16 UK universities for their September Freshers' Fairs, to support the mental health of students and graduates facing a challenging job market.
  %li £2500 buys Mindapples Trees for 10 schools around London to get city school children thinking positively about their minds.

%p
  <div id="ammadoGivingWidget" align="center"></div><script type="text/javascript">var s = document.createElement('script'); s.type='text/javascript'; s.async=true;s.src='https://www.ammado.com/nonprofit/116695/givingwidget/embed.js?renderTo=ammadoGivingWidget';var f = document.getElementsByTagName('script')[0]; f.parentNode.insertBefore(s, f);</script>
  
%p
  %br
  %b
    Or donate via Paypal:
  <div id="PaypalWidget"></div><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="3P8YP3QVG2KY6">
  <input type="image" src="https://www.paypal.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
  <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
  </form>

%p
  You can also help us grow by
  = link_to('using Mindapples in your own work', grow_your_own_path) + ","
  = link_to('becoming a partner organisation', partnerships_path) + ","
  and 
  = link_to('volunteering for us', volunteer_path) + "."

%p
  Lots of love,
  %br
  The Mindapples Gardeners
