%h1
  Donate

%p
  Mindapples is a non-profit organisation run by a group of volunteers who give all their time for free. We hope to start loads of exciting projects to spread the good word of taking care of our minds.  

%p
  So far, we’ve got by on a few grand kindly donated by UnLtd and Nominet Trust, the founders of Mindapples and a couple of private donors. This has been amazingly useful for the website, the facebook application and our summer events programme.

%p
  The thing is though, it's just not enough. Our dream is to have an impact on the entire country and completely change the way people think about their minds.

%p
  Now we’ve begun to build a community of lovely people like you to support our cause, we wondered if you'd like to help?

%p
  If you like what we’re doing, please donate £5 - more if you like - to help us plant the Mindapples seed in more and more minds.

%p
  Your donation will be spent on:

%p
  %ul
    %li
      improving our website and building the online community
    %li
      promotional materials to tell people about the Mindapples campaign
    %li
      match-funding to help us raise bigger donations from corporations and trusts

%p
  When you donate, we’ll plant a tree for you in our virtual Mindapples Orchard. You can watch your tree grow as we do.

%p
  Also, everyone who donates now will become a ‘pro’ user of the Mindapples website. We can’t promise you lots of great benefits just yet, but you’ll be given special status and you’ll get advanced notice of fun stuff we’re doing.

[NICE BIG DONATE BUTTON]

%p
  Thank you so very much

%p
  Love from the Mindapples Team