%h1
  Donate now! 

%p
  Mindapples is an independent non-profit organisation with no central funding, run and staffed mostly by volunteers, so the best way you can support us is by 
  %b
    GIVING US MONEY
  to run this website and develop the organisation. If you like Mindapples, please donate £5 or more using this funny little widget below.

%p
  <div id="ammadoGivingWidget"></div><script type="text/javascript">var s = document.createElement('script'); s.type='text/javascript'; s.async=true;s.src='https://www.ammado.com/nonprofit/116695/givingwidget/embed.js?renderTo=ammadoGivingWidget';var f = document.getElementsByTagName('script')[0]; f.parentNode.insertBefore(s, f);</script>
  
%p
  %br
  %br
  %b
    Or donate via Paypal:
  <div id="PaypalWidget"></div><form action="https://www.paypal.com/cgi-bin/webscr" method="post" align="right">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="3P8YP3QVG2KY6">
  <input type="image" src="https://www.paypal.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
  <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
  </form>

%p
  We can't promise you lots of great benefits just yet, but anyone who donates will go on our special list of people we really like, we'll give you a public "thank-you" (if you want one) and you'll get priority on any fun stuff we do in the future. We'll be turning this into a proper membership scheme to give extra benefits to donors once we have the cash to actually do so.

%p
  Lots of love,
  %br
  The Mindapples Gardeners
