%h1
  Engagement services 

%p
  We specialise in getting pretty much anyone to think differently about the health of their minds. If you want to encourage a group of people - staff, patients, citizens, customers - to talk more openly about mental wellbeing, and take more control of the health of their minds, then we can help.

%p
  All our engagement tools have been thoroughly tested in situations as diverse as the BBC, Lambeth GP surgeries, music festivals and Brixton Village Market. Our innovative methods are now being trialled by the NHS in South East London, and evaluated by the pretigious healthcare research body, the Institute of Psychiatry.
  
%p
  All our engagement work begins with the core Mindapples question, 
  %i
    "what's the 5-a-day for your mind?"
  Our positive approach gives us a unique route into the topic, and builds on people's capacity to help themselves by focussing on what they are already doing to look after themselves. Our engagement programmes promote the value of looking after our minds and help individuals see the importance of their day-to-day activities in maintaining their mental wellbeing. Once people are engaged positively in the conversation, we can recommend new services and support tools to help them build better habits, and connect people together to support and learn from each other. 
  
%h2
  Digital engagement

%p
  The power of our question-based approach is that we can use digital tools to engage large numbers of people for remarkably low costs. We can survey any group of people to collect their 5-a-day suggestions and share their responses digitally with their peers. The result is a digital community of people sharing what works for them and swapping tips and recommendations, and a new positive conversation about mental health and wellbeing that everyone can enjoy. Try the tools for yourself now on this site, and speak to us directly about running a Mindapples survey for your organisation or community. 

%h2
  Installations and pop-ups

%p
  Websites are great, but there's nothing quite like a face-to-face conversation. We support our digital tools with eye-catching installations and engagement materials that start fun conversations about mental wellbeing and gather 5-a-day suggestions from all kinds of people, in workplaces, at public events, and even in. 

%p
  Our showpiece installation is the Mindapples Tree, which engages passers-by in sharing their mindapples via specially-designed cards and hanging them up for others to see, creating a fascinating display of all the weird and wonderful things people do to look after their minds. In 2010 the Mindapples Tree was used to engage individuals in a range of contexts including workplaces, cinemas, music festivals, professional conferences and even art galleries, and in 2011 it will be touring many summer festivals including the Secret Garden Party, the Big Chill and the Thames Festival. Here's an example the Mindapples tree in action on the streets of Brixton in October 2010.
<div class='promotional_video'><iframe title='Mindapples in Brixton, October 2010' allowfullscreen='' frameborder='0' width='519' height='322' src='http://www.youtube.com/embed/7x8gXSCA4Ww'></iframe></div>

%h2
  Wellbeing days

%p
  For some clients, we occasionally deliver major engagement events to promote mental wellbeing and showcase popular activities that our good for their minds. We've worked with brands like Crussh, Headspace, Positive Touch and even Courvoisier to put together entertaining and rewarding packages that promote wellbeing to staff, customers and the general public. We're always happy to talk to potential clients and sponsors about creating wonderful events to promote positive mental health and start new conversations about mental and physical wellbeing. Our signature event in 2010 was <a href="/thebigtreat">The Big Treat</a>, in partnership with Courvoisier, and here is the video they made of the occasion.
<div class='promotional_video'><iframe title='Courvoisier and Mindapples present... The Big Treat' allowfullscreen='' frameborder='0' width='519' height='322' src='http://www.youtube.com/embed/lbZfBwq6hLw'></iframe></div>
  
%p
  All our engagement work also promotes the Mindapples campaign itself, and profits are channelled back into the organisation to fund our public engagement work. The suggestions we collect are also added anonymously to the Mindapples community to help others learn what works for them. So, the more you do, the more we learn. 

%p
  %i
    If you'd like to speak to us about engaging your people in taking better care of their minds, e-mail us at
    = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org') + "."
