%h1
  Engagement services 

%p
  We specialise in getting almost anyone to consider and talk about the health of their minds in a positive way. If you want to encourage a group of people - staff, patients, citizens, customers - to take better care of their minds, or talk more openly about mental health, then we can help.

%p
  All our engagement services begin with the core Mindapples question 
  %i
    "what's the 5-a-day for your mind?"
  This simple opening gives us a positive route into the topic and encourages people to reflect and take notice of what they do already to look after themselves. The question itself also contains important knowledge for individuals about the importance of looking after our minds and the role of our own day-to-day activities in maintaining our mental wellbeing. Once people are engaged in a positive conversation about the health of their minds, we can either pass them on to others to provide services and support, or work with people to help them learn what works for them and build good habits to take care of themselves.
  
%h2
  Digital engagement

%p
  We use digital tools to engage people at scale for low costs and get large numbers of individuals sharing their mindapples and joining the conversation. We invite public contributions to the Mindapples survey through our website www.mindapples.org, and run bespoke surveys and online communities for clients to help large groups of people discuss what works for them and find new activities to try. 

%h2
  Installations and pop-ups

%p
  We support and promote our scalable digital tools through more traditional methods of engagement, using eye-catching installations to start positive conversations and gather 5-a-day suggestions from all kinds of people, in private and at public events. 

%p
  The Mindapples Tree is a unique installation which engages passers-by in sharing their mindapples on specially-designed cards and hanging them on the tree, creating a fascinating display of all the things people are doing to look after their minds. In 2010 the Mindapples Tree was used to engage individuals in a range of contexts including workplaces, cinemas, music festivals, professional conferences and even art galleries. 
  
%p
  Here is an example of a recent pop-up where we took Mindapples to the streets to talk to engage the public in taking better care of the health of their minds.
<div class='promotional_video'><iframe title='Mindapples in Brixton, October 2010' allowfullscreen='' frameborder='0' width='519' height='322' src='http://www.youtube.com/embed/7x8gXSCA4Ww'></iframe></div>

%h2
  Showcase events

%p
  We also occasionally deliver engaging showcase events to promote mental wellbeing and encourage people to try new activities that our good for their minds. We've worked with brands like Crussh, Headspace, Positive Touch and even Courvoisier to put together entertaining and rewarding packages that promote wellbeing to the public. We're always looking for imaginative sponsors and clients to create promotional events and start positive conversations about mental and physical wellbeing. 
  
%p
  Our signature event in 2010 was <a href="/thebigtreat">The Big Treat</a>, in partnership with Courvoisier, and here's the video they made of the occasion.
<div class='promotional_video'><iframe title='Courvoisier and Mindapples present... The Big Treat' allowfullscreen='' frameborder='0' width='519' height='322' src='http://www.youtube.com/embed/lbZfBwq6hLw'></iframe></div>
  
%p
  Our engagement tools have been tested in situations as diverse as the BBC, Lambeth GP practices, the Secret Garden Party and Brixton Village Market, and we're always looking for new places to test our unique approach. All our engagement tools have been developed in consultation with our academic and NHS partners and have been rigorously tested in a range of social contexts, and are currently being evaluated by the pretigious healthcare research body, Kings Health Partners. All the suggestions we collect are also added anonymously to the Mindapples.org community, and can then be analysed to generate valuable insights and recommendations for decision-makers. So, the more we do, the more you learn. 

%p
  %i
    If you'd like to know what we can do to engage your people in taking better care of their minds, e-mail us at
    = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org') + "."
