%h1
  Engagement services 

%p
  %b
    We get people talking positively about their minds. 
  Whether your aim is to reduce stigma around mental ill-health or encourage people to take better care of themselves, our engagement services give people a better way to talk about their minds.
  
%p
  All our engagement starts with the question: 
  %i
    "what's the 5-a-day for your mind?"
  By asking people what they do already, we put people in control and give them responsibility for their own health. We've used this approach successfully in all kinds of situations, including the corporate vents, festivals, universities, schools and community events, and are tailored to suit a range of budgets.

%p
  %i
    "Mindapples and its simple but effective concept of five a day is a great platform for sharing ideas and challenges us to help ourselves while taking control of our mental attitude and health."
  %br
  Una Murphy, Manager, BBC CareerlinkPlus

%p
  %b
    = link_to('Book your engagement services now', contact_path) + "."
  
%h2
  The Mindapples Tree

%p
  The Mindapples Tree is a pop-up installation which promotes mental wellbeing. People write their mindapples on apple-shaped cards and hang them on the tree for others to see, creating a positive talking point and giving participants the chance to share what works for them. Our installations have been used successfully in offices, corporate conferences, music festivals, street markets and even in art galleries, and they're guaranteed to make a big impact. Here's a Mindapples tree in action at The Future of Web Apps Conference in October 2011.
<div class='promotional_video'><iframe width="519" height="322" title="Mindapples at the Future of Web Apps" src="http://www.youtube.com/embed/x3G6TOY0K7A?hl=en&fs=1" frameborder="0" allowfullscreen></iframe></div>

%h2
  'Grow Your Own' Toolkits 

%p
  If you want a Mindapples Tree of your very own, or if you're running a local event and want to use the mindapples '5-a-day for your mind' concept, you can buy cardboard trees and event toolkits over at the <a href="/shop">Mindapples Shop</a>. If you're a non-profit organisation interested in purchasing some of our materials, you might also want to drop us a line at hello[at]mindapples.org and we sometimes offer small discounts to like-minded organisations.

%h2
  Wellbeing days

%p
  We deliver high-quality engagement events to promote mental wellbeing and showcase popular activities that our good for our minds. We've worked with brands like Crussh, Headspace, Positive Touch and Courvoisier to run major public events, most famously <a href="/thebigtreat">The Big Treat</a>, a pop-up health farm filled with amazing ways to treat yourself better. Here's the video Courvoisier made of the event.
<div class='promotional_video'><iframe title='Courvoisier and Mindapples present... The Big Treat' allowfullscreen='' frameborder='0' width='519' height='322' src='http://www.youtube.com/embed/lbZfBwq6hLw'></iframe></div>
  
%h3
  = link_to ('Download a PDF guide to our engagement services here', 'http://mindap.pl/1j0Vpq0')

%p
  %b
    = link_to('Book your engagement services now!', contact_path)
