%h1
  Engagement services 

%p
  %b
    Mindapples is the leading brand for engaging people in taking care of their minds. 
  Whatever the issue, we make it easier for people to talk about it, and for organisations to act on it.
  
%p
  We begin all our engagement programmes by asking everyone 
  %i
    "what's the 5-a-day for your mind?"
  . We accentuate the positive, promoting what people are already doing right, and creating opportunities to offer services that boost wellness and resilience. Our unique approach has been thoroughly tested in situations as diverse as the BBC, British Gas, the Secret Garden Party and Brixton Market, and are now being trialled by the NHS and evaluated by the pretigious healthcare research body, the Institute of Psychiatry.

%p
  %b
    = link_to('Order your engagement services now', contact_path)
  or read more about what we do below.
  
%h3
  The Mindapples Tree

%p
  We use engaging installations and printed materials to start positive conversations with large groups of people. Our showpiece installation is the Mindapples Tree, which engages individuals in sharing their mindapples via specially-designed cards and hanging them up for others to see, creating an interactive installation sharing positive knowledge and experiences. The Mindapples Tree has been used successfully in workplaces, conferences, music festivals, street markets and even art galleries, and in 2011 toured many summer festivals including Secret Garden Party, the Big Chill and Thames Festival. Here's an example the Mindapples tree in action on the streets of Brixton in October 2010.
<div class='promotional_video'><iframe title='Mindapples in Brixton, October 2010' allowfullscreen='' frameborder='0' width='519' height='322' src='http://www.youtube.com/embed/7x8gXSCA4Ww'></iframe></div>

%p
  %i
    We trialled out the initiative in the heart of Brixton and something about the tools really worked with people. Instead of telling people what they should do, the Mindapples approach starts a conversation with the public about what they do to feel good."
  %br
  Lucy Smith, Public Health Manager - Mental Wellbeing, NHS South East London

%h3
  Promotional events

%p
  Stuck for ideas for your corporate wellbeing day? We design and deliver major lifestyle events to promote mental wellness and showcase popular activities that our good for our minds. We've worked with brands like Crussh, Headspace, Positive Touch and Courvoisier to put together entertaining and rewarding packages that promote health and wellness to staff, customers and the general public. Our signature event in 2010 was <a href="/thebigtreat">The Big Treat</a>, in partnership with Courvoisier, and here is the video they made of the occasion.
<div class='promotional_video'><iframe title='Courvoisier and Mindapples present... The Big Treat' allowfullscreen='' frameborder='0' width='519' height='322' src='http://www.youtube.com/embed/lbZfBwq6hLw'></iframe></div>
  
%h3
  Digital engagement

%p
  Mindapples has always had a strong digital following, and we also use the latest digital tools to engage large numbers of people for our clients at a remarkably low cost. We collect 5-a-day suggestions online via www.mindapples.org and customised client platforms, and build digital communities for sharing experiences and swapping recommendations. We're currently adding more digital engagement tools to our offer, to allow people to continue their engagement in the mindapples concept, and to help individuals look after themselves. Try the basic tools for yourself now on this site, and speak to us directly about running a Mindapples survey for your organisation or community. 

%p
  %i
    "Mindapples and its simple but effective concept of five a day is a great platform for sharing ideas and challenges us to help ourselves while taking control of our mental attitude and health. At Careerlinkplus we are telling our clients to log on to www.mindapples.org and explore what will help them stay positive as they move forward."
  %br
  Una Murphy, Manager, BBC CareerlinkPlus

%p
  %b
    = link_to('Order your engagement services now!', contact_path)
