%h1
  Engagement services 

%p
  %b
    We encourage people to take care of their minds. 
  Our engagement services give organisations a better way to talk about mental health, starting positive conversations and helping people share what works for them.
  
%p
  Rather than telling people what to do, we begin by asking everyone 
  %i
    "what's the 5-a-day for your mind?"
  By promoting what people are already doing right, we put people in control and . Our unique approach has been thoroughly tested in situations as diverse as the BBC, Bristol University, Secret Garden Party and Brixton Market, and we are currently seeking NHS research governance permissions for a full trial in GP surgeries in Lambeth, to be evaluated by the prestigious healthcare research body, the Institute of Psychiatry.

%p
  %i
    "Mindapples and its simple but effective concept of five a day is a great platform for sharing ideas and challenges us to help ourselves while taking control of our mental attitude and health. At Careerlinkplus we are telling our clients to log on to www.mindapples.org and explore what will help them stay positive as they move forward."
  %br
  Una Murphy, Manager, BBC CareerlinkPlus

%p
  %b
    = link_to('Book your engagement services now', contact_path) + "."
  
%h2
  The Mindapples Tree

%p
  The Mindapples Tree is a pop-up installation which promotes mental wellbeing. People write their mindapples on apple-shaped cards and hang them on the tree for others to see, creating a positive talking point and giving participants the chance to share what works for them. Our installations have been used successfully in offices, corporate conferences, music festivals, street markets and even in art galleries, and they're guaranteed to make a big impact. Here's a Mindapples tree in action at The Future of Web Apps Conference in October 2011.
<div class='promotional_video'><iframe width="519" height="322" title="Mindapples at the Future of Web Apps" src="http://www.youtube.com/embed/x3G6TOY0K7A?hl=en&fs=1" frameborder="0" allowfullscreen></iframe></div>

%h2
  Digital engagement

%p
  Mindapples began as an online campaign, and we still use the latest digital tools to engage people in sharing their 5-a-days and finding new ways to take care of their minds. Our customised client platforms allow businesses, communities and peergroups to share experiences and swap recommendations. If you want a microsite for your organisation where your people can discuss mental wellbeing and learn from each other, 
  = link_to('get in touch now', contact_path) + "."

%h2
  Wellbeing days

%p
  Stuck for ideas for your corporate wellbeing day? We design and deliver creative engagement events to promote mental wellbeing and showcase popular activities that our good for our minds. We've worked with brands like Crussh, Headspace, Positive Touch and Courvoisier to run major public events, most famously <a href="/thebigtreat">The Big Treat</a>, a pop-up health farm filled with amazing ways to treat yourself better. Here's the video Courvoisier made of the event.
<div class='promotional_video'><iframe title='Courvoisier and Mindapples present... The Big Treat' allowfullscreen='' frameborder='0' width='519' height='322' src='http://www.youtube.com/embed/lbZfBwq6hLw'></iframe></div>
  
%p
  %b
    = link_to('Book your engagement services now!', contact_path)
