%h1
  Engagement services 

%p
  %b
    Mindapples is the leading organisation in the UK for engaging people in mental health and wellbeing. 
  Whatever the situation, we make it easier for people to talk about it, and for organisations to act on it.
  
%p
  Mindapples has been designed as an engaging brand for encouraging people of all backgrounds to take better care of their minds. We begin by asking everyone 
  %i
    "what's the 5-a-day for your mind?"
  promoting what people are already doing right, and creating opportunities for new services to boost psychological wellbeing and resilience. Our unique approach has been thoroughly tested in situations as diverse as the BBC, British Gas, the Secret Garden Party and Brixton Market, and we are currently seeking full research ethics and NHS research goveernance permissions for a trial in NHS settings, to be evaluated by the prestigious healthcare research body, the Institute of Psychiatry.

%p
  %b
    = link_to('Order your engagement services now', contact_path)
  or read more about what we do below.
  
%h2
  The Mindapples Tree

%p
  Our showpiece product is the Mindapples Tree, a highly interactive installation in which people write their mindapples on apple-shaped cards and hang them up for others to see, creating a positive talking point and giving participants the chance to share their knowledge and experiences. Our trees have been used successfully in workplaces, conferences, music festivals, street markets and even in art galleries, and are guaranteed to make a big impact wherever they go. In 2011 our trees toured many summer festivals including Secret Garden Party, the Big Chill and Thames Festival. Here's a Mindapples tree in action at The Future of Web Apps Conference in October 2011.
<div class='promotional_video'><iframe width="519" height="322" title="Mindapples at the Future of Web Apps" src="http://www.youtube.com/embed/x3G6TOY0K7A?hl=en&fs=1" frameborder="0" allowfullscreen></iframe></div>

%h2
  Promotional events

%p
  Stuck for ideas for your corporate wellbeing day? We design and deliver major lifestyle events to promote mental wellness and showcase popular activities that our good for our minds. We've worked with brands like Crussh, Headspace, Positive Touch and Courvoisier to put together entertaining and rewarding packages that promote health and wellness to staff, customers and the general public. Our signature event in 2010 was <a href="/thebigtreat">The Big Treat</a>, in partnership with Courvoisier, and here is the video they made of the occasion.
<div class='promotional_video'><iframe title='Courvoisier and Mindapples present... The Big Treat' allowfullscreen='' frameborder='0' width='519' height='322' src='http://www.youtube.com/embed/lbZfBwq6hLw'></iframe></div>
  
%h2
  Digital engagement

%p
  Mindapples has always had a strong digital following, and we also use the latest digital tools to engage large numbers of people for our clients at a remarkably low cost. We collect 5-a-day suggestions online via www.mindapples.org and customised client platforms, and build digital communities for sharing experiences and swapping recommendations. We're currently adding more digital engagement tools to our offer, to allow people to continue their engagement in the mindapples concept, and to help individuals look after themselves. Try the basic tools for yourself now on this site, and speak to us directly about running a Mindapples survey for your organisation or community. 

%p
  %i
    "Mindapples and its simple but effective concept of five a day is a great platform for sharing ideas and challenges us to help ourselves while taking control of our mental attitude and health. At Careerlinkplus we are telling our clients to log on to www.mindapples.org and explore what will help them stay positive as they move forward."
  %br
  Una Murphy, Manager, BBC CareerlinkPlus

%p
  %b
    = link_to('Order your engagement services now!', contact_path)
