%h1
  Promoting mental wellbeing

%p
  Mindapples gets people talking positively about the health of their minds, to maintain their health and improve their performance. 
  
%p
  With mental health now firmly on the corporate agenda, there is increasing pressure on organisations to promote wellbeing at work. The business case makes sense too. Recent studies have shown that staff are 12% more productive when in a positive mental state 
  %i
    (University of Warwick, 2010),
  increasing employee wellbeing can increase sales by up to 9 per cent 
  %i
    (IJSIM 14, 2003)
  and staff wellbeing and engagement programmes are showing an ROI of 9:1 in the first year alone 
  %i
    (AJHP 22, 2007). It's time for businesses to take positive, preventative action to ensure the mental health and wellbeing of their staff.

%p
  All our engagement starts with the question: 
  %i
    "what's the 5-a-day for your mind?"
  By asking people what they do already, we put people in control and give them responsibility for their own health. We've used this approach successfully in all kinds of situations, including the corporate vents, festivals, universities, schools and community events, and are tailored to suit a range of budgets.

%p
  %i
    "Mindapples and its simple but effective concept of five a day is a great platform for sharing ideas and challenges us to help ourselves while taking control of our mental attitude and health."
  %b
    Una Murphy, Manager, BBC Careerlink

%h2
  The Mindapples Tree

%p
  If you're looking for a colourful, positive way to get people talking about their minds, 
  %b
    hire the Mindapples Tree,
  a pop-up installation which promotes mental wellbeing. People write their mindapples on apple-shaped cards and hang them on the tree for others to see, creating a positive talking point and giving participants the chance to share tips with each other. Our trees have been used successfully in multinational businesses, corporate conferences, music festivals, street markets and even in art galleries, and they're guaranteed to make a big impact. 
  
%h4
  <div class='promotional_video'><iframe width="519" height="322" title="Mindapples at the Future of Web Apps" src="http://www.youtube.com/embed/x3G6TOY0K7A?hl=en&fs=1" frameborder="0" allowfullscreen></iframe></div>

%p
  If you want something bigger, we can also help you design a wellness event that really engages people. We've worked with big brands like Crussh, Headspace and Courvoisier to run major public events, most famously <a href="/thebigtreat">The Big Treat</a>, a pop-up health farm of amazing ways to treat yourself better, which received media coverage from View London and Urban Junkies.
  
%h4
  <div class='promotional_video'><iframe title='Courvoisier and Mindapples present... The Big Treat' allowfullscreen='' frameborder='0' width='519' height='322' src='http://www.youtube.com/embed/lbZfBwq6hLw'></iframe></div>
  The Big Treat, July 2010

%h2
  Keynote talks

%p
  Get your people interested in their minds with one of our inspiring motivational talks. Mindapples' founder and 'Head Gardener' Andy Gibson is a sought-after public speaker who has given keynote talks at some of the biggest businesses on the planet. Our keynote talks introduce people to the wonder of their minds and relate this to business performance in practical, applicable ways. They work well for launching resilience and wellness programmes, introducing training programmes or simply giving your organisation a lift.
  
%p
  Our current keynote topics include:
  %ul
    %li Meet your mind: a 45-minute introduction to your mind at work, how to look after it, and why this vital subject matters for businesses.
    %li An emotional business: a one-hour interactive talk introducing how moods and emotions affect our work, how we influence each other emotionally, and what to do about it.
    %li Positive under pressure: a one-hour exploration of the link between stress and motivation, why we care about our work, and how to be more resilient and turn stresses into challenges.
    %li Know yourself: a one-hour tour of intelligence and personality science, the traits and qualities that make us who we are, and how to train your mind to improve your strengths and manage your weaknesses.

%h4
  <iframe width="519" height="310" src="//www.youtube.com/embed/7nk1dzjZClg" frameborder="0" allowfullscreen></iframe>

%h2
  Engagement programmes

%p
  We use our unique blend of engagement and learning tools to design integrated mental wellbeing programmes. Designed to reach the maximum number of people with key messages about looking after our minds, our programmes focus on what employees can do to look after their own minds, and builds a culture of self-help and open dialogue about looking after our minds at work - boosting engagement, improving resilience and reducing health problems before they arise.
  
%p
  %b
    = link_to 'Take a look at our wellbeing programmes here', programmes_path
  
%p
  We also offer supporting 
  = link_to 'learning and development programmes', training_path
  to boost wellness and resilience and improve mental performance, giving your health and wellness programme a legacy in the ongoing development of staff and management. 

%p
  %b
    = link_to ('Download a PDF guide to our engagement services here', 'http://mindap.pl/1j0Vpq0')
    %br
    or
    %br
    = link_to('contact us to build a programme that suits your needs', contact_path) + "."
