%h1
  Events

%p
  We organise events, training and pop-up activities to inspire people to think and talk about the health of their minds. We also run occasional events to support colleagues in the mental wellbeing sector and teach people more about how their minds work. Here's what's coming up:

%h2
  Foundations of Mental Wellbeing (18 March 2014)

%p
  With work related stress and sickness absence on the rise, the pressure on HR and wellness staff to tackle stress and promote wellbeing is higher than ever. Creating the conditions for mentally healthy and sustainable working can bring substantial rewards both for staff wellness and business productivity. 
 
%p
  In this introductory seminar, we will be sharing our insights from 
  = link_to('five years of promoting mental wellbeing', projects_path)
  in multinational businesses, SMEs, charities and communities, and laying out the key elements you need for a mentally healthy, sustainable and effective workplace. 
 
%p
  This seminar will teach you the key factors affecting stress and wellbeing levels in your organisation, and enable you to cascade this information to your colleagues and embed it into your organisation’s policies and programmes. 
 
