%h1
  Events

%p
  We organise events, training and pop-up activities to inspire people to think and talk about the health of their minds. We also run occasional events to support colleagues in the mental wellbeing sector and teach people more about how their minds work. Here's what's coming up:

%h2
  Foundations of Mental Wellbeing (18 March 2014)

%p
  With work related stress and sickness absence on the rise, the pressure on HR and wellness staff to tackle stress and promote wellbeing is higher than ever. Creating the conditions for mentally healthy and sustainable working can bring substantial rewards both for staff wellness and business productivity. 
 
