%h1
  Events

%p
  We run regular events and training sessions to promote mentally healthy living and support people to take better care of their minds. Here's what we've got coming up:

%h2
  Your Mind: A User's Guide

%p
  In April we are running our first monthly taster session for our training programme, 
  = link_to('Your Mind: A Users Guide', yourmind_path) + "."
  Tickets are £55 for a one hour intensive training session, followed by drinks and networking, all held at our luxury training centre in London Bridge. To book your place, visit
  = link_to('yourmind.eventbrite.co.uk', 'http://yourmind.eventbrite.co.uk') + "."
  
%h2
  The Big Treat

%p
  %b
    The Big Treat will return this summer!  
  Follow here for updates, and meanwhile take a look at this video of the first Big Treat back in 2010, in partnership with Courvoisier.
  %br
  <object width="540" height="325" align=center><param name="movie" value="http://www.youtube.com/v/lbZfBwq6hLw?fs=1&amp;hl=en_GB"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/lbZfBwq6hLw?fs=1&amp;hl=en_GB" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="535" height="325"></embed></object>
  
<div style="width:195px; text-align:center;" ><iframe  src="http://www.eventbrite.co.uk/calendar-widget?eid=3184674447" frameborder="0" height="500" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:195px; text-align:center;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk/r/ecal" >Online event registration</a><span style="color:#ddd;" > powered by </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk?ref=ecal" >Eventbrite</a></div></div>
  
%p
  If you would like us to run a wellbeing for your business, or if you want support and materials to run your own Mindapples event, please
  = link_to('contact us', contact_path) + "."
  
