%h1
  Events

%p
  We've run a whole range of events over the past few years, from pop-ups in festivals and street markets, to glamorous public events promoting mental wellbeing. If you would like us to organise an event for you, or if you want support and materials to run your own Mindapples event, please
  = link_to('contact us', contact_path) + "."

%h2
  Upcoming events
  
%h3
  Training Taster Session, April 2012

%p
  In April we'll be running our first monthly taster session for our new training programme, 
  = link_to('Your Mind: A Users Guide', yourmind_path) + "."
  Tickets are £50+VAT for a one hour intensive training session followed by drinks and networking, held at our luxury training centre by the Shard in London Bridge. To book your place, please
  = link_to('contact us', contact_path) + "."
  
%h3
  Spring Wellness Fair, May 2012
  
%p
  We're currently planning a pop-up wellness fair in East London, filled with fun ways to treat yourself better. Stay tuned for updates here...

%p
  %b
    Wondering what our events are like? 
  Take a look at this video of The Big Treat, our first public event back in 2010, in association with Courvoisier.
  %br
  <object width="540" height="325" align=center><param name="movie" value="http://www.youtube.com/v/lbZfBwq6hLw?fs=1&amp;hl=en_GB"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/lbZfBwq6hLw?fs=1&amp;hl=en_GB" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="535" height="325"></embed></object>
  
