%h1
  Mindapples evidence and approach

%p
  The Mindapples concept and process have been developed through integrating research from many disciplines, including positive psychology, cognitive neuroscience, learning theory and social marketing. Here are some of the key concepts behind our innovative model:

%h3
  Mental health matters
  
%p
  Mental health is a crucial issue for the UK today, and for its businesses. Mental health problems were recently estimated to cost the nation around £77 billion a year - 5.3% of gross domestic product in 2007, and this figure is predicted to rise to 10.1% by 2026 ( 
  %i
    Flourishing People, Connected Communities, Department of Health 2009
  ).  Mental illness now accounts for more incapacity benefit claims than back pain (
  %i
    Mind, Stress and mental health in the workplace, 2005
  ), and one in six people are currently experiencing some kind of mental health problem right now, most commonly mixed anxiety and depression. The wider pressures on society are even greater, with over one third of GP’s time spent dealing with mental health problems (
  %i
    Together, National GP Survey of Mental Health in Primary Care, London, 1999
  ) and stress and depression predicted to double in a generation (
  %i
    Sinking and Swimming: understanding Britain's unmet needs, Young Foundation, 2009
  ). 
  People who lose their jobs are also four times more likely to develop a mental health condition (
  %i
    Marmot, 2004; Waddell and Burton, 2006
  ) - so with the recession and public spending cuts beginning to bite, the pressure on individuals and families is now greater than ever.

%h3
  We all have mental health
  
%p
  The real problem here cultural, not clinical. The term "mental health" in our culture has become excessively associated with illness, with all the frightening and alienating associations that implies. Most mental health and wellbeing interventions are aimed at people who either want to be healthier anyway, or have already experienced mental distress. Mindapples aims to engage individuals in realising that we all need to look after our minds, just like we look after our teeth, and all our interventions communicate this key piece of knowledge and prompt individuals to remember it and develop good habits of self-care.
  
%h3
  What we do makes a difference
  
%p
  The science of wellbeing suggests that the health of our minds is more connected to our everyday activities than was previously thought. In fact, recent studies (e.g. 
  %i
    Lykken, D, 1999, Happiness: the nature and nurture of joy and contentment
  ) suggest that as much as 40% of our mental wellbeing could be down to our outlook and activities. The Department of Health also estimates that as many as 50 per cent of mental health issues are preventable ( 
  %i
    Flourishing People, Connected Communities, Department of Health 2009
  ). It isn't enough for us to leave everything to the experts: we need to take better care of ourselves.
  
%h3
  People want control
  
%p
  The science of depression and stress suggests that people with an external locus of control – the belief that their fate is controlled by external forces and individuals over which they can do little – are often more stressed and prone to clinical depression ( 
  %i
    Benassi, Sweeney & Dufour, 1988; cited in Maltby, Day & Macaskill, 2007
  ). Mindapples starts with the individual and asks people to reflect on what they are already doing that works for them, immediately putting them in charge of the process and reminding them of the power they have to influence their lives. We avoid the medical models of treatment and prescription because we want people to realise the huge power they have over improving and maintaining the health of their minds - because that in itself is a clinically beneficial thing.

%h3
  Reflection + knowledge = lasting behaviour change
  
%p
  All our work is underpinned by the Mindapples Self-Observation Process:
  %br
  %img{:src => "/images/content/1-2-3.gif" }

%p
  The core Mindapples self-observation process triggers self-awareness and enhances people's ability to pay attention to the fluctuations in their overall physiology, and manage their day-to-day activities in a way that supports self-regulation for emotional and physical wellbeing. This process of reflective learning and person-led change underpins all our work with individuals and groups. It is supported by our concept of a 'mindapple' - a simple everyday activity that is good for the mind - and our use of the "5-a-day for your mind" hook to explain the concept quickly and help individuals see the connection between what they do, and how they feel. This learning model helps individuals make informed choices and find their own ways to manage their mental wellbeing, rather than relying on subconscious triggers or prescribing lifestyle.

%h3
  People influence people
  
%p
  Recent studies suggest that people are 90% more likely to trust recommendations from people they know and 70% more likely to trust advice from independent individuals (
  %i
    Source: Nielsen 2009
  ). By collecting and reflecting back stories about what real people are doing for the good of their minds, we build a positive culture and normalise mental wellbeing into culture, reinforcing good habits and making it easier for people to do the actions that work for them. 
  
%p
  Our methods have been developed via practical research in the field, and have been refined with our  
  = link_to 'NHS and academic partners', partnerships_path
  and evaluated by the Institute of Psychiatry at Kings College. Read more about our
  = link_to 'engagement and behaviour change services', services_path
  , or to discuss the evidence behind our work in more detail please drop us a line at
  = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org') + "."
