%h1
  The research behind our work

%p
  Mindapples asks everyone to share a ‘5-a-day’ for their mind and helps people understand themselves and others better. We encourage people to talk positively about their minds and promote good habits of self-care, and teach them how their minds work through our training and education programmes. We build people’s capacity to make healthy choices and help them use their minds more effectively in their life and work. 
  
%p
  There are some good reasons why we do all this. We base everything we do at Mindapples on rigorous social, psychological and neuroscientific research. Here are some of the key concepts behind our work:

%h3
  Mental health matters
  
%p
  Good mental health is one of the most basic needs we have, and yet also one of the most neglected. Mental health problems cost the UK £105bn per year
  %i
    (Public Health England figures, 2012)
  and cause huge suffering for individuals and their families. Mental illness now accounts for more incapacity benefit claims than back pain
  %i
    (Mind, Stress and mental health in the workplace, 2005),
  and one in six people are currently experiencing some kind of mental health problem right now, most commonly mixed anxiety and depression. The wider pressures on society are even greater, with over one third of GP’s time spent dealing with mental health problems
  %i
    (Together, National GP Survey of Mental Health in Primary Care, London, 1999)
  and stress and depression predicted to double in a generation
  %i
    (Sinking and Swimming: understanding Britain's unmet needs, Young Foundation, 2009).
  People who lose their jobs are also four times more likely to develop a mental health problem
  %i
    (Marmot, 2004; Waddell and Burton, 2006),
  so the recession is putting more pressure than ever on the health of individuals and families. Yet despite all this, we still have no official public mental health campaign in the UK.

%h3
  Wellbeing matters
  
%p
  Psychological wellbeing and mood regulation are at the heart of many of the most intractable public health issues of our time, from smoking and alcohol addiction to poor diet and obesity
  %i
    (see e.g. Thayer, The Origins of Everyday Moods).
  Poor psychological wellbeing has been linked to a variety of health risks, including cardiovascular problems, high cholesterol, diabetes, poor immune function and lack of sleep
  %i
    (Ryff, Singer & Love, 2004).
  Conversely, government studies have linked good psychological wellbeing to improved educational attainment, reductions in use of healthcare services, safer communities with less crime, and a general increase in overall quality of life
  %i
    (Flourishing People, Connected Communities, Department of Health 2009).
  Positive psychological wellbeing also correlates with reduced mortality in healthy and sick populations, and reduced mortality from heart disease and other diseases
  %i
    (Chida and Steptoe, Psychsomatic Medicine, 2008).
  Promotion of healthy minds and happy lives is not a luxury, but an essential tool for public policy and a key ingredient in our collective quality of life.
  
%h3
  What we do makes a difference
  
%p
  Recent studies suggest that we have much more control over our mental state than we previously thought. On average, our individual choices and behaviours shape around 40% of our mental wellbeing 
  %i
    (Lyubomirsky, Sheldon & Schkade, 2007; Seligman, 2000).
  Doing enjoyable activities has been shown to decrease levels of depression
  %i
    (Lewinsohn & Gotlib, 1995)
  as well as preventing the initial onset of depressive symptoms
  %i
    (Munoz, Ying, Armas, Chari & Guzza, 1987),
  whilst integrating “breathers” and “restorers” into our daily lives can help us maintain our mental wellbeing and prevent problems before they occur. 
  %i
    (Pressman et al, 2009; Jansen & von Sadovszky, 2004).
  The Department of Health even estimates that as many as 50 per cent of mental health issues are preventable
  %i
    (Flourishing People, Connected Communities, Department of Health 2009).
  It is surprising, then, that most of us think so little about how our actions affect their minds. We have little understanding as a society of how to use this opportunity to benefit our minds and improve our mental health. It's time to change that. The message is clear: we need to take better care of ourselves.
  
%h3
  Telling people what to do doesn't work
  
%p
  We all like to feel in control. If we feel we have little control over our lives we will tend to be more stressed and prone to depression
  %i
    (Benassi, Sweeney & Dufour, 1988; cited in Maltby, Day & Macaskill, 2007),
  whilst we are more likely to experience positive emotions when we perceive ourselves as being in control, and when we share events with others
  %i
    (Bryant, 1989; Langston, 1994).
  People who have a sense of control over their lives are also more likely to seek out health information and engage in preventative behaviours such as wearing seatbelts and going to the dentist for check-ups
  %i
    (Strickland, 1978),
  and are also more successful when trying to lose weight, reduce smoking and adhering to medical regimens
  %i
    (Wallston & Wallston 1978).
  Mindapples taps into these effects by emphasising individual choice and autonomy and encouraging people to share their own experiences. Our question-based, educational model reinforces the positive actions people already take, and avoids debilitating expert-led models of treatment and prescription. This approach is designed to build awareness, increase cognitive flexibility and prevent negative affect, and give people more responsibility for their mental health.
  
%h3
  We need cultural approach
  
%p
  The assumptions we make as a society affect our individual choices in ways we barely realise. We all have mental health, and yet the term has become predominantly associated with illness. Most mental health interventions are aimed at people who want to self-improve, or have already experienced mental illness. Changing how we talk about this stigmatised topic could have a significant impact on our collective mental health. Our approach is to accentuate the positive and build an accessible image of good mental health that everyone can move towards. And since people are 90% more likely to trust recommendations from people they know
  %i
    (Nielsen 2009),
  we do this by collecting and sharing stories about what real people are doing for the good of their minds, to build a new positive culture of mentally healthy living for everyone. 
  
%p
  All our 
  = link_to 'services', services_path
  are developed from robust research and practical innovation in the field, and have been refined with our  
  = link_to('academic and healthcare partners', partnerships_path) + "."
  To discuss the evidence behind our work, contact us at
  = link_to('research@mindapples.org', 'mailto:research@mindapples.org') + "."
