%h1
  The evidence for Mindapples

%p
  Mindapples has been developed through integrating research from many disciplines, including positive psychology, psychological neuroscience, reflective learning theory and social marketing. Here are some of the key concepts behind our work:

%h3
  Mental health matters
  
%p
  Mental health problems were recently estimated to cost the nation around £77 billion a year - 5.3% of gross domestic product in 2007 - and this figure is predicted to rise to 10.1% by 2026 ( 
  %i
    Flourishing People, Connected Communities, Department of Health 2009
  ).  Mental illness now accounts for more incapacity benefit claims than back pain (
  %i
    Mind, Stress and mental health in the workplace, 2005
  ), and one in six people are currently experiencing some kind of mental health problem right now, most commonly mixed anxiety and depression. The wider pressures on society are even greater, with over one third of GP’s time spent dealing with mental health problems (
  %i
    Together, National GP Survey of Mental Health in Primary Care, London, 1999
  ) and stress and depression predicted to double in a generation (
  %i
    Sinking and Swimming: understanding Britain's unmet needs, Young Foundation, 2009
  ). 
  People who lose their jobs are also four times more likely to develop a mental health problem (
  %i
    Marmot, 2004; Waddell and Burton, 2006
  ), so the recession is putting more pressure than ever on the health of individuals and families.

%h3
  Wellbeing matters
  
%p
  Government studies have linked psychological wellbeing directly to improved educational attainment, reductions in use of healthcare services, safer communities with less crime, and a general increase in overall quality of life (see 
  %i
    Flourishing People, Connected Communities, 2009
  ). Poor psychological wellbeing has been linked to a variety of health risks, including cardiovascular problems, high cholesterol, diabetes, poor immune function and lack of sleep ( 
  %i
    Ryff, Singer & Love, 2004
  ). An increase of engagement in pleasant activities has been shown to decrease levels of depression (
  %i
    Lewinsohn & Gotlib, 1995
  ) as well as preventing the initial onset of depressive symptoms (
  %i
    Munoz, Ying, Armas, Chari & Guzza, 1987
  ). Positive psychological wellbeing correlates with reduced mortality in healthy and sick populations, and reduced mortality from heart disease and other diseases (
  %i
    Chida and Steptoe, Psychsomatic Medicine, 2008
  ). Put simply, promoting healthy activities that we enjoy can improve society, and save lives.
  
%h3
  What we do makes a difference
  
%p
  The science of wellbeing suggests that the health of our minds is more connected to our everyday activities than was previously thought. In fact, recent studies (e.g. 
  %i
    Lykken, D, 1999
  ) suggest that as much as 40% of our mental wellbeing could be down to our outlook and activities. The Department of Health also estimates that as many as 50 per cent of mental health issues are preventable ( 
  %i
    Flourishing People, Connected Communities, Department of Health 2009
  ). With so much of our mental health down to our individual choices and actions, the experts can only do so much. We need to take better care of ourselves.
  
%h3
  Perceived control matters
  
%p
  The science of depression and stress suggests that people with an external locus of control – the belief that their fate is controlled by external forces and individuals over which they can do little – are often more stressed and prone to clinical depression ( 
  %i
    Benassi, Sweeney & Dufour, 1988; cited in Maltby, Day & Macaskill, 2007
  ). Individuals with an internal locus of control are more likely to seek out information regarding their health and engage in preventative behaviours such as wearing seatbelts and going to the dentist for check-ups (
  %i
    Strickland, 1978
  ).  They are also more successful when trying to lose weight, reduce smoking and adhering to medical regimens than individuals with an external locus of control (
  %i
    Wallston & Wallston 1978
  ).  Mindapples taps into these effects by emphasising the control we each have over the health of our minds, reinforcing the positive actions we take, and avoiding the sometimes disempowering medical models of treatment and prescription.

%h3
  A non-prescriptive approach
  
%p
  While most traditional behavioural interventions rely on instructing individuals to engage in pleasant activities, it is in fact more effective if the individuals are in control over their actions. Individuals are more likely to experience positive emotions in events where they perceive themselves as being in control, as well as if they share those events with others (
  %i
    Bryant, 1989; Langston, 1994
  ). As such, not only does Mindapples focus on cultivating positive emotions to increase cognitive flexibility and prevent negative affect, but also promoting placing the individual in a position of independence and control which is important for mental well-being.
  
%h3
  A cultural approach
  
%p
  We all have mental health, and yet the term has become predominantly associated with illness. Most mental health interventions are aimed at people who want to self-improve, or have already experienced mental illness. Changing how we talk about this stigmatised topic could have a significant impact on our collective mental health. Our approach is to accentuate the positive and build an accessible image of good mental health that everyone can move towards. And since people are 90% more likely to trust recommendations from people they know (
  %i
    Source: Nielsen 2009
  ), we do this by collecting and sharing stories about what real people are doing for the good of their minds, to co-create a new positive culture of mentally healthy living for everyone. 
  
%p
  All our engagement and training work has been developed through practical experience of its use in the field, and refined with our  
  = link_to 'NHS partners', partnerships_path
  and the Institute of Psychiatry at Kings College. Read more about our
  = link_to 'engagement and training services', services_path
  , or to discuss the evidence behind our work in more detail, please do drop us a line at
  = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org') + "."
