%h1
  The research behind our work

%p
  Mindapples helps people talk and learn more about their minds, to maintain their health and achieve their personal and professional goals. We encourage people to talk positively about their minds and promote good habits of self-care, and teach people how their minds work through our training and education programmes. Through this we aim to build people’s capacity to manage their minds, make healthy choices and understand themselves and the people around them better. 
  
%h3
  A fresh approach
  
%p
  We know our minds are important. In a 2013 survey by Mindapples and the mental health charity, Mind, 84 per cent of people in the UK believe their mental health to be as important as their physical health.  

%p
  Yet we do surprisingly little to look after our minds. Despite saying their mental health is important, 52 per cent of our respondents said they had never thought about it before. We know our minds matter, but turning that into positive actions seems to be more of a struggle.

%p
  One problem is that the term ‘mental health’ has become so associated with illness. Whilst physical health is something to be proud of having, mental health is often seen as something to be avoided, only relevant for sick people rather than a universal goal. So we have no positive image to move towards, and we struggle to take action. Perhaps this is why 72 per cent of our respondents felt mental health and wellbeing issues were not discussed openly enough in society.

%p
  Another problem is that we know so little about our minds. We are bombarded with information about plaque on our teeth, germs on our hands and salt in our food, yet we were taught almost nothing about our minds. We don’t learn the concepts, and we don’t know what’s normal. The result is that our minds can feel shadowy and mysterious, something over which we have little control. So we tune out the messages, ignore our minds and focus on easier things like watching our waistlines or cutting down on sugar, and hope the experts will fix us if something goes wrong.

%p
  There is a growing public interest in the mind though, from neuroscience in the media to psychological studies of how we live and work. In fact, 72 per cent of our survey respondents said they would like to know more about looking after their mental health and wellbeing. When it comes to engaging people in thinking more about the health of their minds, we are pushing at an open door.

%p
  It’s time for a change. We all have mental health, and looking after our minds is a normal part of having a successful life. So, if we can look after our bodies by brushing our teeth, or eating an apple, what about our minds?

%h3
  Mental health matters
  
%p
  Good mental health is one of the most basic needs we have, and yet also one of the most neglected. Mental health problems cost the UK £105bn per year
  %i
    (Public Health England figures, 2012)
  and cause huge suffering for individuals and their families. Mental illness now accounts for more incapacity benefit claims than back pain
  %i
    (Mind, Stress and mental health in the workplace, 2005),
  and one in six people are currently experiencing some kind of mental health problem right now, most commonly mixed anxiety and depression. The wider pressures on society are even greater, with over one third of GP’s time spent dealing with mental health problems
  %i
    (Together, National GP Survey of Mental Health in Primary Care, London, 1999)
  and stress and depression predicted to double in a generation
  %i
    (Sinking and Swimming: understanding Britain's unmet needs, Young Foundation, 2009).
  People who lose their jobs are also four times more likely to develop a mental health problem
  %i
    (Marmot, 2004; Waddell and Burton, 2006),
  so the recession is putting more pressure than ever on the health of individuals and families. Yet despite all this, we still have no official public mental health campaign in the UK.

%h3
  Wellbeing matters
  
%p
  There is more to managing our minds than just our mental health too. Mental wellbeing and mood regulation are at the heart of many of the most intractable public health issues of our time, from smoking and alcohol addiction, to poor diet and obesity
  %i
    (see for example Thayer, R, The Origins of Everyday Moods).
  Poor wellbeing has been linked to a variety of health risks, including cardiovascular problems, high cholesterol, diabetes, poor immune function and lack of sleep
  %i
    (Ryff, Singer & Love, 2004).
  Conversely, high wellbeing is linked to improved educational attainment, reductions in use of healthcare services, safer communities with less crime, and a general increase in overall quality of life
  %i
    (Flourishing People, Connected Communities, Department of Health 2009).
  Positive psychological wellbeing also correlates with reduced mortality in healthy and sick populations, and reduced mortality from heart disease and other diseases
  %i
    (Chida and Steptoe, Psychsomatic Medicine, 2008).
  Getting a grip on our mental and physical health, in an integrated way, can have far-reaching benefits. This is not a luxury, but an essential tool for public policy and a key ingredient in building good public health and a high quality of life for everyone.
  
%h3
  What we do makes a difference
  
%p
  Many studies suggest that we have a considerable influence over our mental state through our day-to-day actions. Basic physiological factors like getting enough sleep, taking exercise and drinking enough water
  %i
    (see for example Sleep Matters, Mental Health Foundation, 2011; Fox, 1999; Armstrong, Ganio et al, 2012)
  can have a big impact on our mental health, reducing the risks of illness and giving us the mental resources to manage our health better. Psychological factors make a big difference too. Lack of friendships can have a similar impact on our life expectancy to smoking, drinking and obesity 
  %i
    (Holt-Lunstad et al, 2010). 
  Making time for enjoyable activities can decrease levels of depression
  %i
    (Lewinsohn & Gotlib, 1995)
  as well as preventing the initial onset of depressive symptoms
  %i
    (Munoz, Ying, Armas, Chari & Guzza, 1987),
  whilst integrating “breathers” and “restorers” into our daily lives can help us maintain our mental wellbeing and prevent problems before they occur. 
  %i
    (Pressman et al, 2009; Jansen & von Sadovszky, 2004).
  The Department of Health even estimates that as many as 50 per cent of mental health issues are preventable
  %i
    (Flourishing People, Connected Communities, Department of Health 2009).
  The message is clear: we need to take better care of ourselves.
  
%h3
  A non-prescriptive approach
  
%p
  Having a sense of control and autonomy can be good for our mental health. People who have, or believe they have, little control over their lives often tend to be more prone to stress, anxiety and depression
  %i
    (Benassi, Sweeney & Dufour, 1988; cited in Maltby, Day & Macaskill, 2007),
  and we are also more likely to experience positive emotions when we perceive ourselves as being in control, and when we share events with others
  %i
    (Bryant, 1989; Langston, 1994).
  People who have a sense of control over their lives are also more likely to seek out health information and engage in preventative behaviours such as wearing seatbelts and going to the dentist for check-ups
  %i
    (Strickland, 1978),
  and are also more successful when trying to lose weight, reduce smoking and adhering to medical regimens
  %i
    (Wallston & Wallston 1978).
  This means mental health requires a different approach to many public health issues. Telling people what to do and placing all the decisions in the hands of the experts is actually quite bad for us. Mindapples taps into these effects by emphasising individual choice and autonomy and encouraging people to share their own experiences. Our question-based, educational model reinforces the positive actions people already take, and avoids debilitating expert-led models of treatment and prescription. This approach is designed to build awareness, increase self-efficacy, and give people more sense of control and responsibility for their mental health and wellbeing.
  
%h3
  A mainstream approach
  
%p
  Most mental health interventions are aimed at people who want to self-improve, or have already experienced mental illness, but real change comes from shifting mainstream opinion. Changing how we talk about this stigmatised topic, particularly amongst people who have no interest in or connection to mental ill-health, could have a significant impact on our collective mental health. Our strategy for achieving mainstream culture change is to accentuate the positive and build an attractive image of good mental health that everyone can move towards. And since people are 90% more likely to trust recommendations from people they know
  %i
    (Nielsen 2009),
  we do this by collecting and sharing stories about what people are doing for the good of their minds, to build a positive culture of mentally healthy living for everyone. 
  
%h3
  Education matters
  
%p
  Too often, our approaches to medical and public health initiatives focus too much on clinical interventions and not enough on other tools for social change such as education. By teaching people how their minds work, Mindapples aims to reduce people's uncertainty and fear around this topic, help people identify what help they need and support other people better, and improve people's understanding of their lives. 
  
%p
  Our education and training work focusses on sharing agreed insights from experimental neuroscience and psychology to help people manage their minds better, maintain their health and achieve their goals. And the early evidence we've been collecting suggests that this approach really works, improving people's wellbeing, resilience, self-efficacy and ability to mentalise - in both healthy and clinical populations.
  
%p
  We're always keen to discuss the evidence behind our approach and improve the general level of understanding about these issues in policy, clinical practice, workplace health and society at large. To discuss the evidence behind our work and explore these issues with us, contact us at
  = link_to('research@mindapples.org', 'mailto:research@mindapples.org') + "."
