%h1
  Mindapples evidence and approach

%p
  The Mindapples concept and process have been developed through integrating research from many disciplines, including positive psychology, cognitive neuroscience, learning theory and social marketing. 

%p
  The science of wellbeing suggests that the health of our minds is more connected to our everyday activities than was previously thought. In fact, recent studies (e.g. Lykken, D, 1999) suggest that as much as 40% of our mental wellbeing could be down to our outlook and activities. The core Mindapples self-observation process triggers self-awareness and enhances people's ability to pay attention to the fluctuations in their overall physiology, and manage their day-to-day activities in a way that supports self-regulation for emotional and physical wellbeing.

%p
  All our work is underpinned by the Mindapples Self-Observation Process:
  %br
  %img{:src => "/images/content/1-2-3.gif" }

%p
  This process of reflective learning and person-led change underpins our work with individuals and groups. We ask people what they want to stay well, help them reflect individually and collectively on what they need, and then work on their behalf to transform the community, workplace, institution or any other context in which they live and work. This process is supported by our concept of a 'mindapple' - a simple everyday activity that is good for the mind - and our use of the "5-a-day for your mind" hook to explain the concept quickly and help individuals see the connection between what they do, and how they feel.
  
%p
  Our methodologies have been developed in partnership with our  
  = link_to 'NHS and academic partners', partnerships_path
  is evaluated by the Institute of Psychiatry at Kings College. Read more about our
  = link_to 'engagement and behaviour change services', services_path
  or to discuss the evidence behind our work in more detail please drop us a line at
  = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org'), '.'
