%h1
  Frequently Asked Questions

%p
  Got a question about Mindapples? We might have already answered it here.

%hr
%p
  %b
    Are you a charity?
  %br
  Not quite. We're a non-profit social enterprise with charitable objectives, which means we qualify for various charitable benefits but we can't offer tax incentives on donations I'm afraid.

%p
  %b
    How do you make money?
  %br
  We make most of our money from selling commercial services, but we've also received funding from various philanthropic trusts to work on particular social issues and develop our campaigning activities. We are not backed by any large brand, or by the Government. We are, and will remain, totally politically and commercially independent.

