.sub_tabnav.sub_tabnav
  %ul
    %li.about.about_idea
      %a.about.about_idea{:href => "/about"} The idea
    %li.about.about_team
      %a.about.about_team{:href => "/about/team"} Who we are
    %li.about.about_organisation
      %a.about.about_organisation{:href => "/about/organisation"} Organisation
    %li.about.about_evidence
      %a.about.about_evidence{:href => "/about/evidence"} Evidence
    %li.about.about_contact
      %a.about.about_contact{:href => "/about/contact"} Contact
    %li.about.about_media
      %a.about.about_media{:href => "/about/media"} Media

.sub_central
  .inner

    %h1
      What do you think of Mindapples?

    %p
      At Mindapples we're trying to evaluate the impact of our work to understand how we can help people most effectively, and show potential clients and funders that people value what we're trying to do. We'd be very grateful if you'd take 2 minutes to answer these quick questions below to tell us about your experience of taking the Mindapples Test.

    <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

    <script type="text/javascript">
    var q7x3z9 = new WufooForm();
    q7x3z9.initialize({
    'userName':'mindapples', 
    'formHash':'q7x3z9', 
    'autoResize':true,
    'height':'1325',
    'header':'show'});
    q7x3z9.display();
    </script>
    
    %p
      All your responses will be recorded and used anonymously by Mindapples and our academic partners to evaluate the impact of our work. We will never make your email address or responses public. For more information on how we use and store data, please refer to our
      = link_to('Privacy Policy', privacy_path) + "."
