%h1
  Grow your own mindapples

%p
  We want Mindapples to be a shared platform that everyone can use to promote mental wellbeing around the UK, much like the 5-a-day or DrinkAware campaigns. So, if you want to use Mindapples in your work, we want to help!
  
%p
  %b
    Mindapples Toolkits
  %br
  We've learnt a lot from three years of campaigning and engagement work, so we're packaging up our materials into toolkits to help local organisations promote good mental health in their own communities. Toolkits include mindapple cards, pens and badges to run your own mindapples events, and cost between £25 and £250 depending on your needs.
  %br
  %b
    = link_to('Request your toolkit now!', contact_path)

%p
  %b
    Licensing and adaptation
  %br
  If you would like to use the Mindapples brand or concept in your own work and programmes, you can join our Gardeners Network, a loose community of individuals and organisations with permission to use the mindapples brand and methdology in their own communities and organisations. We want use of Mindapples to be accessible to everyone, but licencing is still subject to certain conditions and occasionally a fee. To be part of it, write to us at  
  = link_to('growyourown@mindapples.org', 'mailto:growyourown@mindapples.org')
  telling us what you'd like to do.

