%h1
  Grow your own mindapples

%p
  We can't do everything: just think of the paperwork. Most of our social impact comes from other organisations and individuals using mindapples tools to put on their own events and campaigns. So if you like our work, go out and plant some mindapples!

%h2
  Buy trees and toolkits

%p
  Since we can’t be everywhere at once, we sell do-it-yourself trees and toolkits to help you run your own mindapples events. Our eye-catching trees and unique applecards have proved effective in a wide range of environments, from music festivals and multinational businesses to schools, universities and community events. They include mindapples cards, posters, pens and badges, and sometimes trees, booklets and even squirrels too. Order yours today!

%p
  <div align=center"><script type='text/javascript' src='http://www.etsy.com/assets/js/etsy_mini_shop.js'></script><script type='text/javascript'>new Etsy.Mini(6627963,'gallery',2,4,0,'http://www.etsy.com');</script></div>

%h2
  Gardener training

%p
  Our toolkits are pretty straightforward, but if you'd like our help training your people to promote mental wellbeing more effectively, or advice on how to start your own wellbeing campaign, we might be able to help. We're also putting together a training course to share what we've learnt from many years engaging the public in mental health. If you'd like to know more, drop us a line telling us what you want to do at 
  = link_to('greenfingers@mindapples.org', 'mailto:greenfingers@mindapples.org') + "."
  
%h4
  Mindapples is a registered trademark so please don't steal our work, it took us ages. Thanks.
