%h1
  Grow your own mindapples

%p
  Mindapples is an idea, not a brand. Like the original 5-a-day concept, it needs to belong to everyone if it's really going to work. So, if you'd like to use the Mindapples survey in your work or with your community, please go ahead. Just make sure you credit mindapples.org and tell us about what you're doing. 
  
%p
  We can help too, with advice, tools, services, setting up a customised survey, and designing tailored engagement programmes. We're also glad to partner up with individuals and organisations on developing new projects, and to help with fundraising for new opportunities to trial Mindapples in your work together.

%p
  We'd love to hear from you. So please do 
  = link_to('contact us', about_path)
  