%h1
  Grow your own mindapples

%p
  We want to make it easy for individuals, organisations and community groups to use the Mindapples concept and tools themselves to do their own engagement. We're always open to suggestions, but here's how it works at the moment:

%p
  %ul
    %li
      %b
        Organisations and campaigns: 
      %br
      We're in the process of packaging up our materials into toolkits to help anyone use Mindapples to engage groups of individuals in positive consideration of the health of their minds. We’re also developing digital survey and community tools to help you use the Mindapples website to engage your community online. We’re looking for interested organisations and individuals to join a conversation about what these toolkits might contain, from apple cards and mini tree kits, to training videos and the obligatory Mindapples badges and mugs. To be involved, contact us at
      = link_to('growyourown@mindapples.org', 'mailto:growyourown@mindapples.org') + "."
    %li
      %b
        Individuals: 
      %br
      If you would like to use the mindapples brand or concept in your work, you can join our Gardeners Network, a loose community of passionate individuals who are applying the mindapples ideas in their own communities and organisations, from hospitals to maths classes. Gardeners either volunteer to help promote our work, or receive permission to use the mindapples concept and brand for their own purposes, subject to certain conditions and occasionally a license fee. To join in, write to us at  
      = link_to('greenfingers@mindapples.org', 'mailto:greenfingers@mindapples.org')
      telling us what you'd like to do.

%p
  If you're interested in purchasing some of our materials to use in your own work, or have an idea of how you'd like to use the mindapples concept in your organisation, drop us a line at  
  = link_to('growyourown@mindapples.org', 'mailto:growyourown@mindapples.org') + "."
  
