%h1
  Grow your own mindapples

%p
  We can't do everything. And we wouldn't to either: just imagine the admin? If we're really going to get people in the UK looking after their minds, we need to work together. So, if you want to use mindapples in your work, we want to help!
  
%p
  %b
    Mindapples Toolkits
  %br
  We offer three grades of toolkit to help you run your own Mindapples events and get the people you care about thinking positively about the health of their minds. Toolkits start at around £40 and include mindapple cards, pens and badges, and if you're feeling flush you can even order a Mindapples Tree of your very own.
  %br
  %b
    = link_to('Order your toolkit now!', shop_path)

%p
  %b
    Using the Mindapples brand
  %br
  Stop making even more wellbeing brands! Just use ours instead. Our Gardeners have permission to use the Mindapples brand and content in their work, subject to a £25 membership fee, a few sensible conditions and usually some training. All individuals, community groups and non-profit organisations are eligible to join. To be part of it, write to us at  
  = link_to('greenfingers@mindapples.org', 'mailto:greenfingers@mindapples.org') + "."

%p
  And if you're a professional trainer or a commercial body looking to use our brand or training materials in your work, we should talk. Email us at
  = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org') + "."

