%h1
  Grow your own mindapples

%p
  We can't do everything, and we wouldn't want to either: just think of all the paperwork. We need your help to get everyone in the UK taking better care of their minds, so if you want to use mindapples in your work, we can help!
  
%h2
  Mindapples Toolkits

%p
  We offer three grades of toolkit to help you run your own Mindapples events and get the people you care about thinking positively about the health of their minds. Toolkits start at around £40, and include mindapple cards, pens and badges. If you're feeling flush, you can even order a Mindapples Tree of your very own.

%p
  %b
    = link_to('Buy your toolkits in our shop', shop_path)

%h2
  Using the Mindapples brand

%p
  We've spent four years developing a really effective brand and set of engagement tools for promoting mental health and wellbeing. We want other organisations to be able to benefit from what we've developed, and all we ask is that you make a small contribution to our work in return. 
  
%p
  So we've created the Gardeners Network, a virtual community of people and organisations who have permission to use the mindapples brand and content in their work. Gardeners receive discounts on our products and access to special services like Gardeners' Training to help you engage people positively in considering their mental health. In return, we ask for a £25 membership fee to cover our admin costs, and also a few sensible conditions of use.  
  
%p
  All individuals, community groups and non-profit organisations are eligible to join the Gardeners Network. To be part of it, write to us at  
  = link_to('greenfingers@mindapples.org', 'mailto:greenfingers@mindapples.org') + "."
  If you're a commercial business, coach or trainer looking to use our materials in your work, we're developing a service for you too. To find out more, email us at
  = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org') + "."

%p
  %i
    Mindapples is a registered trademark and should not be used without permission. Please don't steal our work, it took us ages!
