%h1
  Grow your own mindapples

%p
  Just like the original 5-a-day concept, Mindapples is an idea that needs to belong to everyone if it's really going to work. If you want to use the Mindapples brand or survey in your work or with your community, all you need to do is join the community. Members of the community can use the brand and methodology in their own work and adapt it freely to their needs. At this stage, this is an evolving community, so if you'd like to use Mindapples in your work, just let us know and we'll tell you the current community rules. Later on we'll get much more sophisticated though, it'll be great - you just watch.
  
%p
  We can help too, with advice, tools, services, setting up a customised survey, and designing tailored engagement programmes. We're also glad to partner up with individuals and organisations to develop new projects and reach new audiences, and to trial Mindapples in new contexts together.

%p
  We'd love to hear from you. So please do 
  = link_to('contact us', about_path)
  