%h1
  Help us grow

%p
  Our next target for the Mindapples Test is 10,000 responses.
  %b
    We need your help!

%p
  If you like what we're doing then please:

%ul
  %li
    donate £5-10 to the cause, or more if you're feeling flush (we're certainly not!)
  %li
    blog, 
    = link_to('Twitter', 'http://twitter.com/mindapples')
    and 
    = link_to('Facebook', 'http://www.facebook.com/group.php?gid=67664831909')
    us
  %li
    write about us in your magazines, websites, newsletters and newspapers
  %li
    send the 
    = link_to('Mindapples test', new_person_path)
    to your friends and challenge them to pick their 5-a-day
  %li
    introduce us to people you think could help
  %li
    volunteer with us 
  %li
    grow your own mindapples by starting your own thing and telling us what happened 

%p
  And of course, if you're a journalist or a funder, then we're officially your new best friend. ;-)

%p
  We'd love to hear from you. Here's how to 
  = link_to('contact us', about_path)
