%h1
  Mindapples in healthcare

%p
  Mindapples isn't specifically targeted at the prevention of mental illness, but we believe we have an important role to play in prevention of mental distress, recovery from illnesses, both physical and mental, and support for carers, families and health workers too.
  
%p
  Mindapples is already being piloted in hospitals around the country, and we want to see it tried in as many contexts as possible. We'd like to work with PCTs and the NHS to trial Mindapples services and toolkits in the healthcare world. 

%p
  If you think Mindapples could help you in your work, or if you've already tried using it and want to tell us what happened, please contact Andy Gibson on 
  = link_to('andy@mindapples.org', 'mailto:andy@mindapples.org')
