%h1
  Mindapples in healthcare

%p
  We believe Mindapples has an important role to play in public mental health promotion, prevention and recovery from illness, and support for carers, families and health workers.
  
%p
  Mindapples is already being piloted by NHS Lambeth and in hospitals in Hampshire, but we want to see it tried in as many contexts as possible. We'd like to work with GP surgeries, hospitals and the NHS in general to trial Mindapples services and toolkits in the healthcare world. 

%p
  If you think Mindapples could help you in your work, or if you've already tried using it and want to tell us what happened, please contact us at 
  = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org')
