%h1
  Mindapples in healthcare

%p
  Mindapples isn't specifically targeted at healthcare or prevention of mental illness, but we do believe we have an important role to play in prevention of mental distress and recovery from mental illness. We also think the Mindapples methodology could have beneficial effects for people suffering from physical health conditions, and also support carers and health workers too.
  
%p
  We're looking for healthcare partners to prototype Mindapples services in the NHS and the wider world. If you think Mindapples could help you in your work, or if you've already tried using it and want to tell us what happened, please
  = link_to('get in touch', contact_path) 
  \.
