%h1
  Help us grow

%p
  We've had over 1000 responses to the Mindapples Test so far, but our next target is 
  %b
    10,000 responses.
  We need help!

%p
  We've got room in our little team for part-time volunteers to help us with:
  
%ul
  %li
    engaging our existing community and writing case studies
  %li
    contacting celebrities, organising promotions and writing press releases
  %li
    making promotional materials, viral videos and other fun, creative stuff
  
%p
  If you like what we're doing then please:

%ul
  %li
    blog about us
  %li
    link to us in your website or e-newsletter, or write about us in your magazine
  %li
    send it to your friends
  %li
    introduce us to people you think could help us

%p
  And if you're a journalist or a funder, then I'm officially you're new best friend. ;-)

%h2
  Grow your own Mindapples

%p
  Mindapples is a question, not a brand, so we don't own it. If you want to use it in your work then great. Do your own surveys, run some workshops, incorporate it into your own materials and approaches. Like the original 5-a-day concept, it's yours to use as you see fit - and the more the merrier.

%p
  If you'd like to use the Mindapples survey with your community, we can help. Get in touch and we can set up a 
  %b
    customised survey 
  just for you and give you the results back. We’re also very happy to share the results of our survey with other organisations for use in their campaigns and policy work, and promote similar projects that you're running.

%p
  If you can help us, or you're interested in joining the team, drop us a line at hello[at]mindapples.org. And if you know anyone who you think we should talk to, please do introduce us.