%h1
  5-a-day for your mind

%p
  If eating five fruit and veg a day is good for our bodies, then what's the equivalent for our minds?

%h3
  Everyone's different. Take the Mindapples Test now and tell us your five...
  
%p
  <img src="/images/sliced-apple.gif" border="0" />
  %i
    (Form goes here, once Tom can fix the tech.)
  
%h3
  Find out what other people picked for their mindapples.  
  = link_to('Read the fives', fives_path)  
%p
  This site was built by the 
  = link_to('Mindapples volunteers', team_path), "."
  Find out 
  = link_to('more about us', about_path), ","
  read our <a href='http://blog.mindapples.org'>blog</a>, or <a href='mailto:hello@mindapples.org'>say hello</a>.
  
%p
  Mindapples is group of volunteers, a website, some pages on <a href='http://www.facebook.com/pages/Mindapples/38139955790'>Facebook</a>, <a href='http://twitter.com/mindapples'>Twitter</a> and <a href='http://www.flickr.com/photos/tags/mindapples/'>Flickr</a>, and a growing community of people around the world supporting each other to take care of their minds. If you like us, please  
  = link_to('help us grow', help_us_grow_path), "."
