%h1
  How we got here

%p
  The Mindapples journey started out back in March 2008 with an idle question that I put to my friends Dougald and Anna. I was frustrated at how pathologising the mental health debate seemed to be, particularly in the workplace, and also fearful of the potential damage it can do to people's self-esteem and civil liberties. After some seemingly unrelated chats with my friend Paul about social campaigning and the five-a-day campaign in particular, I found myself saying: "I want to know what the mental health equivalent of five-a-day is."  And the idea just stuck. So here we are. But since I'm secretly a historian by nature, I'm going to use this page to keep track of the development of the project so that once we're all rich and famous, you can see how we got here.

%p.float_right
  Andy Gibson, Head Gardener

%hr
%p
  %b
    March 2008:
  %br
  The idea emerged from conversations about campaigning, using the web to tackle social issues, and preventative mental health care.  
  
%p
  %b
    April 2008:
  %br
  Registered mindapples.org and stayingsane.org, but preferred the former. Idea submitted to <a title="Mindapples on Social Innovation Camp" href="http://sicamp.org/?page_id=51">Social Innovation Camp</a>. Doesn't win. :-(
  %br
  %i
    4 results for 'mindapples' in Google

%p
  %b
    May 2008:
  %br
  I pitched it at the first RSA Networks Exchange and met lots of supportive people offering to help. :-) My friend Tessy suggested I set up a Surveymonkey survey to start things rolling.
  %br
  %i
    The first Mindapples.org site was born, using Wordpress and Surveymonkey.

%p
  %b
    June 2008:
  %br
  A few people start talking about us and we rack up our first 100 responses. I have some nice conversations with folks at the Young Foundation, Mental Health Foundation and Mind.

%p
  %b
    July 2008:
  %br
  The first round of media interest, including the Nag, i-Genius and some very random radio coverage.
  %br
  We do our first Mindapples survey internally for a company: the Mental Health Foundation.
  %br
  %i
    250 responses - woo-hoo! To celebrate, Tessy does an amazing job analysing and categorising them all.

%p
  %b
    August 2008
  %br
  Tessy and Very Happy Phil get us a few happiness gurus to take the test. I get very stressed out with it all the fame and take a month off.  

%p
  %b
    September 2008:
  %br
  The lovely Liz Miller writes nice things about us, and some more happiness gurus come through.
  %br
  Tessy and I start planning for The Future. A bit more sense of organisation, and Organisation, by now.  <strong></strong>

%p
  %b
    October 2008:
  %br
  Featured in the RSA Journal and picked up by various people from that, including Psychologies Magazine
  %br
  %i
    4000 results for 'mindapples' in Google
    %br
    And we hit 500 responses - way-hay!

%p
  %b
    November 2008:
  %br
  Official partnership agreed with Psychologies Start looking for funding and planning for becoming a proper company.
  %br
  Heleana and Jo join the team, and we start doing more PR outreach work and targetting celebs
  %br
  %i
    We get badges. (This is very, very important.)

%p
  %b
    December 2008:
  %br
  Launch the Mindapples blogmeme - share your five, and invite five other bloggers to do the same
  %br
  %i
    750 responses - yippee!

%p
  %b
    January 2009:
  Tessy starts collecting the blogmeme results and publishing them on the blog; there are a <strong>lot</strong>.
  %br
  850 responses (bit slow over Christmas).
  %br
  %i
    350,000 results for Mindapples in Google!

%p
  %b
    February 2009:
  %br
  The delightful Lauren Currie joins the team and we start making interesting things to explain the concept - presentations, videos, images etc.
  %br
  Coding marvel Tom Ten Thij builds us a basic prototype site in Ruby on Rails, we start working on a proper site design.
  %br
  Marcia Brophy at the Young Foundation loves the idea and we start talking about how to work with them.

%p
  %b
    March 2009:
  %br
  A short lull to focus on 'paying the rent' is followed by a serious drive to hit 1000 responses by Twittering the entire universe.
  %br
  Tessy and I work out how to explain the project to grownups and start booking meetings with potential funders.
  %br
  %i
    7,000 results for 'mindapples' in Google now - how strange?
  
%p
  %b
    April 2009:
  %br
  Can't remember what we did this month.
  
%p
  %b
    May 2009:
  %br
  Or this month...

%p
  %b
    June 2009:
  %br
  Sophie Howarth from the School of Life likes the idea and we start plotting how to sell Mindapples products in their shop.
  %br
  I get a bit tired and stressed out and take some time off to sleep.

%p
  %b
    July 2009:
  %br
  Still asleep...

%p
  %b
    August 2009:
  %br
  Channel 4 interview me as a "mental health expert"(!) for their study in isolation, Alone in the Wild.
  %br
  More sleeping, and some reading too...

%p
  %b
    September 2009:
  %br
  Channel 4 turn us down for funding :-(, but they're very nice about it.
  %br
  Eddy Pinkney at the Student Mental Wealth Project gets in touch about working with us on a student unions campaign.
  %br
  I meet Tanis Taylor to talk about her book projects (including Change the World for a Fiver) and she joins the Advisory Board.
  
%p
  %b
    October 2009:
  %br
  Neil joins us as Head of Research and does a full analysis of the first 1000 results.
  %br
  Kate joins us on the campaign side and starts working with Eddy on a student unions campaign for early 2010, although it doesn't really go anywhere.
  %br
  I chat to Alnoor Ladha about how to turn Mindapples into a wider campaign, and with Luke Nicholson about sustainable business models.
  %br
  The web team (Tom, Ana, Sangeet and me) push on with the site and hold our first Mindapples hack day at the School of Everything offices
  
%p
  %b
    November 2009:
  %br
  I go to South America (yay!) but the team press on without me, making progress on the site and brand development.
  Kate, Ana, Sangeet and I tie ourselves up in knots with too many design ideas, and we get a bit stuck for a while.

%p
  %b
    December 2009:
  %br
  I come back from South America bursting with ideas and plans for making Mindapples BIG, and start writing new pitch documents.
  %br
  Hege joins the campaign team and we start plotting how to do a Mindapples art exhibiton and campaign coalition.
  %br
  The Observer publish a day-in-the-life piece about me and Mindapples gets a nice mention and some more attention.
  %br
  I have a really good meeting with South London and Maudesley NHS Trust, who really get the idea and want to help us.
  
%p
  %b
    January 2010
  %br
  Cassie joins us to help with designing our consultancy services and finding funders.
  %br
  Hege and I start pitching to people and asking for cash for research, pilots and the core site.
  
%p
  %b
    February 2010
  %br
  Hege and I write lots of funding applications, and I start doing lots of politics to position Mindapples in the big wide world.
%p
  %b
    March 2010
  %br
  We secure our first donations from a private donor, which we use to start setting up our basic infrastructure.
  %br
  We also have our first team away day, and lots of wonderful people commit to helping Mindapples grow.

%p
  %b
    April 2010
  %br
    We do lots of business planning and funding application writing, and Hege and I argue a lot about whether we need a vision.
%p
  %b
    May 2010
  %br
  Big month this. Mindapples incorporates as a Company Limited By Guarantee - woo-hoo! Tessy, Hege and I are the first guarantors, but we agree that the rest of the volunteers, and later the users, will be added once we move to the One Click Orgs platform later in the year.
  %br
  Unboxed Consulting start building the new website, and Webstars offer us a Facebook app on the cheap.

%p
  %b
    June 2010
  %br
  UnLtd make a Better Net Level 1 Award of £5000 to Mindapples, to cover the costs of the site. Whew.
  %br
  Courvoisier partner with us to create the Big Treat, a pop-up urban health farm filled with healthy treats for your mind and body.

%p
  %b
    July 2010
  %br
  We launch our new website, thanks to amazing work from Unboxed Consulting, Sangeet Gyawali and Tom Ten Thij. Thanks guys!
  %br
  We also launch the Big Treat and our summer festivals campaign at an exclusive private party at the Future Gallery, 15 July 2010.
  %br
  The Big Treat is a big success, and gets us press coverage in Wellbeing Magazine, .
  %br
  The Mindapples Tree makes its first appearance at the Big Treat, and then goes on to star in the Secret Garden Party, Camp Bestival, the Big Chill and Brighton Playgroup.
  %br
  We also run our first paid corporate workshops, for BBC Careerlink, and do some stuff with Edexcel too - and we have a lot of very interesting meetings with partners and potential clients.

%p
  %b
    August 2010
  %br
  We all take some time off to recover!
  
%p
  %b
    September 2010
  %br
  Lots of follow-ups from the Big Treat lead to some great conversations with the Department of Health and Gregor Henderson at the National Mental Health Development Unit, and a partnership funding bid with Tony Coggins and the South London and Maudesley NHS Trust. 
  %br
  Hege steps back for a while to focus on other projects, and Tessy and I start planning some serious fundraising and product development work.
  
%p
  %b
    October 2010
  %br
  Lucy Smith at NHS Lambeth hires us to engage local residents at the Brixton Reel Film Festival, and we take the tree there and on to Brixton Village Market and to CityCamp London for World Mental Health Day 2010. The People Speak make us a lovely video of the occasion which proves very popular.
  %br
  Tom, Andy and Sangeet make some improvements to the new website, including creating our first sub-communities within the overall platform.
  
%p
  %b
    November 2010
  %br
  Building on the success of our Brixton adventures, Tony Coggins at South London and Maudsley NHS Trust partners with us to secure funding from Guys and St Thomas's Charity to pilot Mindapples' engagement tools in GP surgeries in Lambeth. We also start actively raising funding for our core activities.
  %br
  Esther takes on an increased role handling our operations and project management, and sorts our our business processes so we can deliver proper contracts.
  
%p
  %b
    December 2010
  %br
  We start shutting down at the end of a pretty epic year for Mindapples, having also done various talks and conferences and start having some rather interesting conversations at policy level, including Gregor Henderson at the National Mental Health Development Unit, and also people at the Department of Health and the NHS Confederation. What a very busy year it has been. Andy disappears to Australia to watch the Ashes.

%p
  %b
    January 2011
  %br
  Work starts in earnest on our GPs pilot project, with Esther leading the way. We start meeting and briefing the surgeries and are rather pleased by the positive response. Tony at SLaM negotiates an additional set of funding for us to extend the GPs pilot from four surgeries to seven to meet the extra demand from practices. Dr Stephani Hatch at Kings College and Prof Andre Tylee at the Institute of Psychiatry agree to work with us on our project evaluation.
  
%p
  %b
    February 2011
  %br
  The Big Society Network promote Mindapples as part of their showcase of new projects. I meet Nat Wei and chat about some interesting ideas on how we want to live and work in the future and think about ways to host a new conversation about the society of the future. I meet Marc Lewis at the School for Communications Arts and they agree to rebrand us and come up with a campaign for the summer.
  %br
  Hen joins us as creative producer, running the production side of our GPs project, and recruits Helena and Merlin to do our product design and illustration. We take offices in Somerset House and have our first proper base of operations. Very posh.

%p
  %b
    March 2011
  %br
  Mindapples wins two Cabinet Office innovation prizes from the Innovation Hub and the NHS Innovation Centre! We agree a contract with Mind to deliver a set of public engagement events at festivals over the summer as part of the Time to Change campaign. Our partners at South London and Maudsley ask Mindapples to join the Kings Health Partners wellbeing services network, offering a joint public health and mental wellbeing promotion proposition to local authorities. We also agree with Secret Garden Party that we will have our very own Mindapples Tent this year. What a good month that was.
  %br
  Kat joins us as a sales consultant to help get our offer to businesses right, and Ofordi joins us as policy adviser to help navigate the changing political landscape.

%p
  %b
    April 2011
  %br
  After several months of tricky negotiations with both Mind and Apple, we finally secure the trademark on the Mindapples name. Woohoo! We do our first management training session with senior management at British Gas. The Nominet Trust offer us provisional funding to develop a set of new digital tools to support individuals, and we have even more conversations with other funders. Tom and Unboxed release some new features on the website to get it ready for the GPs project, and we simplfy our service packages to make them easier to sell.
  %br
  Jenny rejoins the team to run our festivals campaign for the summer. Amanda and I have some good chats with the formerly Innocent Ted Hunt about how we can get brands involved in Mindapples. We also hire our very first intern! 