%h1
  How we got here

%p
  The Mindapples journey started out back in March 2008 with an idle question that I put to my friends Dougald and Anna. I was frustrated at how pathologising the mental health debate seemed to be, particularly in the workplace, and also fearful of the potential damage it can do to people's self-esteem and civil liberties. After some seemingly unrelated chats with my friend Paul about social campaigning and the five-a-day campaign in particular, I found myself saying: "I want to know what the mental health equivalent of five-a-day is."  And the idea just stuck. So here we are. But since I'm secretly a historian by nature, I'm going to use this page to keep track of the development of the project so that once we're all rich and famous, you can see how we got here.

%p.float_right
  Andy Gibson, Head Gardener

%hr
%p
  %b
    March 2008:
  %br
  The idea emerged from conversations about campaigning, using the web to tackle social issues, and preventative mental health care.  
  
%p
  %b
    April 2008:
  %br
  Registered mindapples.org and stayingsane.org, but preferred the former. Idea submitted to <a title="Mindapples on Social Innovation Camp" href="http://sicamp.org/?page_id=51">Social Innovation Camp</a>. Doesn't win. :-(
  %br
  4 results for 'mindapples' in Google

%p
  %b
    May 2008:
  %br
  I pitched it at the first RSA Networks Exchange and met lots of supportive people offering to help. :-) My friend Tessy suggested I set up a Surveymonkey survey to start things rolling.
  %br
  The first Mindapples.org site was born, using Wordpress and Surveymonkey.

%p
  %b
    June 2008:
  %br
  A few people start talking about us and we rack up our first 100 responses. I have some nice conversations with folks at the Young Foundation, Mental Health Foundation and Mind.

%p
  %b
    July 2008:
  %br
  The first round of media interest, including the Nag, i-Genius and some very random radio coverage.
  %br
  We do our first Mindapples survey within a company, at the Mental Health Foundation.
  %br
  250 responses - woo-hoo! - and Tessy does an amazing job analysing and categorising them all.

%p
  %b
    August 2008
  %br
  Tessy and Very Happy Phil get us a few happiness gurus to take the test. I get very stressed out with it all the fame and take a month off.  

%p
  %b
    September 2008:
  %br
  The lovely Liz Miller writes nice things about us, and some more happiness gurus come through.
  %br
  Tessy and I start planning for The Future. A bit more sense of organisation, and Organisation, by now.  <strong></strong>

%p
  %b
    October 2008:
  %br
  Featured in the RSA Journal and picked up by various people from that, including Psychologies Magazine
  %br
  4000 results for 'mindapples' in Google</em>
  %br
  And we hit 500 responses - way-hay!

%p
  %b
    November 2008:
  %br
  Official partnership agreed with Psychologies Start looking for funding and planning for becoming a proper company.
  %br
  Heleana and Jo join the team, and we start doing more PR outreach work and targetting celebs
  %br
  We get badges. (This is very important.)

%p
  %b
    December 2008:
  %br
  Launch the Mindapples blogmeme - share your five, and invite five other bloggers to do the same
  %br
  750 responses - yippee!

%p
  %b
    January 2009:
  Tessy starts collecting the blogmeme results and publishing them on the blog; there are a <strong>lot</strong>.
  %br
  850 responses (bit slow over Christmas).
  %br
  350,000 results for Mindapples in Google!

%p
  %b
    February 2009:
  %br
  The delightful Lauren Currie joins the team and we start making interesting things to explain the concept - presentations, videos, images etc.
  %br
  Coding marvel Tom Ten Thij builds us a prototype site in Ruby on Rails, we start working on a proper design.
  %br
  Marcia Brophy at the Young Foundation loves the idea and we start talking about how to work more with them.

%p
  %b
    March 2009:
  %br
  A short lull to focus on 'paying the rent' is followed by a serious drive to hit 1000 responses by Twittering the entire universe.
  %br
  Tessy and I work out how to explain the project to grownups and start booking meetings with potential funders.
  %br
  7,000 results for 'mindapples' in Google now - how strange?
  
%p
  %b
    April 2009:
  %br

%p
  %b
    May 2009:
  %br

%p
  %b
    June 2009:
  %br

%p
  %b
    July 2009:
  %br
  I take some time off to sleep

%p
  %b
    August 2009:
  %br
  Channel 4 interview me as a "mental health expert"(!) for their study in isolation, Alone in the Wild.
  %br
  More sleeping, and some reading too

%p
  %b
    September 2009:
  %br
  Channel 4 turn us down for funding :-(, but they're very nice about it
  
%p
  %b
    October 2009:
  %br
  Neil joins us as Head of Research and does a full analysis of the first 1000 results.
  %br
  The dev team (Tom, Ana, Sangeet and me) push on with the site and hold our first Mindapples hack day at the School of Everything offices
  
%p
  %b
    November 2009:
  %br
  I go to South America but the team press on without me and take over the whole world...