%h1
  Mindapples for individuals
  
%p
  At the heart of everything we do, we want to help individuals identify and practice simple things that help take care of their mind. We believe that we can transform society and improve our world, simply by doing what we can to take care of ourselves and those around us.
  
%p
  Here’s a brief selection of the kind of things people say to us after taking the Mindapples test:

  %ul
    “I am still amazed how simple and yet complex this approach is. It is something most people think but don’t dare to talk about, I guess.”
    %br
    - Anne Wizorek, Berlin
    %br
    %br
    “Just wanted to say, Mindapples is a great idea – good luck with it. I’ve been going through a bit of a rough patch and completing your questionnaire made me think about what helps me – or what I need to be doing to get through this patch!”
    %br
    - Louise, Scotland
    %br
    %br
    “Thanks for talking about this and giving us a voice. It’s not easy living in the wilderness between sanity and insanity – healthy and not!”
    %br
    - Roberta, England
    %br
    %br
    “I found it helpful to step back and look at what I actually do to help myself. I realized that I do most of those 5 things without even thinking about why.”
    %br
    - Tori, New Hampshire, USA
    %br
    %br
    “It’s great to see the stigma being lifted on mental ill-health, something that can affect of all of us … at any time in our lives.”
    %br
    - Charlotte, England
    %br
    %br
    “It´s wonderful to know there are people like you all, who are involved in helping others be aware of the importance of keeping their minds okay. It should be natural and obvious that someone takes care of their mind, but for some reason, we forget the essential. Thanks for your site.”
    %br
    - Rosana G
    %br
    %br
    “@mindapples Who can’t use 5 a day? I think it’s a fabulous concept”
    %br
    - @leeannthill via Twitter, New Jersey, USA
    %br
    %br
    “So often these well meaning well researched lists of what folks “should” do end for mental health, physical health, spiritual health, etc. up leaving me feeling alternately inadequate like I’m doing something wrong, and angry at the idea that … there can be one set of answers that is true for everyone. …THANKS for putting this together and putting it out for folks.”
    %br
    - Helen Kamadulski, NW USA
    %br
    %br
    “What is the point of scientific inquiry unless it is grounded in human experience? Mindapples is a unique endeavour that combines a grass-root approach to happiness with what we know about mental health and well-being from scientific research.”
    %br
    - Dr Ilona Boniwell, Programme Leader – MSc Applied Positive Psychology, University of East London

%p
  And that’s what it’s all about, after all.