%h1
  Consultancy and insights

%p
  If you want to encourage and support people to look after their minds, first you need to know what they like. We offer diagnostic consulting, change management support and behavioural insights to help you transform the culture of your organisation and work smarter, not harder.
  
%h2
  Insight reports
  
%p
  Our "5-a-day for your mind" tools gather thousands of suggestions about what people enjoy doing to look after their minds. We analyse these responses and compare them to our baseline data to give you valuable insights and recommendations about how to support the mental wellbeing of your workforce. These insights can be used to inform internal communications, structure future wellness interventions and focus wellness spending on the things people really enjoy. 
  
%p
  Our insights reports are prepared by our experienced researchers and include: 
  %ul
    %li summaries of key quantitative and qualitative elements of the data including who has responded;
    %li identification of key trends and preferences, and how your people differ from the population at large;
    %li highlights of noteworthy wellbeing activities, including the most popular and the most unusual ideas; and
    %li recommendations for cheap, simple actions and services that your people might enjoy.

%h2
  Organisational consultancy
  
%p
  Everyone needs a little help sometimes, and when you're trying to change the culture of your organisation it can be helpful to work with experts to guide you through the process. Our small team of organisational psychologists and management consultants work with large and small businesses to apply the principles of our training programmes to changing organisational culture and behaviour.

%p  
  Our consulting programmes are bespoke and tailored to your needs, but always involve initial 
  %b 
    diagnostic sessions
  to identify from staff and managers the key things that the organisation is concerned about, and then 
  %b
    working with senior leadership 
  to tackle these challenges and get staff actively involved in creating change in their organisation. We've worked with large multinationals and small social enterprises, and all our consultants have experience of working at the highest level to effect major, lasting change.

%p
  %b
    = link_to('Contact us to find out more', contact_path) + "."
