%h1
  Insights and recommendations

%p
  If you want to encourage and support people to look after their minds, first you need to know what they like.
  
%p
  Our "5-a-day for your mind" surveys gather thousands of suggestions about what your people enjoy doing to look after their minds. We can analyse the responses from your people and compare them to our baseline data, to give you valuable insights and recommendations about what they say works for them. You can use these insights to inform your internal communications about mental wellness and resilience, and also to recommend support services that your people want. 
  
%p
  Our insights reports are prepared by our experienced insights researchers to meet your specific needs, and typically include: 
  %ul
    %li summaries of key quantitative and qualitative elements of the data including who has responded
    %li identification of key trends and preferences, and how your people differ from the population at large
    %li highlights of the most interesting 5-a-day activities, including the most popular and the most unusual ideas
    %li recommendations for cheap, simple actions and services that your people might enjoy

%p
  To find out what your people want and need to take care of their minds, 
  %b
    = link_to('contact us now', contact_path) + "."
