%h1
  International

%p
  The work we do here in the UK has potential applications all around the world, and we're working with a few partners to explore the possibilities of franchising or licensing our work internationally. We can provide our engagement and training models, shared digital services and a growing evidence base, in return for either a license fee or a partnership arrangement. We're also happy to provide toolkits and training services to overseas clients, and to share what we've learnt from our work in the UK, if you can afford us. 
  
%p
  If you're interested in planting some mindapples in your country, email us on 
  = link_to('ilivefaraway@mindapples.org', 'mailto:ilivefaraway@mindapples.org') + "."

%h2
  Mindapples Australia

%p
  Our first international testbed is in Australia. To discuss hiring, commissioning or partnering with Mindapples down under, please contact our "Australia Office", Andrew Brough, on 
  = link_to('andrew.brough@mindapples.org', 'mailto:andrew.brough@mindapples.org') + "."