%h1
  Jobs at Mindapples

%p
  Sorry, we haven't got any jobs available right now, but when we do, we like to hire people who have already done something to help our cause, however small. So if you're keen to work with us, 
  = link_to('drop us a line', 'mailto:hello@mindapples.org')
  or find out more about
  = link_to('volunteering for us', volunteer_path) + "."
