%h1
  Join our growing community

%p
  Mindapples works with a wide community of partners and volunteers to get our messages to the people who need them. Because we can’t be everywhere at once, we also 
  = link_to('sell pop-up trees and event toolkits', shop_path)
  so anyone can organise their own mindapples events and activities. So if you want to help us, go plant some mindapples!

%p
  To find out more about what we're all about, listen to this interview with our founder Andy Gibson, speaking at a Mindapples event at Southwark Cathedral for World Mental Health Day in October 2012:
  %br
  <div class="ab-player" data-boourl="https://audioboo.fm/boos/999564-andy-gibson-at-the-mindapples-tree-in-southwark-cathedral-churchyard/embed?eid=AQAAAFeYCFOMQA8A" ><a href="https://audioboo.fm/boos/999564-andy-gibson-at-the-mindapples-tree-in-southwark-cathedral-churchyard">listen to &#x2018;Andy Gibson at the Mindapples tree in Southwark Cathedral churchyard&#x2019; on Audioboo</a></div><script type="text/javascript">(function() { var po = document.createElement("script"); po.type = "text/javascript"; po.async = true; po.src = "https://d15mj6e6qmt1na.cloudfront.net/assets/embed.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s); })();</script>

%p
  Over the years we've done a lot of pop-ups and events to promote mental wellbeing and get everyone sharing the 5-a-day for their minds. Here's an old video of one of our first events in Brixton Market, 2010:
  %br
  <iframe width="500" height="300" src="//www.youtube.com/embed/7x8gXSCA4Ww" frameborder="0" allowfullscreen></iframe>

%h3
  You can help us grow by 
  = link_to('using our trees and toolkits', shop_path) + ","
  = link_to('partnering with us', partnerships_path) + ","
  and 
  = link_to('volunteering for us', volunteer_path) + "."

%p
  Lots of love,
  %br
  The Mindapples Gardeners
  

