%h1
  Join us

%p
  We didn't start Mindapples to just make money - if we had, we'd probably be selling real apples! We started Mindapples to improve the mental health of everyone in the UK, and beyond, and we believe our campaign can make a real difference to individuals, communities and families.
  
%p
  Mental health matters. One in six people are currently experiencing some kind of mental health problem right now, most commonly mixed anxiety and depression, and the Government estimates that around half these problems could be prevented
  %i
    (Department of Health 2009).
  Stress and depression is predicted to double in a generation
  %i
    (Sinking and Swimming, Young Foundation, 2009),
  and with people who lose their jobs four times more likely to develop a mental health problem
  %i
    (Marmot, 2004; Waddell and Burton, 2006),
  the recession is putting more pressure than ever on individuals and families.

%p
  Mental health also lies at the heart of many of our most intractable public health problems, from drug and alcohol adddiction and obesity to long-term worklessness and social problems. Poor mental health has been linked to a variety of physical health risks, including cardiovascular problems, high cholesterol, diabetes, poor immune function and lack of sleep
  %i
    (Ryff, Singer & Love, 2004).
  Positive psychological wellbeing has been linked to improved educational attainment, reductions in use of healthcare services, safer communities with less crime, and a general increase in overall quality of life
  %i
    (Department of Health 2009).
  And when you consider the suffering and loss of life due to suicide and self-harm too, it's clear that promoting mentally healthy activities that we enjoy can improve society, and save lives.

%p
  Get involved by in our work by donating to the cause below, becoming a partner organisation, volunteering for us, or using Mindapples in your own work.
  
%h2
  Donate now! 

%p
  <div id="ammadoGivingWidget"></div><script type="text/javascript">var s = document.createElement('script'); s.type='text/javascript'; s.async=true;s.src='https://www.ammado.com/nonprofit/116695/givingwidget/embed.js?renderTo=ammadoGivingWidget';var f = document.getElementsByTagName('script')[0]; f.parentNode.insertBefore(s, f);</script>
  
%p
  %br
  %br
  %b
    Or donate via Paypal:
  <div id="PaypalWidget"></div><form action="https://www.paypal.com/cgi-bin/webscr" method="post" align="right">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="3P8YP3QVG2KY6">
  <input type="image" src="https://www.paypal.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
  <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
  </form>

%p
  Or please send cheques to Mindapples, 145-157 St John Street, London EC1V 4PW.

%p
  Lots of love,
  %br
  The Mindapples Gardeners
  
%p
  %i
    Mindapples is an independent non-profit organisation with charitable objectives, registered in England and Wales, company number 07264252.

