%h1
  Mindapples in the media

%p
  For media enquiries please e-mail Andy Gibson at andy[at]mindapples.org or call 07980 550315.
  
  %ul
    “We want the brand to be beautiful in a way that people want to come in and colour it”
    %br
    - <a href="http://www.designweek.co.uk/a-fair-exchange/3011812.article">Mindapples is profiled in Design Week, April 2010</a> (subscribers only though, sorry)
    %br
    %br
    “Basically, to create something tangible for funders I call in favours. In return, I’ll take the team to the pub.”
    %br
    - <a href="http://www.guardian.co.uk/courvoisier500/andy-gibson-school-of-everything">Andy describes the Mindapples volunteering experience in a Sunday Observer profile, Dec 2009</a>
    %br
    %br
    “Very close attention to the minute things around make everything much much more interesting, if you can spot it.”
    %br
    - <a title="Andy Gibson on Solitude" href="http://www.channel4.com/programmes/alone-in-the-wild/articles/andy-gibson-on-solitude" target="_blank">Andy on Channel4.com, Aug 2009</a>
    %br
    %br
    “Mindapples is a rather lovely thing – a small, social project with no other aim than to to promote individual self management of mental wellbeing.”
    %br
    - <a title="Mindapples, 5-a-day for your mental health in Psychologies Magazine" href="http://www.psychologies.co.uk/index.php/eng/Editor-s-Blog/What-s-your-mental-five-a-day" target="_blank">Maureen Rice, Psychologies Magazine</a>
    %br
    %br
    “Crunching through leaves in the park, the gentle touch of a loved one, or perhaps a quiet session with the newspaper: let them know what works for you.”
    %br
    - <a title="British Psychological Society on Mindapples" href="http://bps-research-digest.blogspot.com/2008/10/what-five-things-do-you-do-to-stay-sane.html" target="_blank">British Psychological Society</a>
    %br
    %br
    “I love it, instead of treating illness, lets work on staying well!! ... The message is clear. Health is up to us and self management is the way forward. Drugs and therapists are all very well if a wheel comes off, but MindApples are there to keep the wheels in place.”
    %br
    - leading mental health campaigner <a title="Dr Liz Miller writes about Mindapples and 5-a-day for mental health" href="http://doctorbloggs.blogspot.com/2008/10/get-moving-mindapples-and-happy-mental.html" target="_blank">Dr Liz Miller</a>
    %br
    %br
    “Mind Apples is a site that aims to share and develop ways of maintaining mental health in innovative ways. A community-based knowledge sharing community focused on mental well-being. Yay!”
    %br
    - <a title="Mindhacks on Mindapples" href="http://www.mindhacks.com/blog/2008/10/20081031_spike_act.html" target="_blank">Mindhacks</a>
    %br
    %br
    “There is a strong societal awareness that to take care of our physical health we can go to the gym or eat well, but there is not an equivalent understanding of how to take care of our minds. “
    %br
    - <a title="Mindapples in the RSA Journal" href="http://www.thersa.org/fellowship/journal/archive/autumn-2008/features/last-word" target="_blank">The RSA Journal</a>
    %br
    %br
    “I try to listen to beautiful music at least once a day, I don’t check my portfolio even in the best of times, I hug a loved one at least one more time than was expected, and also I avoid television advertisements as much as possible. That’s four…”
    %br
    - <a title="Marginal Revolution on Mindapples" href="http://www.marginalrevolution.com/marginalrevolution/2008/10/what-do-you-do.html?cid=135271903#comment-135271903" target="_blank">Tyler Cowen, Marginal Revolution</a>
    %br
    %br
    “I stumbled across this site today! What a great project check it out! So what are your 5-a-day?”
    %br
    - <a title="Kathy James, Shrink Rap" href="http://www.tricitypsychology.com/blog/?p=2158" target="_blank">Kathy James, Shrink Rap</a>

