%h1
  Mindapples in the media

%p
  If you're a journalist interested in Mindapples, then we're officially your new best friends. For media enquiries please e-mail us at 
  = link_to('press@mindapples.org', 'mailto:press@mindapples.org')
  and we promise we'll get back to you really quickly.

  %ul
    “I find Mindapples a pretty intriguing concept, which could really catch on. Just as gyms became a big thing in the 80s, will the 2010s see the arrival of serious preventative mental health?”
    %br
    %a{:href => "http://www.guardian.co.uk/commentisfree/2011/apr/13/action-for-happiness-launch", :target => "_blank", :title => "Madeleine Bunting on happiness and Mindapples in the Guardian"} Madeleine Bunting, The Guardian, April 2011
    (in an otherwise more sceptical article)
    %br
    %br
    “rather than healthy food, this is health activities for your brain”
    %br
    %a{:href => "http://www.bbc.co.uk/news/uk-13046148", :target => "_blank", :title => "Andy Gibson on Mindapples, BBC News"} David Sillito, BBC News, April 2011
    (video)
    %br
    %br
    “You know what's awesome? Mindapples. A nice example of a startup that matters.”
    %br
    %a{:href => "http://twitter.com/#!/umairh/status/58126880548724736"} Umair Haque, Harvard Business Review, April 2011
    (via Twitter)
    %br
    %br
    “Just like crusades that advocate daily exercise, healthy eating and rest, Mindapples focuses on daily practices for mental health.”
    %br
    %a{:href => "http://www.psfk.com/2010/08/mindapples-for-mental-health.html"} Michael Brooks, PSFK, Aug 2010
    %br
    %br
    “Courvoisier and Mindapples' Big Treat presents a kaleidoscope of revolutionary approaches to give you your 5-a-day for the mind.”
    %br
    %a{:href => "http://wellbeingmagazine.co.uk/article/courvoisier-and-mindapples-big-treat"} Wellbeing Magazine, July 2011
    %br
    %br
    “We want the brand to be beautiful in a way that people want to come in and colour it”
    %br
    %a{:href => "http://www.designweek.co.uk/a-fair-exchange/3011812.article"} Design Week, April 2010
    (subscribers only though, sorry)
    %br
    %br
    “to create something tangible for funders I call in favours. In return, I’ll take the team to the pub.”
    %br
    %a{:href => "http://www.guardian.co.uk/courvoisier500/andy-gibson-school-of-everything"} Andy Gibson profiled in the Sunday Observer, Dec 2009
    %br
    %br
    “Mindapples is a rather lovely thing – a small, social project with no other aim than to to promote individual self management of mental wellbeing.”
    %br
    %a{:href => "http://www.psychologies.co.uk/index.php/eng/Editor-s-Blog/What-s-your-mental-five-a-day", :target => "_blank", :title => "Mindapples, 5-a-day for your mental health in Psychologies Magazine"} Maureen Rice, Psychologies Magazine
    %br
    %br
    “Crunching through leaves in the park, the gentle touch of a loved one, or perhaps a quiet session with the newspaper: let them know what works for you.”
    %br
    %a{:href => "http://bps-research-digest.blogspot.com/2008/10/what-five-things-do-you-do-to-stay-sane.html", :target => "_blank", :title => "British Psychological Society on Mindapples"} British Psychological Society, Oct 2008
    %br
    %br
    “I love it, instead of treating illness, lets work on staying well!! ... The message is clear. Health is up to us and self management is the way forward. Drugs and therapists are all very well if a wheel comes off, but Mindapples are there to keep the wheels in place.”
    %br
    leading mental health campaigner
    %a{:href => "http://doctorbloggs.blogspot.com/2008/10/get-moving-mindapples-and-happy-mental.html", :target => "_blank", :title => "Dr Liz Miller writes about Mindapples and 5-a-day for mental health"} Dr Liz Miller, Oct 2008
    %br
    %br
    “Mindapples is a site that aims to share and develop ways of maintaining mental health in innovative ways. A community-based knowledge sharing community focused on mental well-being. Yay!”
    %br
    %a{:href => "http://www.mindhacks.com/blog/2008/10/20081031_spike_act.html", :target => "_blank", :title => "Mindhacks on Mindapples"} Mindhacks, Oct 2008
    %br
    %br
    “I try to listen to beautiful music at least once a day, I don’t check my portfolio even in the best of times, I hug a loved one at least one more time than was expected, and also I avoid television advertisements as much as possible. That’s four…”
    %br
    %a{:href => "http://www.marginalrevolution.com/marginalrevolution/2008/10/what-do-you-do.html?cid=135271903#comment-135271903", :target => "_blank", :title => "Marginal Revolution on Mindapples"} Tyler Cowen, Marginal Revolution, Oct 2008
    %br
    %br
    “There is a strong societal awareness that to take care of our physical health we can go to the gym or eat well, but there is not an equivalent understanding of how to take care of our minds. “
    %br
    %a{:href => "http://www.thersa.org/fellowship/journal/archive/autumn-2008/features/last-word", :target => "_blank", :title => "Mindapples in the RSA Journal"} The RSA Journal, Oct 2008
