.sub_tabnav.sub_tabnav
  %ul
    %li.about.about_idea
      %a.about.about_idea{:href => "/about"} The idea
    %li.about.about_team
      %a.about.about_team{:href => "/about/team"} Who we are
    %li.about.about_organisation
      %a.about.about_organisation{:href => "/about/organisation"} Organisation
    %li.about.about_evidence
      %a.about.about_evidence{:href => "/about/evidence"} Evidence
    %li.about.about_contact
      %a.about.about_contact{:href => "/about/contact"} Contact
    %li.about.about_media
      %a.about.about_media{:href => "/about/media"} Media

.sub_central
  .inner

    %h1
      Mind Cider: An occaisional comedy night

    %p
      