.sub_tabnav.sub_tabnav
  %ul
    %li.grow.grow_join_us
      %a.grow.grow_join_us{:href => "/grow"} Join us
    %li.grow.grow_partnerships
      %a.grow.grow_partnerships{:href => "/grow/partnerships"} Partnerships
    %li.grow.grow_your_own
      %a.grow.grow_your_own{:href => "/grow/grow_your_own"} Grow your own
    %li.grow.grow_volunteer
      %a.grow.grow_volunteer{:href => "/grow/volunteer"} Volunteer

.sub_central
  .inner

    %h1
      Join the Gardeners Network

    %p
      If you're an organisation promoting mental health and wellbeing, or an individual who wants to join the movement, fill in the form below to join our Gardeners Network. It's free to join and we promise not to bombard you with spam.