%h1
  Join the Gardeners Network

%p
  If you're an organisation promoting mental health and wellbeing, or an individual who wants to join the movement, fill in the form below to join our Gardeners Network. Gardeners get use of the Mindapples brand, training and support packages, and possibly discounts on our services. It's currently free to join and we promise not to bombard you with spam.
    
%p
  For more information, contact
  = link_to('greenfingers@mindapples.org', 'mailto:greenfingers@mindapples.org') + "."