%h1
  Our organisation

%p
  Mindapples is a social project with ambitions to use money, and work with the commercial world, to achieve a truly global reach. To keep us on track, it's important that we get our organisational structure right. 
  
%p
  We're currently a non-profit Company Limited by Guarantee underwritten by the three co-founders, Andy, Tessy and Hege. Our object as an organisation is 
  %b
    "Mindapples is a not for profit community, campaigning, research and services organisation whose object is to promote mentally healthy living and working for everyone, worldwide."
  
%p
  Over the next few months we'll be evolving our organisational structure to embed the ethics of the organisation into our legal framework. We're aiming to create a social enterprise structure that ensures:
  
%ul
  %li
    The non-profit company owns all our users' data and the Mindapples brand on their behalf, but all community members have the right to become guarantors of the company too and participate in voting on key company decisions
  %li
    The company can make money efficiently with minimal administrative overheads
  %li
    We can offer tax incentives to private and commercial donors who want to contribute to the movement
  %li
    We can offer a modest return on 'sweat equity' for all the co-founders and volunteers who are giving their time for free to get the business set up

%p
  I'm passionate about embodying the values of our community and the Mindapples concept in how we work, and how we use money to fulfil our objectives. I want Mindapples to be fair, effective, open and rewarding for everyone connected with it, including staff, volunteers, clients, advisors, investors, donors, community members and even passers by such as yourself. Watch this space for more details, and if you think we're not living up to our standards or practicing what we preach, please call us to account by e-mailing me at andy[at]mindapples.org, or posting on our   
  = link_to('blog', 'http://mindapples.wordpress.com') + "."
  
%p
  Andy Gibson, Head Gardener