%h1
  Our organisation

%p
  Mindapples is a social project that uses commerce and partnership working to achieve a truly global reach. To keep us on track, it's important that we get our organisational structure right, commercially and ethically. 
  
%p
  We are a non-profit Company Limited by Guarantee registered in England and Wales, number 07264252, guaranteed by Andy Gibson, Tessy Britton and Hege Saebjornsen with Andy as Director. Our object as an organisation is as follows:
  %b
    "Mindapples is a not for profit community, campaigning, research and services organisation whose object is to promote mentally healthy living and working for everyone, worldwide."
  
%p
  Over the next few months we'll be evolving our organisational structure to embed the ethics of the organisation into our legal framework. We're aiming to create a social enterprise structure that protects the following elements:
  
%ul
  %li
    The non-profit company owns all our users' data and the Mindapples brand on their behalf, but all community members have the right to become guarantors of the company too and participate in voting on key company decisions
  %li
    Individuals and organisations who want to use the Mindapples brand and methodology can join the community and license our work.
  %li
    We can offer tax efficient opportunities to private and commercial donors who want to contribute to the movement
  %li
    We can offer a modest return on 'sweat equity' for the people who have been giving their time for free to get things going

%p
  I'm passionate about embodying the values of our community and the Mindapples concept in how we work and use money to fulfil our objectives. I want Mindapples to be fair, effective, open and rewarding for everyone connected with it, including staff, volunteers, clients, advisors, investors, donors, community members and even passers by such as yourself. Watch this space for more details, and if you think we're not living up to our standards or practicing what we preach, please call us to account by e-mailing me at andy[at]mindapples.org, or posting on our   
  = link_to('blog', 'http://blog.mindapples.org') + "."
  
%p
  Andy Gibson, Head Gardener