%h1
  Partnerships

%p
  We're a small organisation providing tools and services that other larger organisations can use and support, so partnership working is crucial to our success. Our core partners and funders are currently as follows:
  
%ul
  %li
    <a title="SLAM NHS Trust" href="http://www.slam.nhs.uk" target="_blank">South London and Maudesley NHS Trust</a>, Public Health Partners
  %li
    <a title="NHS Lambeth" href="http://www.lambethpct.nhs.uk" target="_blank">NHS Lambeth</a> (in transition), NHS Service Partners
  %li
    <a title="Institute of Psychiatry, Kings College London" href="http://iop.kcl.ac.uk" target="_blank">Institute of Psychiatry, Kings College London</a>, Academic Partners
  %li
    <a title="Mind: for Better Mental Health" href="http://www.mind.org.uk" target="_blank">Mind</a>, who are supporting our public engagement work in Summer 2011 (we are an entirely independent organisation and not affiliated with Mind though, just in case you were wondering)

%p
  We're also very grateful to <a title="UnLtd" href="http://www.unltd.org.uk" target="_blank">UnLtd</a> and the <a title="Nominet Trust" href="http://www.nominettrust.org.uk" target="_blank">Nominet Trust</a> who funded the project in 2010 and continue to give us in-kind support.
    
%h2
  With thanks too...

%p  
  Along the way we've worked with, and been helped by, <a title="The Royal Society for Arts, Manufacturing and Commerce" href="http://www.thersa.org" target="_blank">the RSA</a>, <a href="http://www.youngfoundation.org.uk" target="_blank">the Young Foundation</a>, <a title="Simon Lawton-Smith of the Mental Health Foundation" href="http://www.mhf.org.uk" target="_blank">Simon Lawton-Smith of the Mental Health Foundation</a>, <a href="http://www.mind.org.uk" target="_blank">Mind</a>, BBC Careerlink, the <a href="http://www.nef.org.uk">New Economics Foundation</a>, The Work Foundation, Ilona Boniwell at <a href="http://www.uel.ac.uk" target="_blank">University of East London</a>, Engauge, <a title="Ian Gilmour, OK2B" href="http://www.ok2b.org/page2.html" target="_blank">Ian Gilmour of OK2B</a>, Courvoisier, <a title="White Label PR" href="http://www.whitelabeluk.com" target="_blank">White Label PR</a>, Crussh, <a title="Kris Morris music" href="http://www.krismorris.com/" target="_blank">Kris Morris</a> who did our first logo), Marjorie Thompson, Henry Playfoot at <a href="http://www.whiteloop.com">Whiteloop</a>, PR whirlwind <a title="Heleana Quartey, arts PR" href="http://heleana.wordpress.com" target="_blank">Heleana Quartey</a>, Si&acirc;n Croxton of DLA Piper, Mat Healey of <a href="http://www.bwbllp.com/" target="_blank">Bates Wells and Braithwaite</a>, the <a href="http://sicamp.org" target="_blank">Social Innovation Camp</a> community, <a title="Learn everything" href="http://www.schoolofeverything.com/" target="_blank">School of Everything</a>, <a title="FreeAgentCentral, accounting for busy people" href="http://www.freeagentcentral.com" target="_blank">FreeAgentCentral</a> many of the <a href="http://www.courvoisierthefuture500.com">Courvoisier Future 500</a>, and lots of other lovely people. 

