%h1
  Partners and funders

%p
  We can't do everything, and we wouldn't want to either, so partnership working is central to our growth and success. Our core partners and funders are:
  
%ul
  %li
    <a title="South London and Maudsley Charity" href="http://www.maudsleycharity.org.uk/" target="_blank">South London and Maudsley Charitable Funds</a>, Mental Health Promotion Funder
  %li
    <a title="Guys and St Thomas's Charity" href="http://www.gsttcharity.org.uk/" target="_blank">Guys and St Thomas's Charity</a>, Healthcare Pilot Funder
  %li
    <a title="SLAM NHS Trust" href="http://www.slam.nhs.uk" target="_blank">South London and Maudesley NHS Foundation Trust</a>, NHS Provider Partner
  %li
    <a title="NHS South East London" href="http://www.lambethpct.nhs.uk" target="_blank">NHS South East London</a>, NHS Commissioning Partner
  %li
    <a title="Institute of Psychiatry, Kings College London" href="http://iop.kcl.ac.uk" target="_blank">Institute of Psychiatry, Kings College London</a>, Academic Partner

%p
  We're also proud to be associated with:
  
%ul
  %li
    <a title="Mind" href="http://www.mind.org.uk/" target="_blank">Mind</a>
  %li
    <a title="Young Scot" href="http://www.youngscot.org/" target="_blank">Young Scot</a>
  %li
    <a title="The University Mental Health Advisers Network" href="http://www.umhan.com/" target="_blank">The University Mental Health Advisers Network</a>
  %li
    <a title="Action for Happiness" href="http://www.actionforhappiness.org/" target="_blank">Action for Happiness</a>
  %li
    The GPs, healthcare workers and other public services of <a title="Lambeth" href="http://www.lambeth.gov.uk/" target="_blank">Lambeth</a>

%p
  And we're very grateful to <a title="UnLtd" href="http://www.unltd.org.uk" target="_blank">UnLtd</a> and the <a title="Nominet Trust" href="http://www.nominettrust.org.uk" target="_blank">Nominet Trust</a> who supported us back in 2010, and to all our volunteers and fans who continue to support our work.

%p
  If you are interested in partnering with us to help more people to take care of their minds, contact us on
  = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org') + "."