%h1
  Partnerships

%p
  We can't do everything, and we wouldn't want to, so partnership working is central to our growth and success. Our core partners and funders are:
  
%ul
  %li
    <a title="South London and Maudsley Charity" href="http://www.maudsleycharity.org.uk/" target="_blank">South London and Maudsley Charitable Funds</a>, Mental Health Promotion Funder
  %li
    <a title="SLAM NHS Trust" href="http://www.slam.nhs.uk" target="_blank">South London and Maudesley NHS Foundation Trust</a>, NHS Provider Partner
  %li
    <a title="NHS South East London" href="http://www.lambethpct.nhs.uk" target="_blank">NHS South East London</a>, NHS Commissioning Partner
  %li
    <a title="Institute of Psychiatry, Kings College London" href="http://iop.kcl.ac.uk" target="_blank">Institute of Psychiatry, Kings College London</a>, Academic Partner
  %li
    <a title="Guys and St Thomas's Charity" href="http://www.gsttcharity.org.uk/" target="_blank">Guys and St Thomas's Charity</a>, Healthcare Innovation Funder

%p
  We're always looking for organisations who want to join and support the Mindapples campaign, and we're proud to be working with:
  
%ul
  %li
    Our digital partners, <a title="Unboxed Consulting" href="http://www.unboxedconsulting.com/" target="_blank">Unboxed Consulting</a>
  %li
    Our Scottish campaign partners <a title="Young Scot" href="http://www.youngscot.org/" target="_blank">Young Scot</a>
  %li
    The students of <a title="SOAS" href="http://www.soas.ac.uk/" target="_blank">SOAS</a>
  %li
    <a title="Mind" href="http://www.mind.org.uk/" target="_blank">Mind</a>
  %li
    <a title="Action for Happiness" href="http://www.actionforhappiness.org/" target="_blank">Action for Happiness</a>
  %li
    <a title="Social Spaces" href="http://www.socialspaces.org/" target="_blank">Social Spaces</a>
  %li
    The GPs, healthcare workers, libraries and other public services of <a title="Lambeth" href="http://www.lambeth.gov.uk/" target="_blank">Lambeth</a>

%p
  And we're also very grateful to <a title="UnLtd" href="http://www.unltd.org.uk" target="_blank">UnLtd</a> and the <a title="Nominet Trust" href="http://www.nominettrust.org.uk" target="_blank">Nominet Trust</a> who seed-funded the project in 2010 and continue to support our work.
    
