%h1
  The Mindapples Pledge

%p
  Mindapples is a community of people doing things for themselves to look after their minds.

%h2
  1. Take the Mindapples Test

%p
  Choose five activities that you do regularly to take care of your mind.
  
%h2
  2. Make the pledge

%p
  Pledge to do your 5-a-day regularly, and ask people to support you
  
%h2
  3. Challenge your friends

%p
  Share your pledge with your friends, and challenge them to do the same

%h3
  We want to support everyone in doing their own 5-a-days, and make the world more mentally healthy.