%h1
  The Mindapples Pledge

%p
  Mindapples is a community of people doing simple things to look after their minds. Here's how it works:

= image_tag "/images/pledge_123.jpg"

%ol
  %li
    %b
      Take the Mindapples Test: 
    Choose 5 activities that you do regularly to take care of your mind.
  %li
    %b
      Make the pledge: 
    Pledge to do your 5-a-day regularly, and ask people to support you
  %li
    %b
      Tell your friends: 
    Share your pledge with your friends, and challenge them to do the same

%h3
  We want to support everyone in doing their own 5-a-days, and make the world more mentally healthy.
