.sub_tabnav.sub_tabnav
  %ul
    %li.about.about_idea
      %a.about.about_idea.active{:href => "/about"} The idea
    %li.about.about_team
      %a.about.about_team{:href => "/about/team"} Who we are
    %li.about.about_organisation
      %a.about.about_organisation{:href => "/about/organisation"} Organisation
    %li.about.about_research
      %a.about.about_research{:href => "/about/research"} Research
    %li.about.about_contact
      %a.about.about_contact{:href => "/about/contact"} Contact
    %li.about.about_media
      %a.about.about_media{:href => "/about/media"} Media

.sub_central
  .inner

    %h1
      Privacy

    %p
    This page summarises our privacy policy and how we use the personal information we collect from you when you use Mindapples.org. For further details on our use of your personal information, you can also read Clause 7 of our 
    = link_to('Terms & Conditions', terms_path) + "."

    %h3
      The Data Protection Act

    %p
      Under the Data Protection Act, we have a legal duty to protect any personal information we collect from you, so here's what we do.

    %p
      %b
        What information do we collect?

    %p
      We collect several kinds of information from visitors to Mindapples: 
      %br
      Membership Information
      %br
      Enquiries (collected through our contact forms and email)
      %br
      Feedback (collected through our contact forms and email)
      %br
      Other information (submitted by you when you publish Member Content)
      %br
      Usage information (collected through cookies and log files).

    %h3
      What do we do with this information?

    %p
      %b
        Membership Information

    %p
      Your username and real name will appear on the site if you choose to submit Content. All other membership information, including your email address will be kept private and will never appear on the Web Site (unless you publish it as part of Member Content). You may change your personal information or remove it at any time via your Account on the Web Site. We may only use your personal information in accordance with Clause 7 of our Terms and Conditions.

    %p
      We will hold your personal information on our systems for as long as you use the Web Site. If you cancel your Web Site membership we will keep your personal information for up to six months unless you write to us and ask us to remove it from our systems straight away.

    %p
      Unless you ask us not to, We may use your information to write to you or send email to you about Mindapples services that may be of benefit to you. If we do this there will be always be a way for you to tell us not to contact you again.

    %p
      %b
        Feedback

    %p
      We value and welcome your feedback via email. Normally any feedback we gather will be used in an anonymous way. If we intend to contact you about your responses to a particular survey we will say so when we ask you to take part in it.

    %p
      %b
        Member Content

    %p
      You may post Member Content on the Web Site in accordance with Clause 3 of our Terms and Conditions, and we will only not make use of your Member Content in accordance with Clause 3.3. But please remember that if you choose to include personal information in your Member Content you are placing it in the public domain, and we can not guarantee that other agents using the Internet will not gather and use it. These include legitimate agents such as Google and less desirable agents such as the email harvesters used by spammers.
    Site usage information: Cookies

    %p
      Cookies are small text files that are often created when you visit a website, and which are stored in the cookie directory of your computer. Several cookies may be created when you visit Mindapples. We use both permanent cookies and temporary cookies (called session cookies). Permanent cookies stay on your computer between visits to Mindapples. Session cookies disappear when you leave Mindapples and close your browser.

    %p
      Our Cookies are used for the following purposes:

    %p
      To count the number of times you return to the site and the pages that you visit. This helps us improve our site and identify redundant material
    to store your logged in status. Once you have logged in to Mindapples a cookie will help your computer to automatically log in again in the future, until you explicitly log out.

    %p
      To store other settings. For example a cookie is needed to let us know you have voted in a poll or taken part in a survey and another is used to store your preference for the page editor you use to when you create content.

    %p
      The information stored in our cookies is kept separate from your Member Information and will never be used with it.

    %p
      If you want to delete any cookies that are already on your computer, please refer to the instructions for your file management software to locate the file or directory that stores cookies. Our cookies look like this:

    %p
      Name: SESSIONID
      %br
      Content: RANDOM STRING
      %br
      Host: mindapples.org
      %br
      Path: /
      %br
      Secure server: no
      %br
      Expires: 21 days from last login.

    %p
      Please note that by deleting our cookies or disabling future cookies you may not be able to access certain areas or features of our site.

    %p
      %b
        Site usage information: Log files

    %p
      Log files record visitors' use of the site. We can collect information about site usage from the data contained in these logs which we obtain from third parties. Log files do not contain any personal information and they are not used to identify any individual person’s use of the site.

    %p
      When a visitor requests any web page from our Web Site, our web servers automatically obtain that visitor's domain name and IP address. The domain name and IP address reveal nothing personal about you other than the IP address from which you have accessed our site. We use this information to examine our traffic in aggregate, to investigate abuse of the Web Site and its users, and/or to cooperate with law enforcement. We do not disseminate this information to third parties except in aggregate.
    What happens when I follow a link to another site?

    %p
      Mindapples contains links to other websites and to other organisations. This privacy policy applies only to our site, so you should always be aware when you are moving to another site and read the privacy statement of any other site(s) which collect personal information about you.

    %p
      We do not pass on any personal information you have given us to any third party without your permission or to meet our legal obligations as described in Clause 7.2 of our Terms and Conditions.

    %h3
      Access to your information and contacting Mindapples

    %p
      If you wish to see our what Member Information we hold about you should look at your membership information under your Account on the Web Site. If have a further enquiry about your personal data, or if you have a query or complaint about this privacy policy or about the site, you can contact us by email at hello@mindapples.org.

    %h3
      Changes to this privacy policy

    %p
      If this privacy policy changes in any way, we will place an updated version on this page.

    %p
      Thanks for reading, and if you think we're doing anything stupid or wrong with your personal information, we really do want to know, that's not our intention. Please drop us a line at hello[at]mindapples.org.

