%h1
  Health & wellness programmes

%p
  We offer three tiers of wellness promotion programme to suit any size of business.
  
%h2
  Bronze programme: £5995 (£4995 for non-profits)

%p
  %ul
    %li Introductory 'Love your mind' keynote talk for up to 100 staff.
    %li Mindapples tree and applecards for up to 500 staff, and follow-up insights report analysing what people like doing to look after their minds.
    %li 4 breakfast/lunchtime workshops with all staff on the same topics to make sure everyone has the same shared concepts.
    %li Desk-drops of engaging training resources introducing how to look after your mind and stay effective at work.
  
%h2
  Silver programme: £11995 (£9995 for non-profits)

%p
  %ul
    %li Introductory 'Love your mind' keynote talk for up to 300 staff.
    %li Mindapples tree and applecards for up to 1000 staff and follow-up insights report analysing what people like doing to look after their minds.
    %li 4 management masterclasses for up to 20 line managers, bringing them up to speed on the psychology of good work and exploring mood management, motivation, stress and pressure, and how we influence each other at work.
    %li 4 breakfast/lunchtime workshops with all staff on the same topics to make sure everyone has the same shared concepts.
    %li Desk-drops of engaging training resources introducing how to look after your mind and stay effective at work.

%h2
  Gold programme: £17995 (£14995 for non-profits)

%p
  %ul
    %li Three keynote talks over the year for up to 300 staff each, introducing maintaining your mind, handling moods and emotions and maintaining resilience.
    %li Mindapples tree and applecards for all staff, and follow-up insights report analysing wellbeing activities in the organisation.
    %li Two diagnostic sessions with staff and management identifying key issues in the organisation and identifying recommendations for improving staff health and wellbeing
    %li 
      Management training programme 
      %i A Mind for Management 
      for up to 20 line managers teaching the key competencies they need to promote mental wellbeing and performance.
    %li Full programme of breakfast/lunchtime workshops with all staff covering all the essential topics for mental effectiveness at work, from motivation to innovation.
    %li Desk-drops of engaging training resources introducing how to look after your mind and stay effective at work.
    %li Posters, intranet content and other internal comms resources to help you embed mental wellbeing into the fabric of your organisational culture.

%p
  %b
    = link_to('Contact us now to find out more', contact_path) + "."