%h1
  Wellness programmes

%p
  Unique engagement and training services to enhance the mental resources of your organisation.
  
%h2
  Core: £4995

%p
  %ul
    %li Introductory 'Love your mind' keynote talk for up to 100 staff.
    %li Mindapples tree and applecards for up to 500 staff, and follow-up insights report analysing what people like doing to look after their minds.
    %li 3 'Sort your mind out' workshops with up to 35 staff each to discuss mental wellbeing and explore the mindapples suggestions together.
    %li Desk-drops of learning resources on managing your mind and working productively.
  
%h2
  Orchard: £9995

%p
  %ul
    %li Introductory 'Love your mind' keynote talk for up to 300 staff.
    %li Mindapples tree and applecards for up to 1000 staff and follow-up insights report analysing wellbeing activities and identifying 'quick wins'.
    %li 2 half-day A Mind for Management management masterclasses for up to 15 line managers, covering managing your mind, motivating staff and handling stress and pressure.
    %li 4 A Mind for Business masterclasses for up to 35 staff each, on the same topics to cascade key principles from the management sessions.
    %li Desk-drops of learning resources on managing your mind and working productively.

%h2
  Golden Delicious: £14995

%p
  %ul
    %li 3 keynote talks over the year for up to 300 staff each, introducing maintaining your mind, handling moods and emotions and maintaining resilience.
    %li Mindapples tree and applecards for up to 3000 staff, and follow-up insights report analysing wellbeing activities and 'quick wins'.
    %li 
      One six-week management training programme 
      = link_to('A Mind for Management', 'http://mindap.pl/1mI3WQe') 
      for up to 15 line managers to support them to manage stress, motivate staff and lead wellbeing at work.
    %li 
      Full series of ten 
      = link_to('A Mind for Business', 'http://mindap.pl/MpJA0F')
      masterclasses for up to 35 staff each, covering essential topics from motivation to innovation.
    %li 3 diagnostic sessions with staff and management exploring the psychology of your workplace and identifying key recommendations for improving staff health and wellbeing
    %li Desk-drops of learning resources on managing your mind and working productively.
    %li Posters, intranet content and other internal comms resources to help you embed mental wellbeing into the fabric of your organisational culture.

%p
  %b
    = link_to('Contact us now to find out more', contact_path) + "."