%h1
  Corporate wellbeing programmes

%p
  Promoting mental wellbeing is tricky, so let us take the problem off your hands. We combine our unique engagement and training services to offer three levels of corporate wellbeing programme to suit any size of business.
  
%h2
  Bronze: £5995 (£4995 for non-profits)

%p
  %ul
    %li Introductory 'Love your mind' keynote talk for up to 100 staff.
    %li Mindapples tree and applecards for up to 500 staff, and follow-up insights report analysing what people like doing to look after their minds.
    %li 4 breakfast/lunchtime workshops with up to 30 staff each to discuss mental wellbeing and explore the mindapples suggestions together.
    %li Desk-drops of learning resources introducing how to maintain your mind and apply it effectively to your work.
  
%h2
  Silver: £11995 (£9995 for non-profits)

%p
  %ul
    %li Introductory 'Love your mind' keynote talk for up to 300 staff.
    %li Mindapples tree and applecards for up to 1000 staff and follow-up insights report analysing wellbeing activities and identifying 'quick wins'.
    %li 4 management masterclasses for up to 20 line managers, providing information on mood regulation, motivation, pressure management and influence.
    %li 4 breakfast/lunchtime masterclasses for up to 35 staff each, on the same topics to cascade key principles from the management sessions.
    %li Desk-drops of learning resources introducing how to maintain your mind and apply it effectively to your work.

%h2
  Gold: £17995 (£14995 for non-profits)

%p
  %ul
    %li Three keynote talks over the year for up to 300 staff each, introducing maintaining your mind, handling moods and emotions and maintaining resilience.
    %li Mindapples tree and applecards for up to 3000 staff, and follow-up insights report analysing wellbeing activities and 'quick wins'.
    %li Four diagnostic sessions with staff and management exploring the psychology of your workplace and identifying key recommendations for improving staff health and wellbeing
    %li 
      Six-week management training programme 
      = link_to('A Mind for Management', 'http://mindap.pl/1mI3WQe') 
      for up to 20 line managers teaching the key competencies they need to promote mental wellbeing and performance.
    %li 
      Full programme of breakfast/lunchtime masterclasses for up to 35 staff each, covering 
      = link_to('all the essential topics for mental effectiveness at work', 'http://mindap.pl/MpJA0F') + "," 
      from motivation to innovation.
    %li Desk-drops of learning resources introducing how to maintain your mind and apply it effectively to your work.
    %li Posters, intranet content and other internal comms resources to help you embed mental wellbeing into the fabric of your organisational culture.

%p
  %b
    = link_to('Contact us now to find out more', contact_path) + "."