%h1
  Past projects

%p
  Mindapples works with a lot of different funders and partners to bring our education and engagement tools to wider audiences. Here are a few of the projects we've done in the past few years: 
  
%h2
  London South Bank student education pilot (2014)

%h4
  Guys & St Thomas's Charity/London South Bank University/University of York

%p
  A pilot project funded by Guy's and St Thomas's Charity to adapt our 
  = link_to('workplace training programme', training_path)
  to support nursing and social care students at London South Bank University. The pilot programme is being evaluated by the International Centre for Mental Health Social Research at the University of York.

%h2
  Moodbug (2014)

%h4
  Comic Relief/Nominet Trust/Gospelware

%p
  An iPhone app targeted particularly at young people that helps people track and share their moods with close friends, and send friendly gifts to people based on how they are feeling. The app was funded as part of the Innovation Labs programme, a joint project by Comic Relief and the Nominet Trust.

%h2
  Young Mindapples (2014)

%h4
  Young Minds/Mindapples

%p
  A joint project with youth mental health specialists Young Minds to promote mental wellbeing to young people. Using specially-created co-branded mindapple cards, Young Minds are now engaging thousands of young people around the UK in taking more responsibility for their mental health.
  
%h2
  University Mental Health and Wellbeing Day (2013)

%h4
  UMHAN/StudentMinds/Mindapples

%p
  The mental health of UK students is now a priority public health issue due to the pressure of tuition fees and an over-crowded job market. In 2012, Mindapples was one of the launch partners of this new annual event focussing on student mental health and wellbeing, and in 2013 we played a major role in promoting the campaign, selling trees and toolkits to over 30 universities around the UK. Thousands of applecards have now been sold as part of this ongoing campaign, and over 50 UK universities now have their own mindapples trees and toolkits for promoting student wellbeing.

%h2
  Make Time For Your Mind (2013)

%h4
  Vinspired/Mindapples

%p
  A partnership project with youth volunteering specialists Vinspired, to train and equip 100 young volunteers with their own mindapples toolkits and send them off round the country to promote mental wellbeing. The campaign was one of Team V's most successful ever, and reached thousands of people all around the country with positive messages about looking after our minds, showing the value of Mindapples' innovative engagement approach and event tools. Check out this  delightful promo video the folks at V made for the campaign:

%p
  <iframe width="519" height="310" src="//www.youtube.com/embed/KcnZcfxc3FI" frameborder="0" allowfullscreen></iframe>

%h2
  Grow your own mindapples (2012)

%h4
  Maudsley Charity

%p
  A project created as part of our core funding from the Maudsley Charity, to scale up the impact of our campaign by developing 
  = link_to('cardboard trees and event toolkits', shop_path)
  for volunteers. Our toolkits have been used by schools, universities, healthcare bodies and community groups to promote the central mindapples campaign message to look after our minds. We have sold over 40,000 mindapples cards in the UK in 2013-14 alone, and over half our social impact now comes from third parties using our tools.

%h2
  Feed Your Head (2011)

%h4
  Mindapples 

%p
  A fundraising event organised by our very own Ruta Marcinkus, featuring a night of bands at Cargo in East London playing in support of Mindapples and good mental health. Thanks to JB Conspiracy, Strobe Circus and beat-boxers Bass6, YaSSon and Xperimental and everyone who came for making the night one to remember!

%h2
  Scottish Mindapples (2011)

%h4
  Young Scot/Mindapples

%p
  A partnership project with Young Scot to take the Mindapples campaign to young people in Scotland. Young Scot's engagement team used a wooden Mindapples Tree to engage young people at festivals and youth events around Scotland over the summer 2011, reaching thousands of young people and inspiring them to do more to take care of their minds.
  
%h2
  A summer of festivals (2011)

%h4
  Mind/Time to Change

%p
  A project funded through the social contact strand of Time to Change, to reduce stigma on mental illness by getting people with and without mental health issues talking positively about the health of their minds. The Mindapples Tree, staffed by our loyal gardeners, went to seven festivals in Summer 2011, delivering excellent ROI to the campaign and reaching 32,000 people at a cost-per-contact of less than £1.

%h2
  Public health pilot (2011)

%h4
  Maudsley NHS/NHS Lambeth/Institute of Psychiatry/Guy's & St Thomas's Charity/Maudsley Charity

%p
  A pilot project to evaluate the effectiveness of mindapples trees for engaging patients in GP surgeries in Lambeth in thinking about their mental health. Sadly the project is still awaiting NHS ethical approval three years later though, which is a stark warning to any small business hoping to help the NHS.

%h2
  The Big Treat (2010)

%h4
  Courvoisier/Mindapples

%p
  Our first funded project, in partnership with Courvoisier UK, The Big Treat was a pop-up health farm in Central London that showcased luxury treats for mind and body. The event was featured in the popular press including Urban Junkies and View London and was a busy attraction in Summer 2010. We even turfed the gallery with REAL GRASS! No kidding. Take a look...
  %br
  <iframe width="519" height="310" src="//www.youtube.com/embed/lbZfBwq6hLw" frameborder="0" allowfullscreen></iframe>
  
%h3
  If you think you've got a project for us, or if you'd like to discuss bringing our work to the people who need it,
  = link_to('drop us a line', 'mailto:hello@mindapples.org') + "."

