%h1
  Mindapples research and methodology

%p
  The Mindapples concept and process have been developed through integrating extensive research from many disciplines, including psychology, cognitive neuroscience, learning theory, behavioural science and action research, in a way that is simple, enjoyable and effective. 

%p
  The science of wellbeing suggests that the health of our minds is more connected to our everyday activities than was previously thought. The core Mindapples self-observation process triggers an ongoing self-awareness cycle.  This personal learning process enhances people's ability to pay attention to the fluctuations in their overall physiology, encouraging them to manage their day-to-day activities in a highly individual way, that supports self-regulation for emotional and physical wellbeing - by their own design and direction.

%p
  This process of reflective learning and person-led change underpins our work with any group. We ask people what they want to stay well, help them reflect individually and collectively on what they need, and then work on their behalf to transform the community, workplace, institution or any other context in which they live and work. This is genuine, person-led change that respects individuals and delivers lasting positive change for communities.

%p
  Mindapples services revolve around sparking awareness, creating dialogue, building relationship and empowering people to realise their potential for a balanced and greater wellbeing. We use a range of unique tools to help us engage people in a highly personalised approach that relies on sensitive communication and genuine understanding of culture and values, whether for organizations, public awareness campaigns, in education or for individuals. 
  
%p
  All our work is underpinned by the Mindapples Self-Observation Process:
  %br
  %img{:src => "/images/content/1-2-3.gif" }

%p
  This process is supported by our concept of a 'mindapple' - a simple everyday activity that is good for your mind - and our use of the "5-a-day for your mind" hook to explain the concept quickly and help individuals see the connection between what they do, and how they feel.
  
%p
  We also offer rigorous qualitative research to explore issues, understand behaviours and clearly define how challenges turn in to meaningfully designed actions. 
  
%p
  We need partners to work with us to disseminate our findings and evaluate the impact of the Mindapples process on individuals and communities. Get involved in trialling our 
  = link_to 'tailored services', services_path
  or to discuss our research in general, contact us at hello[at]mindapples.org.
