%h1
  Research and advice

%p
  If you want to promote mental wellbeing in your organisation or community, or understand what really drives your customers, then you need data. Mindapples 
  = link_to 'engagement services', engagement_path 
  gather valuable insights into what drives people and keeps them well. We make this information available to decision-makers, and advise organisations on how to improve their environment and support person-led activities to promote wellbeing at work, rest and play.
  
%h2
  Insights reports

%p
  Our "5-a-day for your mind" surveys gather hundreds of fascinating suggestions from individuals about what they need to feel good in their minds. We analyse these suggestions anonymously for clients and compare them to our baseline data, to give our clients valuable insights into the activities and themes that drive the people they care about. We can also extend our basic survey tools to map the specific issues people are facing in their lives and work, and advise clients on the simple things they can change to create significant improvements in the mental wellbeing of their staff, customers and communities. 
  
%p
  Reports are prepared according to client requirements by our experienced insights researchers, and typically include: 
  %ul
    %li summary statistics on number and quality of responses
    %li analysis of the suggestions themselves and identification of key themes
    %li highlights from the 5-a-day activities, including the most popular and intriguing ideas
    %li recommendations for further actions and ‘soft targets’ to support mental wellbeing

%h2
  Advice

%p
  In our work developing Mindapples, we've gathered a wealth of knowledge and experience about workplace wellbeing and public health promotion. If you're seeking to engage people in improving their health, or looking for advice on where to start with improving psychological wellbeing at work, we'd be happy to share what we know. 
  = link_to('Drop us a line', contact_path) + "."
  to find out more about how we can help you do more for the health of your people.
  
%p
  %b
    = link_to('Contact us now to find out more', contact_path) + "."
