%h1
  Research services

%p
  If you want to promote mental wellbeing in your organisation or community, it's important to understand what people want. Mindapples specialises in finding out what people want, and making that information clear and accessible for decision-makers.
  
%h2
  Insights reports

%p
  Our unique question-based engagement approach gathers hundreds of fascinating suggestions from individuals about what they need to feel good in their minds. We can analyse this data and match it to the other suggestions from our wider community to give you detailed insights into the activities and themes your people care about. You can use these insights to understand your people better, take simple actions to support or reward them, or even understand what they might be interested in buying.

%p
  Reports are prepared according to client requirements by our experienced insights researchers, and typically include: 
  %ul
    %li summary statistics on number and quality of responses
    %li analysis of the suggestions themselves and identification of key themes
    %li highlights from the 5-a-day activities, including the most popular and intriguing ideas
    %li recommendations for further actions and ‘soft targets’ to support mental wellbeing

%p
  In more detailed projects we also produce impartial recommendations of products and services that your organisation can use to reward your staff, patients or community and support them to do more for their minds.

%h2
  Bespoke surveys

%p
  Mindapples specialises in getting people talking and assessing what people want and need. We have strong research and consultancy skills and work with clients to solve particular problems and start positive conversations about change. 
  
%p
  We can conduct surveys, conduct interviews and focus groups, analyse business processes and map the specific issues people are facing in their lives and work. Then we advise clients on the simple things they could change to create significant improvements in the mental wellbeing of their staff, customers and communities. We can also conduct assessments of mental wellbeing and other key metrics, set measurement frameworks for organisations, and investigate particular issues such as workplace stress, redundancy, transition and social isolation. 
  
%p
  Whatever the issue, we make it easier for people to talk about what matters to them, and for organisations to act on it. If you’d like to know what your people need for their mental wellbeing, contact us now on 
  = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org') + "."