%h1
  Mindapples research and methodology

%p
  The Mindapples concept and process have been developed through integrating extensive research from many disciplines, including psychology, cognitive neuroscience, learning theory, behavioural science and action research, in a way that is simple, enjoyable and effective. 

%p
  The science of wellbeing suggests that the health of our minds is more connected to our everyday activities than was previously thought. The core Mindapples self-observation process triggers an ongoing self-awareness cycle.  This personal learning process enhances people’s ability to pay attention to the fluctuations in their overall physiology, encouraging them to manage their day-to-day activities in a highly individual way, that supports self-regulation for emotional and physical wellbeing – by their own design and direction.

%p
  This process is supported by our concept of a ‘mindapple’ – a simple everyday activity that is good for your mind – and our use of the “5-a-day for your mind” hook to explain the concept quickly and help individuals see the connection between what they do, and how they feel.
  
%p
  We need partners to work with us to evaluate the impact of the Mindapples process on individuals and communities. Get involved in trialling our 
  = link_to 'tailored services', services_path
  or, to discuss our research in general, please contact Tessy Britton on tessy[at]mindapples.org.
