%h1
  Research and consultancy

%p
  Our "5-a-day for your mind" surveys gather hundreds of fascinating suggestions about what your people enjoy doing to look after their minds. We analyse these responses anonymously for clients and compare them to our baseline data, to give you valuable insights into how you can support them to be well. This is critical intelligence for anyone running a business or supporting people to be healthier. 
  
%p
  Our experienced insights researchers can prepare you a tailored insights report full of advice on the simple things you can do to promote mental wellbeing for your people, including: 
  %ul
    %li summaries of key quantitative and qualitative elements of the data
    %li identification of key themes and preferences of the group
    %li highlights of the best 5-a-day activities, including the most popular and unusual ideas
    %li recommendations for cheap, simple actions you can take to support mental wellbeing

%p
  Want to know more? We can also use our own and our partners' specialist mapping tools to identify the specific issues people are facing in their lives and work, and share our knowledge about how you can get the best from your people, and help them stay healthy in the process.
  
%p
  %b
    = link_to('Contact us to find out more', contact_path) + "."
