%h1
  Mindapples in schools

%p
  Children who experience mental health problems are vastly more likely to experience them again in adulthood. If we want to transform the mental wellbeing of our communities, it is vital that we start in schools.

%h2
  Our approach

%p
  All our programmes are based on the core Mindapples Self-Observation Process:
  %br
  %img{:src => "/images/content/1-2-3.gif" }

%p
  The Mindapples methodology has been specially designed to teach emotional intelligence, build locus of control and respect the needs and desires of children, particularly those with difficult lives. We are also interested in involving parents and families in the work, partly to benefit the children but also to develop connections and common ground between family members and provide support to families in crisis.
  
%p
  If you are interested in working with us to pilot Mindapples in schools and with vulnerable young people, or are curious to explore how Mindapples might help the people you care about, please contact Tessy Britton on tessy[at]mindapples.org.
