%h1
  Mindapples services
  
%p
  Mindapples is about more than individual wellbeing. The Mindapples process can be applied across all sectors to deliver multiple-effect programmes to change culture and re-invigorate communities. This is about more than 'wellbeing programmes': this is about supporting our communities and organisations to meet our emotional needs and serve us better.
  
%h2
  Core methodology

%p
  All our programmes are based on the core Mindapples Self-Observation Process:
  %br
  %img{:src => "/images/content/1-2-3.gif" }

%p
  This process of reflective learning and person-led change underpins our work with any group. We ask people what they want to stay well, help them reflect individually and collectively on what they need, and then work on their behalf to transform the community, workplace, institution or any other context in which they live and work. This is genuine, person-led change that respects individuals and delivers lasting positive change for communities.
  
%h2
  How we work

%p  
  Mindapples services revolve around sparking awareness, creating dialogue, building  relationship and empowering people to realise their potential for a balanced and greater wellbeing. We use a range of unique tools to help us engage people in a highly personalised approach that relies on sensitive communication and genuine understanding of culture and values, whether for organizations, public awareness campaigns, in education or for individuals.
  
%p  
  We offer rigorous qualitative research to explore issues, understand behaviours and clearly define how challenges turn in to meaningfully designed actions.

%p  
  We begin all our programmes with a close consultation, testing the concept and gaining understanding of how it can be deployed most effectively in a particular context. An initial pilot helps us to shape the programme and understand how to communicate it effectively. This is followed by a large-scale data-gathering exercise, which reveals unique and interesting insights, and from this we build a tailored campaign.

%p  
  Rather than investing heavily in one large-scale implementation based on limited data and understanding of context, we take an iterative approach, gathering insights and tailoring each stage of the process to suit the considerations and concerns of staff and management. We continue learning with people, adjusting our strategy as we go, until the core objectives have been met. 
