%h1
  Mindapples services
  
%p
  Mindapples offers a unique way to engage any group of people in considering the health of their minds. We help individuals find activities to keep themselves mentally well, and help communities and organisations start positive conversations about mental health and wellbeing. Our services spark awareness, create dialogue, and build connections and community. 
  
%h2
  Engagement services

%p  
  Mindapples offer a range of tools and services to help organisations and communities engage people in mental wellbeing:
  
%ul
  %li
    Engagement events to promote mental wellbeing and engage people in the Mindapples concept and "5-a-day for your mind" question, including <a href="/thebigtreat">The Big Treat</a>, a pop-up health farm for mind and body.
  %li
    Materials, giveaways and communications tools to engage groups of people in mental wellbeing and gather responses to the Mindapples "5-a-day for your mind" question.
  %li
    Digital support tools to build on these initial engagements and support individuals to continue learning about the Mindapples principles and get support from their peers - including special networks and widgets to engage communities digitally using the Mindapples.org technology.
  
%h2
  Wellbeing programmes

%p  
  We also go deeper than engagement to create lasting behaviour and culture change in individuals and communities. Mindapples is piloting a range of knowledge-based wellbeing curricula and organisational change programmes, that build on our engagement tools to help individuals and groups in maintaining and improving their own mental wellbeing. We support this with rigorous qualitative research to evaluate impact, explore particular issues, understand behaviours and clearly define how challenges turn in to meaningfully designed actions.
