%div{ :id => "share_bg_top"}
%div{ :id => "share" }
  %h1 Would you like to share your mindapples?
  %p Want to know your friends' mindapples? Share your five on Facebook and Twitter and ask them!
  %p Go on, it only takes a second...
  %div.share_icons
    = share_this_icons_large