%div{ :id => "share" }
  %h1 Would you like to share your mindapples?
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit arcu vel leo auctor feugiat. Aenean sapien mauris, venenatis quis interdum eu.