<div id="share_bg_top"></div>
<div id="share">
  <h1>Spread the word</h1>
  <p>Please help us spread the Mindapples message by telling your Facebook and Twitter friends what you do to look after your mind.</p>
  <p>Go on, it only takes a second...</p>
  <div class="share_icons">
    <%= share_this_icons_large %>
  </div>
  <p>Feeling shy? You can still help us by giving us <%= link_to 'feedback', feedback_path %>.</p>
</div>
