%h1
  Mindapples Shop

%p
  Host your own events and impress your friends with new Mindapples stuff!

%p
  Inspire the people you work with to think and talk more about their minds. Choose from a wide range of tree packages and toolkits to bring the mindapples 5-a-day concept into your work.

<div align=center"><script type='text/javascript' src='http://www.etsy.com/assets/js/etsy_mini_shop.js'></script><script type='text/javascript'>new Etsy.Mini(6627963,'gallery',2,4,0,'http://www.etsy.com');</script></div>

%p
  Can't see what you're looking for here? 
  = link_to('Drop us a line', contact_path)
  and tell us what you want.
