%h1
  Mindapples Shop

%p
  Inspire people to take care of their minds with our tree packages and event toolkits, and impress your friends with sexy mindapples gear.

<div align=center"><script type='text/javascript' src='http://www.etsy.com/assets/js/etsy_mini_shop.js'></script><script type='text/javascript'>new Etsy.Mini(6627963,'gallery',2,4,0,'http://www.etsy.com');</script></div>

%p
  Can't find what you're looking for? 
  = link_to('Drop us a line', contact_path) + "."
