%h1
  Take our survey!

%p
  We want to know more about our attitudes to mental health, and our knowledge about how to look after our minds. Please help our research by taking a minute or two to complete the questions below.

<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
var r7x2x3 = new WufooForm();
r7x2x3.initialize({
'userName':'mindapples', 
'formHash':'r7x2x3', 
'autoResize':true,
'height':'260',
'header':'show'});
r7x2x3.display();
</script>

%p
  Your responses will be used anonymously by Mindapples and our academic partners to evaluate the impact of our work. We will never make your email address public, or give away your identity. For more information on how we use and store data, please refer to our
  = link_to('Privacy Policy', privacy_path) + "."
