<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
var r7x2x3 = new WufooForm();
r7x2x3.initialize({
'userName':'mindapples', 
'formHash':'r7x2x3', 
'autoResize':true,
'height':'260',
'header':'show'});
r7x2x3.display();
</script>

%p
  Your responses will be used anonymously by Mindapples and our 
  = link_to('academic partners', partnerships_path) 
  to evaluate the impact of our work. For more information on how we use and store data, please refer to our
  = link_to('Privacy Policy', privacy_path) + "."
