.sub_tabnav.sub_tabnav
  %ul
    %li.about.about_idea
      %a.about.about_idea{:href => "/about"} The idea
    %li.about.about_team
      %a.about.about_team{:href => "/about/team"} Who we are
    %li.about.about_organisation
      %a.about.about_organisation{:href => "/about/organisation"} Organisation
    %li.about.about_evidence
      %a.about.about_evidence{:href => "/about/evidence"} Evidence
    %li.about.about_contact
      %a.about.about_contact{:href => "/about/contact"} Contact
    %li.about.about_media
      %a.about.about_media{:href => "/about/media"} Media

.sub_central
  .inner

    %h1
      Terms and Conditions

    %h3
      1. INTRODUCTION

    %p
      1.1 In these Terms and Conditions "we", "us" and "our" mean Mindapples as defined below and "you" and "your" mean the Member (acting in their own personal capacity, or on behalf of an organisation, as the context requires). Other words to which we have given a particular meaning begin with a capital letter. These words and meanings are set out at the end of this document.

    %p
      1.2 By accessing or using our Web Site at mindapples.org you signify that you have read, understand and agree to be bound by these Terms and Conditions, whether or not you are a registered as a Member. If you do not agree to abide by these or any future Terms and Conditions, do not use or access (or continue to use or access) the Web Site. It is your responsibility to regularly check the Web Site to determine if there have been changes to these Terms and Conditions and to review such changes.

    %p
      1.3 PLEASE READ THESE TERMS OF USE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS.

    %p
      1.4 These Terms and Conditions regulate the relationship between us and Members, and between Members, subject to any additional terms and conditions that may relate to the sale of goods or services between you and us, or between Members. We are not a party to any sale agreements between you and any other Member. Our primary function is to operate the Web Site.

    %h3
      2. REGISTRATION

    %p
      2.1 We are not obliged to register any person or entity as a Member and we reserve the right to decline to register any person or entity as a Member for any reason whatsoever.

    %p
      2.2 In consideration of your use of the Web Site, you agree to (a) provide and maintain accurate, current and complete information about you as may be prompted by any registration forms on the Web Site; and (b) maintain the security of your Passcode.

    %p
      2.3 When you register with us as a Member, you will specify your Passcode and we will set up your Account.

    %p
      2.4 When you log-on to your Account, as long as the correct username and Passcode are entered, we will assume that you are the person giving instructions and making transactions and you will be liable for them, unless and until you tell us as soon as possible after you become aware that someone else knows your Passcode or can use the Web Site by impersonating you. You must therefore keep your Passcode secret and make sure that the Passcode is not stored on your workstation in a way that enables others to impersonate you.

    %h3
      3. USING THE WEB SITE

    %p
      3.1 You represent, warrant and agree that no materials of any kind submitted through your Account or otherwise posted, transmitted, or shared by you on or through the Web Site will violate or infringe upon the rights of any third party, including copyright, trademark, privacy, publicity or other personal or proprietary rights; or contain libellous, defamatory or otherwise unlawful material. In addition, you agree not to use the Web Site to:
      
    %p
      (a) harvest or collect email addresses or other contact information of other users from the Web Site by electronic or other means for the purposes of sending unsolicited communications;
      %br
      (b) use the Web Site in any unlawful manner or in any other manner that could damage, disable, overload or impair the Web Site or the servers on which it is hosted;
      %br
      (c) use automated scripts to collect information from or otherwise interact with the Web Site;
      %br
      (d) upload, post, publish, display, transmit, share, store or otherwise make available on the Web Site any content that we deem:
      %br
      (i) to be harmful, threatening, unlawful, libellous, defamatory, infringing, abusive, inflammatory, harassing, vulgar, obscene, fraudulent, invasive of privacy or publicity rights, hateful, or racially, ethnically or otherwise objectionable;
      %br
      (ii) to contain software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;
      %br
      (iii) to be unsolicited or unauthorized advertising, solicitations, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation;
      %br
      (iv) to be the private information of any third party, including, without limitation, addresses, phone numbers, email addresses, Social Security or National Insurance numbers or other identifiers, credit card numbers and/or debit card numbers;
      %br
      (v) to be unclear, unfair or misleading in relation to any goods or services you are attempting to promote or market;
      %br
      (e) register for more than one Account, register for an Account on behalf of an individual other than yourself, or register for an Account on behalf of any group or entity without that group or entity’s prior written authorisation;
      %br
      (f) impersonate any person or entity, or falsely state or otherwise misrepresent yourself, your age or your affiliation with any person or entity; use or attempt to use another's account, service or system without authorization from us, or create a false identity on the Web Site.
      %br
      (g) solicit personal information from anyone under 18 or solicit passwords or personally identifying information for commercial or unlawful purposes;

    %p
      3.2 You are solely responsible for your Member Content. You may not post, transmit, or share Member Content on the Web Site that you did not create or that you do not have permission to post. You understand and agree that we may, but we are not obligated to, review the Web Site and may delete or remove (without notice) any Mindapples Content or Member Content in our sole discretion, for any reason or no reason, including without limitation Member Content that in our own sole judgement violates any provision(s) of these Terms and Conditions. You are solely responsible at your sole cost and expense for creating backup copies and replacing any Member Content you post or store on the Web Site or provide to us.

    %p
      3.3 When you post Member Content to the Web Site, you authorize and direct us to make such copies thereof as we deem necessary in order to facilitate the posting and storage of the Member Content on the Web Site. By posting Member Content to any part of the Web Site, you automatically grant, and you represent and warrant that you have the right to grant, to us an irrevocable, perpetual, non-exclusive, transferable, fully paid, worldwide license (with the right to sublicense) to use, copy, publicly perform, publicly display, reformat, translate, excerpt (in whole or in part) and distribute such Member Content for any purpose on or in connection with the Web Site or the promotion thereof, to prepare derivative works of, or incorporate into other works, such Member Content, and to grant and authorize sublicenses of the foregoing. You may remove your Member Content from the Web Site at any time. If you choose to remove your Member Content, the license granted above will automatically expire, however you acknowledge that we may retain archived copies of your Member Content.

    %p
      3.4 You agree to indemnify and hold us, our subsidiaries and affiliates, and each of their directors, officers, agents, contractors, partners and employees, harmless from and against any loss, liability, claim, demand, damages, costs and expenses, including reasonable attorney's fees, arising out of or in connection with any Member Content that you post or share on or through the Web Site, any sale of any goods or services by you to another Member whether or not that sale takes place via the Web Site, your use of the Web Site, your conduct in connection with the Web Site or with other users of the Web Site, or any violation of these Terms and Conditions or of any applicable law, regulation or the rights of any third party.

    %p
      3.5 Provided that you are eligible for use of the Web Site, you grant (in respect of your Member Content), and are granted (in respect of other Member Content), a limited license to access and use the Member Content and to download or print a copy of any portion of the Member Content to which you have properly gained access solely for your personal, non-commercial use, provided that you keep all copyright or other proprietary notices intact. Except for your own Member Content, you may not upload or republish Member Content on any Internet, Intranet or Extranet site or incorporate the information in any other database or compilation, and any other use of the Member Content is strictly prohibited. Such license is subject to these Terms and Conditions and does not include use of any data mining, robots or similar data gathering or extraction methods. Any use of the Member Content other than as specifically authorized herein, without our prior written permission and that of the Member who owns the Member Content, is strictly prohibited and will terminate the license granted herein. Such unauthorized use may also violate applicable laws including without limitation copyright and trademark laws and applicable communications regulations and statutes. Unless explicitly stated herein, nothing in these Terms and Conditions shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. This license is revocable at any time without notice and with or without cause.

    %p
      3.6 You are solely responsible for your interactions with other Members. We reserve the right, but have no obligation, to monitor disputes between you and other users.

    %h3
      4. Mindapples CHARGES

    %p
      4.1 We may charge you a membership fee via the Web Site. When you pay this fee, this transaction will be recorded in your Account. Periodically, we may send you an invoice for any unpaid fees recorded in your Account. This invoice may be emailed to you, sent to you by post or posted in your Account. You must pay the full amount of each such invoice to our account, the details of which will be on our invoice. If your invoice remains unpaid for 28 days, we may suspend your Account until the full amount then outstanding is paid. We may also terminate your Account for non-payment of any amount.

    %p
      4.2 It is possible that we may also earn commission or other revenue on the sale of certain goods or services via the Web Site.

    %p
      4.3 You are responsible for any related telecommunications charges, digital television subscription or other charges for the time you spend accessing the Web Site via the Internet or any wireless, television or other relevant network.

    %h3
      5. VARIATIONS

    %p
      5.1 We may vary these Terms and Conditions from time to time to accommodate:
    %p
      (a) Members’ feedback;
      %br
      (b) changes required by third party service providers;
      %br
      (c) new features, improvements or other changes to the Web Site, Member Content or Mindapples Content;
      %br
      (d) changes in applicable law, rules, regulations, market conventions, decisions or orders of any court, ombudsman, arbitrator, regulator or any undertakings given in one of these contexts.

    %p
      5.2 These changes are shown in our Amendment History, which is set out at the end of these Terms and Conditions, but if we have made major changes or a lot of minor changes, we will simply summarise the nature of the changes under the Amendment History. We will always try to give at least 30 days' notice via email or your Account before making the change. If you continue to use the Web Site after we have made such changes you will have accepted these Terms and Conditions, as amended.

    %h3
      6. TERM AND TERMINATION OF YOUR ACCOUNT

    %p
      6.1 You may terminate your registration by sending us an email to hello@mindapples.org.

    %p
      6.2 We may terminate your Mindapples registration if you have lied to us, or seriously or repeatedly breach these Terms and Conditions.

    %p
      6.3 We may either terminate or suspend your registration immediately and without notice if we are aware or reasonably suspect that you are engaged in, or may be the victim of, any fraudulent activity. We will then notify you of any such termination or suspension as soon as is reasonably practicable, to the extent we are permitted to do so by applicable law.

    %p
      6.4 We may terminate your registration, delete your Account and any Member Content or information that you have posted on the Web Site and/or prohibit you from using or accessing the Web Site (or any portion, aspect or feature of the Web Site) for any reason, or no reason, at any time in our sole discretion, with or without notice.

    %p
      6.5 In the event that your registration or Account expires or is terminated for any reason:
    %p
      (a) you will no longer be able to access your Account;
      %br
      (b) you will be able to gain public access to the Web Site, but you will not be able to access parts of the Web Site reserved for Members nor contribute content.
      %br
      (c) we will continue to maintain records to the extent that we are required or permitted by law to do so.

    %p
      7. USE OF PERSONAL INFORMATION

    %h3
      7.1 We as data controller may use your Personal Information for: statistical analysis; to develop and improve our products; to update your records; to identify which of our, or others', products might interest you; keeping you informed about your account and for market research.

    %p
      7.2 We will keep your Personal Information confidential and only give it to others for the purposes we explained when you applied to us, and:
    %p
      (a) if you ask us to or give us your permission to do so;
      %br
      (b) to meet our obligations to any relevant regulatory authority or taxing authority; and
      %br
      (c) if we have to by law, the law allows it, or it is in the public interest.

    %p
      7.3 We may transfer your Personal Information abroad to countries whose data protection laws are less strict than in the UK. If so, we will ensure the information is held securely to standards as least as good as those in the UK and only used for the purposes set out in this clause.

    %p
      7.4 Under the Data Protection Act 1998, you have a right to access certain personal records we hold about you. This is called a ‘subject access request’, which you can make by writing to us at hello@mindapples.org. A fee may be payable, but we will not charge you until we have told you how much the fee is and what it is for, and you have told us you still want to proceed.

    %p
      7.5 We may also store information about you using cookies (files which are sent by us to your computer or other access device) which we can access when you visit our Web Site in future. We do this to:
    %p
      (a) to count the number of times you return to the Web Site and the pages that you visit - this helps us improve our Web Site and identify redundant material;
      %br
      (b) to store your logged in status - once you have logged in to our Web Site, a cookie will help your computer to automatically log in again in the future, until you explicitly log out;
      %br
      (c) to store other settings - for example, a cookie is needed to let us know you have voted in a poll or taken part in a survey, and another is used to store your preference for the page editor you use when you create your Member Content.
    The information stored in our cookies is kept separate from your user information and will never be used with it.

    %p
      7.6 If you want to delete any cookies that are already on your computer, please refer to the instructions for your file management software to locate the file or directory that stores cookies. Our cookies look like this:

    %p
      Name: SESSIONID
      %br
      Content: RANDOM STRING
      %br
      Host: mindapples.org
      %br
      Path: /
      %br
      Secure server: no
      %br
      Expires: 21 days from last login.

    %p
      7.7 Please note that by deleting our cookies or disabling future cookies you may not be able to access certain areas or features of our site.

    %p
      7.8 When a visitor requests any web page from our Web Site, our web servers automatically obtain that visitor's domain name and IP address. The domain name and IP address reveal nothing personal about you other than the IP address from which you have accessed our site. We use this information to examine our traffic in aggregate, to investigate abuse of the Web Site and its users, and/or to cooperate with law enforcement. We do not disseminate this information to third parties except in aggregate.

    %h3
      8. MINDAPPLES CONTENT AND CREATIVE COMMONS LICENCE

    %p
      8.1 Mindapples Content is owned by us or our licensors and all rights are reserved. Without prejudice to any other rights or remedies to which we may be entitled, any use of Mindapples Content otherwise than in accordance with these Terms and Conditions entitles us to cancel your Account.

    %p
      8.2 Subject to the provisions of the full "Creative Commons Legal Code" (http://creativecommons.org/licenses/by-nc-nd/2.0/uk/legalcode), the terms of which are incorporated into these Terms and Conditions (and in which references to "The Licensor" shall mean us, the "Work" shall mean Mindapples Content and "You" shall mean you), you are free to copy Mindapples Content, incorporate Mindapples Content into one or more Collective Works, copy Mindapples Content as incorporated in any Collective Work; and publish, distribute, archive, perform or otherwise disseminate Mindapples Content or Mindapples Content as incorporated in any Collective Work, to the public in any material form in any media whether now known or hereafter created, PROVIDED THAT:
    %p
      (a) Attribution - you must attribute Mindapples Content in the manner specified by us (but not in any way that suggests that we endorse you or your use of Mindapples Content);
      %br
      (b) Non-commercial - you may not use Mindapples Content for commercial purposes;
      %br
      (c) For any reuse or distribution, you must make clear to others the license terms of Mindapples Content. The best way to do this is with a link to this web page.
      %br
      (d) Any of the above conditions can be waived if you get permission from the copyright holder.
      %br
      (e) Nothing in this license impairs or restricts the author's moral rights.

    %p
      8.3 DISCLAIMERS

    %p
      8.4 None of the content on the Web Site, and in particular, neither the Member Content nor Mindapples Content, can be relied upon by you or any third party as a guarantee of any particular result, nor does any such content constitute any form of advice, recommendation or endorsement by us, and it is not intended to be relied upon by you as the basis for making (or refraining from making) any specific decision.

    %p
      8.5 Due to the number of third party sources from which the Member Content and Mindapples Content is obtained and the nature of distribution of data via the Internet, we cannot guarantee, warrant or represent that:
    %p
      (a) the content on the Web Site, and in particular, the Member Content and/or Mindapples Content, is complete, accurate, up-to-date or error-free;
      %br
      (b) the Web Site is virus free or that its operation will be continuous, uninterrupted or error-free.

    %p
      8.6 You download the content on the Web Site, and in particular the Member Content and Mindapples Content, at your own discretion and will be exclusively responsible for any damage to your computer or any lost data that results from you downloading any such content.

    %p
      8.7 The Web Site contains links to other Internet sites and telephone numbers for services provided by others. The availability of such third party sites, services or material does not constitute any form of recommendation, advice, endorsement or publication of any such third party sites, services or material and we are not responsible for their availability or content.

    %p
      8.8 We are not responsible or liable in any manner for any Member Content or any content posted on the Web Site by third parties. Although we provide rules for user conduct and postings, we do not control and are not responsible for what Members or other users post, display, upload, publish transmit or share on the Web Site and are not responsible for any content that breaches or is of a kind that might breach any provision of these Terms and Conditions. We are not responsible for the conduct, whether online or offline, of any Member or other user of the Web Site.

    %p
      8.9 THE WEB SITE, THE MINDAPPLES CONTENT AND ALL OTHER CONTENT ON THE WEB SITE ARE PROVIDED "AS-IS" AND WE DISCLAIM ANY AND ALL REPRESENTATIONS AND WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. WE CANNOT GUARANTEE AND DO NOT PROMISE ANY SPECIFIC RESULTS FROM USE OF THE WEB SITE OR ANY CONTENT ON IT. WE DO NOT REPRESENT OR WARRANT THAT SOFTWARE, CONTENT OR MATERIALS ON THE SITE ARE ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE OR THAT THE WEB SITE OR ITS SERVERS, OR ANY SOFTWARE APPLICATIONS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. THEREFORE, YOU SHOULD EXERCISE CAUTION IN THE USE AND DOWNLOADING OF ANY SUCH SOFTWARE, CONTENT OR MATERIALS AND USE INDUSTRY-RECOGNIZED SOFTWARE TO DETECT AND DISINFECT VIRUSES. WITHOUT LIMITING THE FOREGOING, YOU UNDERSTAND AND AGREE THAT YOU DOWNLOAD OR OTHERWISE OBTAIN CONTENT, MATERIAL, DATA OR SOFTWARE (INCLUDING ANY MOBILE CLIENT) FROM OR THROUGH THE SERVICE AND ANY PLATFORM APPLICATIONS AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR YOUR USE THEREOF AND ANY DAMAGES TO YOUR DEVICE OR COMPUTER SYSTEM, LOSS OF DATA OR OTHER HARM OF ANY KIND THAT MAY RESULT.

    %p
      8.10 We reserve the right to change any and all content, software and other items used or contained in the Web Site offered through the Web Site at any time without notice.

    %h3
      9. LIMITS ON LIABILITY

    %p
      9.1 EXCEPT AS OTHERWISE EXPRESSLY STATED IN THESE TERMS AND CONDITIONS, WE SHALL ONLY BE LIABLE FOR FORESEEABLE LOSS OR DAMAGE ARISING DIRECTLY OUT OF OUR OWN BREACHES OF THESE TERMS AND CONDITIONS, NEGLIGENCE OR WILFUL MISCONDUCT, UP TO A MAXIMUM OF THE AMOUNT OF ANY FEES THAT YOU HAVE PAID TO US IN THE 12 MONTHS IMMEDIATELY PRECEDING THE DATE ON WHICH YOUR CAUSE OF ACTION, IF ANY, AROSE.

    %p
      9.2 WE SHALL NOT BE LIABLE FOR ANY LOSS OR DAMAGE ARISING OUT OF OR IN CONNECTION WITH:
    %p
      (a) ANY ERROR OR INACCURACY IN THE DATA ENTERED BY YOU OR ANY OTHER MEMBER;
      %br
      (b) ANY NEGLIGENCE, BREACH OF CONTRACT, MISREPRESENTATION OR WILFUL MISCONDUCT IN RELATION TO THE USES OF THE WEB SITE (OTHER THAN OUR OWN);
      %br
      (c) ANY BREACH OF CONTRACT, NEGLIGENCE OR WILFUL MISCONDUCT ARISING OUT OF OR IN RELATION TO ANY SALE OR PURCHASE BY YOU VIA THE WEB SITE.

    %p
      9.3 WE SHALL NOT BE LIABLE FOR ANY INDIRECT, SPECIAL OR CONSEQUENTIAL LOSS OR DAMAGE, INCLUDING LOSS OR DAMAGE ARISING OUT OF OR IN CONNECTION WITH LOST DATA, LOST PROFITS, DAMAGE TO GOODWILL OR BUSINESS INTERRUPTION, ANY DELAY OR FAILURE TO PERFORM ITS OWN OBLIGATIONS UNDER THESE TERMS AND CONDITIONS DUE TO CIRCUMSTANCES BEYOND OUR OWN REASONABLE CONTROL.

    %p
      9.4 NOTHING IN THESE TERMS AND CONDITIONS SHALL EXCLUDE OR LIMIT THE LIABILITY OF EITHER YOU OR US FOR DEATH OR PERSONAL INJURY CAUSED BY OUR OWN NEGLIGENT ACTS OR OMISSIONS OR FRAUD.

    %h3
      10. GENERAL

    %p
      10.1 If any part of the Terms and Conditions that is not fundamental is found to be illegal or unenforceable, such finding will not affect the validity or enforceability of the remainder of the Terms and Conditions.

    %p
      10.2 You agree that all documents that we are entitled to send you electronically may be delivered to you at your Account. Any notices we give you shall be given in writing via the Web Site to your Account. You will also receive by email to your email address specified in your Account from time to time a prompt to refer to your Account.

    %p
      10.3 "Mindapples", and related design, are trademarks of Mindapples.

    %p
      10.4 If we do not strictly apply our rights under these Terms and Conditions at any time, that will not prevent us from doing so later.

    %p
      10.5 The Terms and Conditions are in English and governed by English law which shall also apply to the establishment of our relationship with you. Any disputes arising under or in connection with these Terms and Conditions shall be subject to the non-exclusive jurisdiction of the English courts, to whose jurisdiction we and you submit. We will only write and communicate with you in English.

    %p
      10.6 If any taxes apply to you as a result of entering into these Terms and Conditions or your activities on the Web Site, you must account for them yourself.

    %h3
      11. DEFINED TERMS

    %p
      11.1 In these Terms and Conditions the following words have the following meanings-

    %p
      "Account" means, in relation to each Member, the part of our Web Site which can only be accessed using that Member’s own Passcode;

    %p
      "Mindapples" means Mindapples of 5 Jupiter House, Calleva Park, Aldermaston, Reading, Berkshire RG7 8NN, Company registration number 07264252;

    %p
      "Mindapples Content" means such designs, text, graphics, pictures, video, information, applications, software, music, sound and other files, and their selection and arrangement including all copyright, database rights, trade marks, design rights, moral rights and all other intellectual property rights in such material, as we may upload to the Web Site, excluding Member Content;

    %p
      "Member" means an individual who has completed the registration process and chosen his or her own Passcode;

    %p
      "Member Content" means photos, profiles, messages, notes, text, information, music, video, advertisements, listings, and other content that you upload, publish or display on or through the Web Site, or transmit to or share with other Members;

    %p
      "Passcode" means your unique identification number and password, which you specify when you register for an Account at the Web Site;

    %p
      "Web Site" means the internet site that we make available via http://mindapples.org.

    %h3
      12. ACKNOWLEDGEMENTS

    %p
      Mindapples is very grateful to Louise Marshall and The School of Everything Ltd for helping us create these Terms and Conditions free of charge - thanks!
