%h1
  What people say

%p
  Here's what a few of our friends and supporters say about Mindapples:

  %ul
    %b
      Alain de Botton, philosopher and broadcaster:
    %br
    "The Mindapples project is exceptionally wise and moving. While we're fully educated in how to try to stay physically healthy and the challenges of being unhealthy, there's no comparable openness when it comes to the mind. Hence society can be extremely lacking in compassion and we need a bit of education here. Mindapples has found a way of discussing mental health issues in an extremely original way, without stigma, making it seem desirable and possible, not shameful and private... I support it wholeheartedly."
    %br
    %br
    %b
    Simon Lawton-Smith, Head of Policy, Mental Health Foundation:
    %br
    "In the challenging, non-stop, 24 hour society we live in it's vital that we all look after our minds as well as our bodies. At the Foundation we aim to help everyone live mentally healthier lives, and Mindapples is an excellent example of a project that encourages people to do exactly that."
    %br
    %br
    %b
      Una Murphy, Manager, BBC Careerlinkplus:
    %br
    "Mindapples and its simple but effective concept of five a day is a great platform for sharing ideas and challenges us to help ourselves while taking control of our mental attitude and health. At Careerlinkplus we are telling our clients to log on to www.mindapples.org and explore what will help them stay positive as they move forward."
    %br
    %br
    %b
      Lucy Smith, Public Health Manager - Mental Wellbeing, NHS Lambeth:
    "We are thrilled to be working with Mindapples in our GP practices to get people talking about mental health in a positive way. NHS Lambeth partnered with Mindapples primarily because we think the branding is exciting and engaging. We trialled out the initiative in the heart of Brixton and something about the tools really worked with people. Instead of telling people what they should do, the Mindapples approach starts a conversation with the public about what they do to feel good. The time to let people know there are actions they can take to stay mentally well is long overdue. We are committed to working with Mindapples to make this a reality."
    %br
    %br
    %b
      Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician:
    %br
    "I certainly found the approach novel and informative which is praise indeed having been to so many "stress management sessions"."
    %br
    %br
    %b
      Dr Ilona Boniwell, Programme Leader - MSc Applied Positive Psychology, University of East London:
    %br
    "What is the point of scientific inquiry unless it is grounded in human experience? Mindapples is a unique endeavour that combines a grass-root approach to happiness with what we know about mental health and well-being from scientific research."
    %br
    %br
    %b
      Dr Marcia Brophy, Head of Wellbeing and Resilience at the Young Foundation: 
    %br
    "Anxiety and depression rates are increasing year on year and look set to double during the course of a single generation. As we enter a phase of constrained public spending, low-cost, high-impact approaches to mental health prevention are urgently needed. Mindapples is using the social power of the internet to build and share data about how we can all take better care of our minds."
    %br
    %br
    %b
      Edmund Colville, Production Manager, Secret Garden Party: 
    %br
    "Thank you so much for bringing Mindapples to the Secret Garden Party this summer. It made an enormous difference to raising the tone of the event. It was so gratifying to see such a wide range of people from small children to the elderly sitting and thinking for a while before writing on an apple and putting it on the tree. Not many of the things we program have such a capacity to appeal to anyone and everyone and get such a deeply considered response. It is easy to put on a show, but much much harder to make people stop and think, especially in such a fun and accessible way. The harvest of thoughts was extremely useful to us in many ways to discover what people are thinking at the event and how we might do things better. Please do come back next year!"
  
%p
  And here's a brief selection of what people say to us after taking the Mindapples test on our website:

  %ul
    "Just wanted to say, Mindapples is a great idea - good luck with it. I've been going through a bit of a rough patch and completing your questionnaire made me think about what helps me - or what I need to be doing to get through this patch!"
    %br
    \- Louise, Scotland
    %br
    %br
    "It should be natural and obvious that someone takes care of their mind, but for some reason, we forget the essential. Thanks for your site."
    %br
    \- Rosana, UK
    %br
    %br
    "I found it helpful to step back and look at what I actually do to help myself. I realized that I do most of those 5 things without even thinking about why."
    %br
    \- Tori, New Hampshire, USA
    %br
    %br
    "It's great to see the stigma being lifted on mental ill-health, something that can affect of all of us - at any time in our lives."
    %br
    \- Charlotte, England
    %br
    %br
    "I am still amazed how simple and yet complex this approach is. It is something most people think but don't dare to talk about, I guess."
    %br
    \- Anne Wizorek, Berlin
    %br
    %br
    "So often these well meaning well researched lists of what folks 
    %i
      should
    do for mental health, physical health, spiritual health, etc. end up leaving me feeling alternately inadequate like I'm doing something wrong, and angry at the idea that there can be one set of answers that is true for everyone. ...THANKS for putting this together and putting it out for folks."
    %br
    \- Helen Kamadulski, NW USA

%p
  And that's what it's all about, after all.
