%h1
  Training

%p
  We rely on our minds for almost everything we do, and yet we know almost nothing about how they work. We are taught to manage our cholesterol, brush our teeth regularly and wash our hands of germs, but when it comes to our minds, we don't know how we function, or how to take care of ourselves. 
  
%p
  %i
    Your Mind: A User's Guide
  is a new training programme that gives you the practical knowledge you need to manage your mind better. The programme covers basic knowledge like brain nutrition, mood regulation and stress management, and more advanced topics like decision-making, emotional intelligence and influence. 
  
%p
  Each month, we introduce you to a new set of eye-opening knowledge about how your mind works, and over the month you use our reflective learning tools to apply it to your life and work. By the end of the 9-month programme, you will understand your mind, and have an array of practical techniques to increase your resilience and mental performance. This is low-contact, high-impact training designed for busy people who want to manage themselves and others better. 
  
%p
  We offer these programmes to businesses seeking to improve staff health, leadership development and business performance, and we also run occasional public programmes for individuals seeking to get more from their minds. All our training content is based on rigorous psychological and neuroscientific research and delivered by experienced communicators, in a practical and engaging style that makes this fascinating material relevant to everyone. 

%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many "stress management sessions"."
  %br
  Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician
  
%p
  The best way to experience the power and impact of our training services is to come to a 
  %b
    Taster Session
  at our offices in London Bridge. These introductory sessions cover some of the basic principles of the 
  %i
    Your Mind: A User's Guide 
  programme, and are followed by networking drinks and a chance to talk to our trainers and find out more about the programme.
  %br
  For details of the next taster session, and to book your place, please visit our
    = link_to('events page', events_path) + "." 

%h2
  5-a-day for your mind workshops
  
%p
  We also offer fun, interactive workshops introducing the basic principles of mental wellbeing and resilience, and giving participants the chance to share their mindapple 5-a-days and learn what works for each other. All our workshops are tailored to the needs of the audience and come with a set of fun materials to get people talking. By the end of the workshop, all participants will:
  %ul
    %li understand the basic principles of mental wellbeing and resilience;
    %li feel more confident about what works for them and how to monitor their mental state;
    %li find it easier to articulate their needs and identify what works for them;
    %li understand the business benefits and social importance of taking care of our minds.

%p
  %b
    = link_to('Book your workshop now', contact_path) + "."

%p
  %b
    If you would like more information about the 
    %i
      Your Mind: a User's Guide
    programme, please register for updates below:
  
<div id="wufoo-s7x2r7">
</div>
<script type="text/javascript">var s7x2r7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mindapples', 
'formHash':'s7x2r7', 
'autoResize':true,
'height':'1072',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { s7x2r7 = new WufooForm();s7x2r7.initialize(options);s7x2r7.display(); } catch (e) {}}
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>