%h1
  Training and workshops

%h2
  Mindapples workshops

%p
  We offer short, highly interactive Mindapples workshops led by experienced facilitators to help groups of up to 30 people understand how to take better care of their minds. 
  
%p
  Participants experience the core Mindapples 5-a-day process together and explore their individual and shared needs, and  the basic principles of mental wellbeing and self-regulation. They take away their mindapples as high-quality branded giveaways to remind them of their 5-a-day activities and support them to embed these positive actions as good habits. Participants are then invited to engage in further exploration of the activities that work for them, and to share their 5-a-day electronically, via our digital support tools at www.mindapples.org. 

%p
  %b
    Who should attend?
  %br
  The workshops are primarily designed to engage staff in organisations, whether they work in the same department or in different departments and across functions. They can also be run for public attendees, and privately for special interest communities, patient bodies and local groups. 

%p
  %b
    Objectives and benefits
  %br
  The aims of these workshops are to engage participants in considering the health of their minds, start positive conversations about mental wellbeing, make them more conscious of how their actions influence their mental and emotional state, and make it easier for individuals to understand and articulate their needs. By the end of the workshop, participants will:
  %ul
    %li feel more confident about their ability to cope and look after themselves;
    %li understand more about what works for them and how to monitor and maintain their mental wellbeing;
    %li know how to have more positive and constructive conversations with third parties about issues;
    %li connect with others around mutual support and positive reinforcement around healthy activities; and
    %li feel heard and valued as individuals and more in control of their mental wellbeing.

%h2
  Management training

%p
  We offer intensive 2-hour training seminars for directors and senior managers, to enable them to lead a positive culture of self-care for mental wellbeing, and support their staff to take better care of their minds.

%p
  This is an interactive seminar in which high-level executives can reflect on their own personal self-management and the impact their actions have on the culture of their organisation, and discuss specific issues relating to wellbeing in their workplace. Delegates also receive a detailed accompanying training pack with references and further reading on the Mindapples approach and the underlying theory and evidence behind it, and on workplace wellbeing strategies in general.

%p
  %b
    Who should attend?
  %br
  These seminars are designed for senior level managers with an influential role in organisations, and particularly those who want a thorough understanding of the research behind, and the benefits of, workplace wellbeing initiatives and Mindapples in particular. (Complete confidentiality is assured.)

%p
  %b
    Objectives and benefits
  %ul
    %li Introduce Mindapples, and peer-led transformation approaches to wellbeing;
    %li outline the benefits of promoting wellbeing and self-management in the workplace;
    %li engage attendees in actively considering their own actions and mental wellbeing through the Mindapples process;
    %li explore the mechanics of culture change and peer influence, and the role of management in shaping a positive corporate culture for health and wellbeing;
    %li identify the specific issues and considerations facing the participants, and the practical applications of these models to improving and solving them; and
    %li suggest measurement and evaluation models for assessing the impact of person-centred wellbeing interventions and self-management at work, including self-efficacy, locus of control, creative thinking and emotional resilience.
  
%p
  We are also developing digital tools and training services to help individuals manage their minds and make more informed choices about their mental health, and we are currently looking for partners to help us develop and trial these services.

%p
  Want to know more? Please contact us on
  = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org')
  to discuss your requirements.
