%h1
  Training and workshops

%h2
  Training programmes

%p
  Mindapples Training gives people a practical working knowledge of their own minds, to increase personal health and business performance. 

%p
  We know surprisingly little about our minds. We understand germs, cholesterol and dental hygiene, and yet when it comes to our minds we struggle in semi-ignorance, clinging to pseudo-science and self-help, unaware of the huge body of neuroscientific and psychological research now available about how our minds actually work. Our training programmes make available the recent scientific discoveries about the human mind in a way that is highly engaging and practically useful for how we live, work and play. 

%p
  Our approach is to match practical scientific knowledge with the lived experiences of participants, to enable them to remember, understand and apply this knowledge to their life, work and relationships. All our training programmes are tailored to fit our clients needs, and typically delivered as a series of one-hour "training events" for all staff to attend. Each event is based on rigorous research and delivered by experienced communicators, in an engaging and approachable style that makes this content relevant to everyone. Participants also receive a detailed accompanying training manual with references and further reading on the most useful aspects of recent knowledge about the human mind.

%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many "stress management sessions"."
  %br
  Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician
  
%p
  %b
    To book a taster session or find out more about what we offer, 
    = link_to('contact us now', contact_path) + "."
  
%h2
  Mindapples workshops

%p
  We also offer short, highly interactive 2-hour Mindapples workshops, led by experienced facilitators to help groups of up to 30 people share their experiences of how to take care of their minds. Participants explore their individual and collective needs through the Mindapples "5-a-day" process, and are introduced to the basic principles of mental self-regulation and co-regulation, and the benefits of psychological wellbeing in life and work. Participants are then invited to engage in further discussion and peer support via our digital community tools. By the end of the workshop, participants will:

  %ul
    %li understand Mindapples, and peer-led transformation approaches to psychological wellbeing;
    %li understand the benefits of promoting wellness in communities and workplaces, and how to measure impact;
    %li feel more confident about what they can do to look after themselves;
    %li understand more about what works for them and how to monitor their mental and emotional state;
    %li find it easier for individuals to understand and articulate their needs;
    %li identify specific issues facing them, individually and collectively, and how they might address them; and

%p
  %b
    = link_to('Order your training and workshops now!', contact_path)

