%h1
  Training

%p
  %b
    Mindapples training helps people understand their minds, so they can take better care of themselves, and increase their mental performance. 

%p
  We rely on our minds for almost everything we do, and yet we know almost nothing about them. We are told to manage our cholesterol, floss regularly and wash our hands of germs, but when it comes to our minds, we don't know how we function, and we don't know how to take care of ourselves. To address this, Mindapples has created
  %b
    Your Mind: A User's Guide
  , a new training programme that gives you the practical knowledge you need to manage your mind effectively. The programme covers basic knowledge like nutrition and mood regulation, to more advanced topics like concentration, stress management and emotional intelligence. We offer 1-hour taster workshops to introduce this innovative content to businesses, and a full 9-month programme of lunchtime seminars and reflection sessions to transform how your people manage themselves and others. All our training content is based on rigorous psychological and neuroscientific research and delivered by experienced communicators, in an engaging and approachable style that makes this vital content relevant to everyone. 

%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many "stress management sessions"."
  %br
  Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician
  
%p
  %b
    = link_to('Contact us now to book a taster session', contact_path) + "."
  
%p
  We also offer short, highly interactive Mindapples workshops, introducing the basic principles of mental self-regulation and resilience and allowing participants to share their 5-a-days and learn from each other. By the end of the workshop, participants will:
  %ul
    %li understand the basic principles of mental wellbeing and self-regulation;
    %li feel more confident about what works for them and how to monitor their mental and emotional state;
    %li find it easier to articulate their needs and identify what works for them;
    %li understand the business benefits and social importance of taking care of our minds.

%p
  %b
    = link_to('Book a workshop or training session now', contact_path) + "."

