%h1
  Training

%p
  %b
    We rely on our minds for almost everything we do, but how much do we really know about how they work, or how to get the best from them?
  
%p
  %i
    A mind for business
  is a training programme from Mindapples that helps people get more from their minds. We provide essential knowledge about how our minds work in 
  %b
    high-impact 60-minute masterclasses 
  covering a range of topics from handling pressure to creative thinking. Each session is packed with practical tools and techniques to increase your resilience, improve your mental performance, and manage yourself and others better. 
  
%p
  All our content is based on the latest findings from experimental psychology and neuroscience and delivered by experienced trainers. Our sessions are getting amazing feedback, with 
  %b
    over 90% of participants rating our sessions as "good" or "excellent" 
  and the same number saying they will change their behaviour as a result of these sessions. 
  
%p
  We bridge the gap between wellness and performance training, helping people work smarter and more sustainably, and giving businesses the competitive edge.
  
%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many "stress management sessions"."
  %br
  %b
    Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician
  
%h3
  = link_to ('Download a PDF of the programme outline here', 'http://mindap.pl/1f71qki')
  
%br
%br
<div id="wufoo-s7x2r7">
</div>
<script type="text/javascript">var s7x2r7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mindapples', 
'formHash':'s7x2r7', 
'autoResize':true,
'height':'1072',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { s7x2r7 = new WufooForm();s7x2r7.initialize(options);s7x2r7.display(); } catch (e) {}}
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>