%h1
  Training

%p
  %b
    We rely on our minds for almost everything we do, but how much do we really know about how they work, or how to look after them? 
  
%p
  %i
    Your Mind: A User's Guide
  is a new training programme that gives you the practical knowledge you need to manage your mind better. The programme covers basic knowledge like brain nutrition, mood regulation and stress management, and more advanced topics like decision-making, emotional intelligence and influence. 
  
%p
  We offer these programmes to businesses seeking to improve staff health, leadership development and business performance, and to individuals seeking to get more from their minds. All our training content is based on rigorous psychological and neuroscientific research and delivered by experienced communicators. Our training sessions are getting incredible feedback, with 
  %b
    over 90% of recent participants rating our training as "good" or "excellent",
  and the same number saying they will behave differently as a direct result of this training.
  
%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many "stress management sessions"."
  %br
  %b
    Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician
  
%p
  The best way to experience the power and impact of our training events is to come to a taster session at our offices in London Bridge. These introductory sessions cover some of the basic principles of the 
  %i
    Your Mind: A User's Guide 
  programme, and are followed by informal networking drinks and a chance to talk to our trainers about the programme.

%p
  %b
    For details of the next taster session, and to book your seat, 
    = link_to('visit our events page', events_path) + "." 
  
%p
  %b
    = link_to('Or register for more information here', yourmind_path) + "."

%h2
  5-a-day for your mind workshops
  
%p
  We also offer fun, interactive workshops introducing the basic principles of mental wellbeing and resilience, and giving participants the chance to share their mindapple 5-a-days and learn what works for each other. All our workshops are tailored to the needs of the audience and come with a set of fun materials to get people talking. By the end of the workshop, all participants will:
  
%ul
  %li understand the basic principles of mental wellbeing and resilience;
  %li feel more confident about what works for them and how to monitor their mental state;
  %li find it easier to articulate their needs and identify what works for them;
  %li understand the business benefits and social importance of taking care of our minds.

%p
  %b
    = link_to('Book your workshop now', contact_path) + "."
  