%h1
  The Mindapples Tree

%p
  The Mindapples Tree is a pop-up installation which promotes mental wellbeing. People write their mindapples on apple-shaped cards and hang them on the tree for others to see, creating a positive talking point and giving participants the chance to share what works for them. Our installations have been used successfully in offices, corporate conferences, music festivals, street markets and even in art galleries, and they're guaranteed to make a big impact. Here's a Mindapples tree in action at The Future of Web Apps Conference in October 2011.
<div class='promotional_video'><iframe width="519" height="322" title="Mindapples at the Future of Web Apps" src="http://www.youtube.com/embed/x3G6TOY0K7A?hl=en&fs=1" frameborder="0" allowfullscreen></iframe></div>

%p
  %i
    "Mindapples and its simple but effective concept of five a day is a great platform for sharing ideas and challenges us to help ourselves while taking control of our mental attitude and health."
  %br
  Una Murphy, Manager, BBC CareerlinkPlus

%p
  %b
    = link_to('Book your tree now', contact_path) + "."

%h2
  Wellbeing days

%p
  Looking for ideas for your corporate wellbeing day? We design and deliver creative engagement events to promote mental wellbeing and showcase popular activities that our good for our minds. We've worked with brands like Crussh, Headspace, Positive Touch and Courvoisier to run major public events, most famously <a href="/thebigtreat">The Big Treat</a>, a pop-up health farm filled with amazing ways to treat yourself better. Here's the video Courvoisier made of the event.
<div class='promotional_video'><iframe title='Courvoisier and Mindapples present... The Big Treat' allowfullscreen='' frameborder='0' width='519' height='322' src='http://www.youtube.com/embed/lbZfBwq6hLw'></iframe></div>
