%h1
  The Mindapples Tree

%p
  The Mindapples Tree is a unique pop-up installation which inspires positive conversations about the health of our minds. People write their 'mindapples' on apple-shaped cards and hang them on the tree for others to see, creating a positive talking point and giving participants the chance to share what works for them. Our installations have been used successfully in multinational businesses, corporate conferences, music festivals, street markets and even in art galleries, and they're guaranteed to make a big impact. 
  
%p
  Here's a Mindapples tree in action at The Future of Web Apps Conference in October 2011.
  <div class='promotional_video'><iframe width="519" height="322" title="Mindapples at the Future of Web Apps" src="http://www.youtube.com/embed/x3G6TOY0K7A?hl=en&fs=1" frameborder="0" allowfullscreen></iframe></div>

%p
  %i
    "We trialled out the initiative in the heart of Brixton and something about the tools really worked with people. Instead of telling people what they should do, the Mindapples approach starts a conversation with the public about what they do to feel good."
  %br
  Lucy Smith, Public Health Manager - Mental Wellbeing, NHS South East London

%p
  %b
    = link_to('Book your tree now', contact_path) + "."

%p
  Still need inspiration? If you're looking for fresh ideas for your corporate wellbeing day, we design and deliver engagement events and pop-ups to promote mental wellbeing. We've worked with brands like Crussh, Headspace, Positive Touch and Courvoisier to run major wellbeing events, most famously <a href="/thebigtreat">The Big Treat</a>, a pop-up health farm filled with amazing ways to treat yourself better. Here's the video Courvoisier made of the event.
<div class='promotional_video'><iframe title='Courvoisier and Mindapples present... The Big Treat' allowfullscreen='' frameborder='0' width='519' height='322' src='http://www.youtube.com/embed/lbZfBwq6hLw'></iframe></div>
