%h1
  Mindapples in universities

%p
  We believe that Mindapples has strong applications into the world of student and graduate wellbeing. In particular, we are keen to support people who are in transition into adult life, and also who are struggling to find work after leaving university.

%h2
  Our approach

%p
  All our programmes are based on the core Mindapples Self-Observation Process:
  %br
  %img{:src => "/images/content/1-2-3.gif" }

%p
  We want to work with student groups and university authorities to gather information about what students want and need to stay well, and work with universities to improve their services and support the needs of students more effectively. We will work with any university that is genuinely committed to improving things for students, and we also would like to work with bodies interested in supporting graduates to extend the Mindapples community and concept to support them too.
  
%p
  If you are interested in working with us to support university students and graduates, please contact Andy Gibson on andy[at]mindapples.org.
