%h1
  Volunteer with us

%p
  We're always looking for 
  %b
    volunteers and part-time interns
  to join our
  = link_to('growing team', team_path)
  and help us with managing the community, organising events, researching the evidence base, promoting our work and lots of other fun, creative stuff. We like it when people get in touch with specific offers of help, such as writing something for 
  = link_to('the Mindapples blog', 'http://blog.mindapples.org')
  or conducting some
  = link_to('research', evidence_path)
  to help us prove our impact. We only have a small part-time team responding to volunteering enquiries though, so please don't be offended if we take a while to reply!

%p
  If you'd like to volunteer, please drop us a line telling us what you'd like to do for us, to
  = link_to('greenfingers@mindapples.org', 'mailto:greenfingers@mindapples.org') + "."