%h1
  Volunteer with us

%p
  Our 
  = link_to('growing team', team_path)
  is always looking for 
  %b
    part-time interns and volunteers
  to help us with managing the community, finding case studies, contacting celebs, organising events, handling the media, and making marketing materials, giveaways, viral videos and other fun, creative stuff. Let us know if you'd like to write something for our 
  = link_to('blog', 'http://mindapples.wordpress.com')
  too, we’re always keen to promote expert advice and tips.

%p
  Drop us a line at
  = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org')