%h1
  Volunteer with us

%p
  Our 
  = link_to('growing team', team_path)
  is always looking for 
  %b
    volunteers and part-time interns
  to help us with managing the community, organising events, researching the evidence base, writing press releases, promoting our work, and lots of other fun, creative stuff. And if you'd like to write something for 
  = link_to('the Mindapples blog', 'http://blog.mindapples.org')
  too, send us what you'd like to write about - we’re always keen to promote expert advice and tips.(We only have a small part-time team responding to volunteering enquiries though, so please don't be offended if we take a while to reply!)

%p
  Drop us a line telling us what you'd like to do for us, to
  = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org') + "."