%h1
  Wellbeing programmes

%p
  Mindapples offers much more than public engagement and training: we are also developing a range of structured wellbeing and transformation programmes for workplaces and public health.

%p
  We use a structured combination of social marketing, engagement and learning techniques, delivered through digital tools, installations and engagement events, to transform organisations and embed positive cultures of good habits and self-care around mental wellbeing in organisations and communities. All our wellbeing programmes are informed by our own research into positive psychology and learning theory, and rigorously evaluated by our 
  = link_to 'NHS and academic partners', partnerships_path
  the Institute of Psychiatry at Kings College London and the Kings Health Partners.

%h2
  Workplace wellbeing

%p
  Imagine a workplace where everyone knows how to look after themselves. Mindapples has developed a unique set of organisational change tools to engage staff in mental wellbeing, promote good habits and build new corporate cultures of self-care, peer support and positive attitudes for mental wellbeing. We take an integrated approach to tackle a range of metrics including staff engagement, stress management, retention, productivity and workplace health issues, and work with organisations to measure and maintain positive initiatives that make organisation healthy, happy places to work. 

%p
  If you are a forward-thinking company and want to put your staff at the centre of your workplace wellbeing strategy, contact us now about changing your organisation for the better.

%h2
  Public health

%p
  We are now piloting Mindapples programmes in GP surgeries in Lambeth, in partnership with South London and Maudsley NHS Foundation Trust, NHS Lambeth and Kings College London. We are seeking partners interested in funding and participating in further studies in mental wellbeing promotion and preventative care, moving beyond public engagement to create lasting positive behaviour change to support preventative mental health, tackle health inequalities and boost the health and wellbeing of patients and local communities.

%p
  %i
    To discuss how Mindapples can engage the people you care about and create lasting behaviour change for mental wellbeing, please contact us at
    = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org') + "."

