%h1
  Wellbeing programmes

%p
  Mindapples is developing a range of structured wellbeing and transformation programmes for workplaces and communities.

%p
  These programmes combine our engagement, training and research techniques in a structured consultancy and change programme, and are delivered through digital tools, marketing materials and facilitated workshops. Aimed primarily at organisations, but with wider application into community development and public health, these programmes aim to create positive change and embed lasting cultures of good habits and self-care around mental wellbeing. All our wellbeing programmes are informed by our own research into behaviour change, psychology and learning theory, and rigorously evaluated by our 
  = link_to 'academic partners', partnerships_path
  the Institute of Psychiatry at Kings College London.

%h2
  Workplace wellbeing

%p
  Unless your business is manual labour, the minds of your staff are the key to your business success. Mindapples has developed a unique set of organisational change tools to engage staff in mental wellbeing, promote good habits and build new corporate cultures of self-care, peer support and positive attitudes for mental wellbeing. We take an integrated approach to tackle a range of metrics including staff engagement, talent retention, productivity and workplace health issues, and work with organisations to measure and maintain positive initiatives that make organisation healthy, happy, high performing places to work. 

%p
  If you are a forward-thinking company and want to put your staff at the centre of your commercial strategy, contact us now about changing your organisation for the better.

%h2
  Public health

%p
  We are now piloting Mindapples programmes in GP surgeries in Lambeth, in partnership with South London and Maudsley NHS Foundation Trust, NHS Lambeth and Kings College London. We are seeking partners interested in funding and participating in further studies in mental wellbeing promotion and preventative care, moving beyond public engagement to create lasting positive behaviour change to support preventative mental health, tackle health inequalities and boost the health and wellbeing of patients and the general population.

%p
  %i
    To discuss how Mindapples can engage the people you care about and create lasting behaviour change for mental wellbeing, please contact us at
    = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org') + "."

