%h1
  Mindapples at work

%h2
  Engagement services
  
%p
  Mindapples offers a unique way to engage staff and start positive conversations about mental wellbeing. Rather than focussing on illness, we talk about health, and we never tell people what to do. Instead, we gather personal insights from staff about what they need to be well, and help individuals take simple steps to manage their own minds. If you want to get your staff thinking about the health of their minds, we offer:
  
%ul
  %li
    Engagement events, including Mindapples Tree installations and wellbeing events festivals like <a href="/thebigtreat">The Big Treat</a>.
  %li
    Marketing materials and giveaways, including tailored internal communications campaigns, to promote mindapples in your organisation.
  %li
    Digital tools to engage  staff in considering their own mental wellbeing and finding better ways to keep themselves healthy.
  
%h2
  Training and consultancy
  
%p
  The Mindapples 5-a-day survey gathers intelligence from staff about the most effective ways to support their wellbeing, and encourages them to take their own steps to managing their stress levels and taking better care of their minds. This results in array of new insights and recommendations for the organisation about how best to support staff, and creates more positive conversations with individuals about how the organisation can help them in times of need. We deliver these in the form of smart reports and recommendations of new ways to give staff the rewards and wellbeing services they really want, and engage staff in their own wellbeing in the process.

%p
  We offer training in the Mindapples methdology and approach, and help staff and management understand mental health and wellbeing better - including training your managers to respond more effectively to positive requests for support, and identify and respond to staff needs around stress and wellbeing. We also review corporate processes to make them more supportive of the things staff need to manage stress and be more productive. 
  
%h2
  Change management programmes
  
%p
  Mindapples at Work is a multiple-effect programme that increases individual and organisational intelligence and capacity for mental wellbeing. It moves organisations beyond stress management and productivity drives and creates 'organisations of excellence' for staff wellbeing and engagement. It achieves this by shifting responsibility for mental wellbeing from the organisation to a shared space where the staff and the organisation work together, encouraging individuals to increase their self-management and supporting them to create a working environment that meets their needs. 

%p
  We begin all our programmes with a close consultation, testing the concept and gaining understanding of how it can be deployed most effectively in a particular context. An initial pilot helps us to shape the programme and understand how to communicate it effectively. This is followed by a large-scale data-gathering exercise, which reveals unique and interesting insights, and from this we build a tailored campaign. Rather than investing heavily in one large-scale implementation based on limited data and understanding of context, we take an iterative approach, gathering insights and tailoring each stage of the process to suit the considerations and concerns of staff and management. We continue learning with people, adjusting our strategy as we go, until the core objectives have been met. 
  
%p
  The Mindapples at Work Programme includes sophisticated mechanisms to co-design new collective activities and workplace changes that the organisation can then support to give staff what they need to be well. These may include small changes to the physical work environment (e.g. more plants), or new groups and clubs which build connection and wellbeing (e.g. book clubs, cycling groups, skill sharing).  Mindapples helps organisations reveal and support the activities that staff want and need, and builds a positive culture around mental wellbeing which includes everyone.

%p
  Mindapples aims to change the traditional organisational dynamics by increasing both staff responsibility for self-management, and managerial responsiveness to suggestions, which improve the quality of work and support individual wellbeing. This smarter organisational approach boosts individual wellbeing, improves workplace culture, increases staff engagement and loyalty for the organisation... and by happy side-effect should also result in lower stress levels, reduced absenteeism and greater work performance.

%p
  To build a programme to suit your needs, please contact us on 
  = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org')