%h1
  Mindapples at work

%p
  Mindapples at Work is a multiple-effect organisational programme that increases individual and organisational intelligence and capacity for mental wellbeing. We are seeking organisations to help us pioneer a new approach to workplace wellbeing that genuinely transforms organisations for the better.

%p
  The Mindapples at Work Programme moves organisations beyond stress management and productivity and creates 'organisations of excellence' for staff wellbeing and engagement. It achieves this by shifting responsibility for mental wellbeing from the organisation to a shared space where the staff and the organisation work together, encouraging individuals to increase their self-management and supporting them to create a working environment that meets their needs. 

%h2
  Encouraging staff-led wellbeing activities

%p
  The Mindapples 5-a-day survey gathers intelligence from staff about the most effective ways to support their wellbeing, and encourages them to take their own steps to managing their stress levels and taking better care of their minds. This results in array of new insights and recommendations for the organisation about how best to support staff, and creates more positive conversations with individuals about how the organisation can help them in times of need.

%p
  The Mindapples at Work Programme includes sophisticated mechanisms to co-design new collective activities and workplace changes that the organisation can then support to give staff what they need to be well. These may include small changes to the physical work environment (e.g. more plants), or new groups and clubs which build connection and wellbeing (e.g. book clubs, cycling groups, skill sharing).  Mindapples helps organisations reveal and support the activities that staff want and need, and builds a positive culture around mental wellbeing which includes everyone.

%h2
  Increasing organisational intelligence about wellbeing
  
%p
  The Mindapples programme also trains managers to respond more effectively to positive requests for support, and identify and respond to staff needs around stress and wellbeing. We also review corporate processes to make them more supportive of the things staff need to manage stress and be more productive.

%p
  Mindapples aims to change the traditional organisational dynamics by increasing both staff responsibility for self-management, and managerial responsiveness to suggestions, which improve the quality of work and support individual wellbeing. This smarter organisational approach boosts individual wellbeing, improves workplace culture, increases staff engagement and loyalty for the organisation... and by happy side-effect should also result in lower stress levels, reduced absenteeism and greater work performance.

%p
  To work with us or build a programme to suit your needs, please contact Andy Gibson on andy[at]mindapples.org.