%h1
  A Mind for Business

%p
  %b
    The performance of any business depends on the performance of the minds of its staff. 
  If you're looking for positive ways to support your people to stay mentally well and perform better in their work, Mindapples' learning programmes are the perfect fit for your organisation.

%h5
  <iframe width="560" height="315" src="//www.youtube.com/embed/7nk1dzjZClg" frameborder="0" allowfullscreen></iframe>
  %br
  Head Gardener Andy Gibson showcases the Mindapples training programme at 
  %i
    Courvoisier presents: Your Mind: A User&#039;s Guide.
  %br
  %br
    
%p    
   Mindapples bridges the gap between health & wellness programmes and performance training. Stress, ill-health, poor management, loss of motivation, powerlessness and issues in corporate culture can all combine to stop people from performing at their best, which is bad for them, and bad for businesses. By investing in people's capacity to maintain their wellbeing and resilience under pressure, you can create the conditions for people to perform to their best at work, and help staff stay healthy as well as productive.

%p
  Mindapples learning and development programmes help people talk positively about their minds and share practical insights from neuroscience & psychology to help them maintain their health and work more sustainably. 

%p
  Delivered in bite-sized chunks for busy people, and backed-up with innovative engagement tools, this is a fresh, progressive approach to help people work smarter, talk more openly about their minds, and stay mentally healthy and resilient in a high-pressure commercial environment.
 
%p
  All our content is based on the latest findings from experimental psychology and neuroscience and delivered by experienced trainers. Our sessions get amazing feedback, with 
  %b
    over 90% of participants rating our sessions as "good" or "excellent" 
  and the same number saying they will change their behaviour as a result of these sessions. 
  
%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many "stress management sessions"."
  %br
  %b
    Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician
  
%p
  %i
    "The team enjoyed it and also got a lot out of it in terms of practical hints and tips and tools"
  %br
  %b
    Lynne Baber, pricewaterhousecoopers
  
%h3
  = link_to ('Download a PDF of the programme outline here', 'http://mindap.pl/1f71qki')
  
%p
  Contact us today to find out how we can help your people work smarter and more sustainably, and give your business the competitive edge.  
  
%br
%br
<div id="wufoo-s7x2r7">
</div>
<script type="text/javascript">var s7x2r7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mindapples', 
'formHash':'s7x2r7', 
'autoResize':true,
'height':'1072',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { s7x2r7 = new WufooForm();s7x2r7.initialize(options);s7x2r7.display(); } catch (e) {}}
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>