%h1
  Your Mind: A User's Guide

%p
  %b
    The performance of your business hinges on the performance of the minds of your staff.
  
%ul
  %li Most organisations claim people are their most important asset, yet more than half of Britain's employees are unhappy at work.
  %li People are 22% more productive when in a positive rather than a negative state.
  %li Some wellness promotion programmes are now showing an annual return on investment of 9:1.
  %li 20% of British businesses have increased their spending on health and wellbeing since the onset of the recession.
  
%p
  So if we rely on our minds for everything we do, how much do we know about how we work, or how to look after ourselves? If we can watch our cholesterol and try to get our 5-a-day, then what about our minds?
  
%h2
  Get more from your mind
  
%p
  %i
    Your Mind: A User's Guide
  is a new development programme from Mindapples that helps people get more from their minds. We provide essential knowledge about how our minds work in 
  %b
    high impact 90-minute knowledge sessions, 
  delivered lecture-style or in small interactive groups, and supported by reflective learning tools. 
  
%p
  Sessions cover a range of topics from stress management and mood regulation to improving motivation, decision-making and influence. Each session is packed with practical tools and techniques to increase your resilience, improve your mental performance, and manage yourself and others better. 
  
%p
  All our content is based on rigorous psychological and neuroscientific research and delivered by experienced facilitators. Our sessions are getting amazing feedback, with 
  %b
    over 90% of recent participants rating our sessions as "good" or "excellent", 
  and the same number saying they will change their behaviour as a result of what they have learned. 
  
%p
  This is resilience training with a difference: a powerful tool for leaders and managers, and the ideal way to welcome new staff into your organisation and create new cultures of working well.

%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many 'stress management sessions'."
  %br
  %b
    Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician
  
%p
  %b
    = link_to('Download the full programme outline here', '/assets/Mindapples_programmes.pdf')
  (pdf, 4MB)

<div id="wufoo-s7x2r7">
</div>
<script type="text/javascript">var s7x2r7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mindapples', 
'formHash':'s7x2r7', 
'autoResize':true,
'height':'1072',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { s7x2r7 = new WufooForm();s7x2r7.initialize(options);s7x2r7.display(); } catch (e) {}}
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>