%h1
  Your Mind: A User's Guide

%p
  We rely on our minds for almost everything we do, but how much do we really know about how they work, or how to look after them? We can watch our cholesterol and wash our hands of germs, what is the equivalent knowledge for our minds?
  
%p
  %i
    Your Mind: A User's Guide
  is a new training programme designed to give you the practical knowledge you need to manage your mind better. Each month, we introduce you to a new set of eye-opening knowledge about how your mind works, and over the month you use our reflective learning tools to apply it to your life and work. By the end of the 9-month programme, you will understand your mind better, and have an array of practical techniques to increase your resilience and mental performance. This is low-contact, high-impact training designed for busy people who want to manage themselves and others better.
  
%p
  Our training sessions are getting incredible feedback, with 
  %b
    over 90% of recent participants
  rating our training as "good" or "excellent", and the same number saying they will do behave differently as a direct result of this training.

%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many "stress management sessions"."
  %br
  %b
    Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician

%p
  The best way to experience the power and impact of the programme is to attend one of our monthly taster sessions, held in the deluxe training centre in our new home at the Exchange in London Bridge. Book your place today!
  
%p
  <div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.co.uk/tickets-external?eid=3184674447&ref=etckt" frameborder="0" height="192" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk/r/etckt" >Event Registration Online</a><span style="color:#ddd;" > for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://yourmind.eventbrite.co.uk?ref=etckt" >Your Mind: A User's Guide</a><span style="color:#ddd;" > powered by </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk?ref=etckt" >Eventbrite</a></div></div>
  
<div id="wufoo-s7x2r7">
</div>
<script type="text/javascript">var s7x2r7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mindapples', 
'formHash':'s7x2r7', 
'autoResize':true,
'height':'1072',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { s7x2r7 = new WufooForm();s7x2r7.initialize(options);s7x2r7.display(); } catch (e) {}}
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>