%h1
  Your Mind: A User's Guide

%p
  %b
    The effectiveness of any business depends on the effectiveness of the minds of its staff. 

%h5
  <iframe src="http://player.vimeo.com/video/52288641?badge=0&amp;color=4b9061" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  %br
  Mindapples Founder Andy Gibson and Web Psychologist Nathalie Nahai introduce 
  %i
    Your Mind: A User&#039;s Guide.
  
%p
  Many things can prevent people from being mentally effective at work. Stress, ill-health, poor management, loss of motivation, powerlessness and issues in corporate culture can all combine to stop people from performing at their best, which is bad for them, and bad for businesses.

%p
  %b 
    Mindapples provides a framework for managing mental effectiveness. 
  We offer specialist training and development programmes to transform corporate culture and help people be more mentally effective. We do this by delivering practical insights from psychology and neuroscience in smart 90-minute training workshops covering topics from mood management to creativity, and engaging staff in reflecting on what they need to be mentally effective at work. 

%h3
  = link_to('Download the programme outline here', '/assets/Mindapples-Programme-Overview.pdf')

%p
  All our content is based on rigorous psychological and neuroscientific research and delivered by experienced facilitators. Our sessions are getting amazing feedback, with 
  %b
    over 90% of recent participants rating our sessions as "good" or "excellent", 
  and the same number saying they would change their behaviour as a result of what they have learned. 
  
%p
  %i
    "The team enjoyed it and also got a lot out of it in terms of practical hints and tips and tools"
  %br
  %b
    Lynne Baber, pricewaterhousecoopers
  
%p
  %i
    "I certainly found the Mindapples approach novel and informative"
  %br
  %b
    Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician
  
%br
%br
<div id="wufoo-s7x2r7">
</div>
<script type="text/javascript">var s7x2r7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mindapples', 
'formHash':'s7x2r7', 
'autoResize':true,
'height':'1072',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { s7x2r7 = new WufooForm();s7x2r7.initialize(options);s7x2r7.display(); } catch (e) {}}
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>