%h1
  Your Mind: A User's Guide

%p
  We rely on our minds for almost everything we do, and yet we know almost nothing about them. We are taught to brush our teeth, manage our cholesterol and wash our hands of germs, but when it comes to our minds, we know almost nothing about how we work, or how to take care of ourselves. 
  
%p
  To address this, Mindapples has created
  %b
    Your Mind: A User's Guide
  , a new training programme that gives you the practical knowledge you need to manage your mind effectively. The programme covers basic knowledge like brain nutrition, mood regulation and stress management, and more advanced topics like concentration, decision-making and influence. 
  
%p
  We offer 1-hour taster workshops to introduce the basic concepts, and a 9-month transformative programme of lunchtime seminars and reflection sessions to transform how your people manage themselves and others. All our training content is based on rigorous psychological and neuroscientific research and delivered by experienced communicators, in an engaging and approachable style that makes this vital content relevant to everyone. 

%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many "stress management sessions"."
  %br
  Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician

%p
  %b
    Your Mind: A User's Guide teaches you the basic techniques to help you become more resilient, and ultimately manage yourself and others better. 
  
%p
  %b
    = link_to('Register for more information here', contact_path) + "."
  
