%h1
  Your mind: a user's guide

%p
  %b
    Mindapples is on a mission to teach everyone in the UK how their minds work.
    
%p
  %i 
    Your Mind: A User's Guide
  is an education programme from Mindapples that teaches practical insights from neuroscience & psychology to help people maintain their minds and use them more effectively. Delivered in bite-sized 60-minute chunks for busy people, and backed-up with beautifully-designed learning resources, this is a fresh, empowering approach to mental wellbeing and performance that helps people work smarter, talk more openly about their minds, and stay healthy and resilient in a high-pressure environments.
  
%p
  The programme covers all the essential topics people need to understand to function well in the modern world. The full 10-module programme covers:
  %ul
    %li 
      %b{:style => "color:#77b055"}
        Love your mind: 
      an introduction to maintaining your mind and staying mentally well
    %li 
      %b{:style => "color:#d06b3e"}
        Master your moods: 
      managing moods and emotions and staying psychologically resilient.
    %li 
      %b{:style => "color:#cf4431"}
        Get motivated: 
      the key ingredients that make some tasks easier and more energising than others.
    %li 
      %b{:style => "color:#6A3587"}
        Handle pressure: 
      spotting the signs of stress and using your resources to turn pressure into challenge.
    %li 
      %b{:style => "color:#d36361"}
        Work with personality: 
      using the science of personality traits to understand your strengths and weaknesses.
    %li 
      %b{:style => "color:#41C4AC"}
        Train your mind: 
      how intelligence and learning works, and techniques for improving your mind and building new habits.
    %li 
      %b{:style => "color:#559f76"}
        Make smarter decisions: 
      how we really make decisions, and how to apply your mind effectively to daily challenges.
    %li 
      %b{:style => "color:#5f5774"}
        Influence people: 
      the hidden ways in which we influence each other, and how to use your own influence positively.
    %li 
      %b{:style => "color:#007287"}
        Work collaboratively: 
      communication, group dynamics and how to work smoothly and effectively with other people.
    %li 
      %b{:style => "color:#ddbf29"}
        Think creatively: 
      how our minds really come up with new ideas, and simple techniques to keep your mind fresh and creative.
 
%p
  All our content is based on the latest findings from experimental psychology and neuroscience and delivered by experienced trainers and psychologists. Our sessions are getting amazing feedback, with 
  %i
    over 90% of participants rating our sessions as "good" or "excellent" 
  and the same number saying they will change their behaviour as a result of the training. 
  
%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many "stress management sessions"."
  %br
  %b
    Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician

%h3
  = link_to ('Download the full programme outline here', 'http://mindap.pl/MpJA0F')
  %br
  
%h4
  <iframe width="519" height="310" src="//www.youtube.com/embed/7nk1dzjZClg" frameborder="0" allowfullscreen></iframe>
  %br
  Head Gardener Andy Gibson showcases the training at Courvoisier.

%p  
  Our learning programmes are currently 
  = link_to ('only available to businesses', training_path)
  although we are working with various funders and partners to bring them to wider audiences in education, communities and healthcare. Contact us below to tell us what you need or find out more about our training and education services.
  
%br
%br
<div id="wufoo-s7x2r7">
</div>
<script type="text/javascript">var s7x2r7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mindapples', 
'formHash':'s7x2r7', 
'autoResize':true,
'height':'1072',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { s7x2r7 = new WufooForm();s7x2r7.initialize(options);s7x2r7.display(); } catch (e) {}}
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>