%h1
  Your Mind: A User's Guide

%p
  We rely on our minds for almost everything we do, but how much do we actually know about how they work, or how to look after them? If we can take care of our bodies by going to the gym, or eating an apple, what is the equivalent for our minds?
  
%p
  %i
    Your Mind: A User's Guide
  is a new training programme designed to give you the practical knowledge you need to manage your mind better. Each month, we explain essential knowledge such as how to maintain brain health, regulate your moods and manage stress, and more advanced topics like decision-making, emotional intelligence and influence, and our reflective learning tools help you apply this knowledge to your life and work. By the end of the 9-month programme, you will understand yourself better, be more aware of what is happening for others, and have a host of practical tools you can use to get the most out of your mind, in business and in your personal life.

%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many "stress management sessions"."
  %br
  Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician

%p
  The best way to experience the value of this unique programme is to attend one of our monthly Taster Sessions, held in our training centre in London Bridge. The next Taster Session is on 26th April 2012. 
  %b
    Book your place today!
  
%p
  <div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.co.uk/tickets-external?eid=3184674447&ref=etckt" frameborder="0" height="192" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk/r/etckt" >Event Registration Online</a><span style="color:#ddd;" > for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://yourmind.eventbrite.co.uk?ref=etckt" >Your Mind: A User's Guide</a><span style="color:#ddd;" > powered by </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk?ref=etckt" >Eventbrite</a></div></div>

%p
  %b
    If you would like more information about the 
    %i
      Your Mind: a User's Guide
    programme, please register for updates below:
  
<div id="wufoo-s7x2r7">
</div>
<script type="text/javascript">var s7x2r7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mindapples', 
'formHash':'s7x2r7', 
'autoResize':true,
'height':'1072',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { s7x2r7 = new WufooForm();s7x2r7.initialize(options);s7x2r7.display(); } catch (e) {}}
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>