%h1
  Your Mind: A User's Guide

%p
  We rely on our minds for almost everything we do, but how much do we really know about how they work, or how to look after them? We can watch our cholesterol and eat our 5-a-day, but what about our minds?
  
%p
  %i
    Your Mind: A User's Guide
  is a new training programme that gives 
  %b
    you 
  the practical knowledge you need to get more from your mind. We teach you eye-opening things about how your mind works, and you use our reflective learning tools to apply this knowledge to your life and work. By the end of each programme, you will understand the basic facts about how your mind works, and have an array of practical tools to increase your resilience, grow your mental performance, and manage yourself and others better.
  
%p
  Our training sessions get amazing feedback, with 
  %b
    over 90% of recent participants rating our training as "good" or "excellent", 
  and the same number saying they will change their behaviour as a result of what they have learned.

%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many 'stress management sessions'."
  %br
  %b
    Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician
  
<div id="wufoo-s7x2r7">
</div>
<script type="text/javascript">var s7x2r7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mindapples', 
'formHash':'s7x2r7', 
'autoResize':true,
'height':'1072',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { s7x2r7 = new WufooForm();s7x2r7.initialize(options);s7x2r7.display(); } catch (e) {}}
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>