%h1
  Your Mind: A User's Guide

%p
  We rely on our minds for almost everything we do, but how much do we actually know about how they work, or how to look after them? Recent psychological research has shown around 40% of our mental wellbeing is down to our &#8220;outlook and activities&#8221;, and yet we know almost nothing about how to ensure our minds are performing well. We can brush our teeth, get our 5-a-day, watch our cholesterol and worry about our waistlines, and but what's the equivalent for our minds? 
  
%p
  To address this, Mindapples has created
  %i
    Your Mind: A User's Guide,
  a new personal training programme designed to give you the practical knowledge you need to manage your mind more effectively. In just 
  %b
    one hour a month 
  plus some homework and follow-up exercises, we take you through essential facts about brain nutrition, mood regulation and stress management, and more advanced topics such as emotional intelligence, decision-making and influence. The programme helps you apply this knowledge to your life and work, helping you to maintain your health and improve your business performance.   

%p
  The programme is currently available to businesses seeking to improve staff health, leadership development and business performance, and we will soon be running public programmes for individuals seeking to get more from their minds. All our training content is based on rigorous psychological and neuroscientific research and delivered by experienced communicators, in an inspiring and engaging style that makes this fascinating material completely relevant to your life and work.

%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many "stress management sessions"."
  %br
  Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician

%p
  The best way to experience the value of this unique programme is to attend one of our monthly Taster Sessions, held in our training centre in London Bridge. For information on the next public taster session, visit our 
  = link_to('events page', events_path) + "."
  
%p
  %b
    If you would like to know more about the 
    %i
      Your Mind: a User's Guide
    programme, please sign up for more information below:
  
<script type="text/javascript">var s7x2r7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mindapples', 
'formHash':'s7x2r7', 
'autoResize':true,
'height':'1072',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { s7x2r7 = new WufooForm();s7x2r7.initialize(options);s7x2r7.display(); } catch (e) {}}
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>