- render_tabnav :admin do
  - add_tab do |t|
    - t.named 'Home'
    - t.links_to admin_root_path
    - t.highlights_on :controller => 'admin/admin'
    - t.html = { :id => "home" }
  - add_tab do |t|
    - t.named 'Upload Data'
    - t.links_to new_admin_data_upload_path
    - t.highlights_on :controller => 'admin/upload_data'
    - t.html = { :id => "upload_data" }
  - add_tab do |t|
    - t.named 'People'
    - t.links_to admin_people_path
    - t.highlights_on :controller => 'admin/people'
    - t.html = { :id => "people" }
