%p 
  If eating five fruit and veg a day is good for our bodies, then
  what's the equivalent for our minds? We want to find for the five
  most popular activities that people do to keep themselves mentally
  well. Please tell us the five things you do every day, or regularly,
  to keep your mind healthy.

%p
  We'll be sharing the results at www.mindapples.org (as soon as we get
  some money to build a proper website), so by completing the survey
  you're giving us the rights to publish your answers anonymously online
  and offline. Hope that's okay...

%p
  Read more about us at www.mindapples.org, or e-mail us at
  hello@mindapples.org. And if you like the idea, please pass this
  survey on to your family, friends, work colleagues and anyone else
  you think would be interested:

= render(:partial => 'mindapples_form')
