- content_for :content do
  - render_tabnav :sub do
    - add_tab do |t|
      - t.named 'The idea'
      - t.links_to :controller => :pages, :action => :about
      - t.html= {:class => 'about about_idea'}
    - add_tab do |t|
      - t.named 'Who we are'
      - t.links_to :controller => :pages, :action => :about_team
      - t.html= {:class => 'about about_team'}
    - add_tab do |t|
      - t.named 'Organisation'
      - t.links_to :controller => :pages, :action => :organisation
      - t.html= {:class => 'about about_organisation'}
    - add_tab do |t|
      - t.named 'Evidence'
      - t.links_to :controller => :pages, :action => :evidence
      - t.html= {:class => 'about about_evidence'}
    - add_tab do |t|
      - t.named 'Contact'
      - t.links_to :controller => :pages, :action => :contact
      - t.html= {:class => 'about about_contact'}
    - add_tab do |t|
      - t.named 'Media'
      - t.links_to :controller => :pages, :action => :media
      - t.html= {:class => 'about about_media'}

  .sub_central
    .inner
      = yield

= render :file => 'layouts/application'
