- content_for :content do
  - render_tabnav :sub do
    - add_tab do |t|
      - t.named 'Help us Grow'
      - t.links_to :controller => :pages, :action => :grow
    - add_tab do |t|
      - t.named 'Donate'
      - t.links_to :controller => :pages, :action => :donate
    - add_tab do |t|
      - t.named 'Volunteer'
      - t.links_to :controller => :pages, :action => :volunteer
    - add_tab do |t|
      - t.named 'Grown your own'
      - t.links_to :controller => :pages, :action => :grow_your_own

  .sub_central
    .inner
      = yield

= render :file => 'layouts/application'
