- content_for :content do
  - render_tabnav :sub do
    - add_tab do |t|
      - t.named 'Community'
      - t.links_to :controller => :pages, :action => :join_us
      - t.html= {:class => 'grow grow_join_us'}
    - add_tab do |t|
      - t.named 'Help us grow'
      - t.links_to :controller => :pages, :action => :volunteer
      - t.html= {:class => 'grow grow_partnerships'}
    - add_tab do |t|
      - t.named 'Grow your own'
      - t.links_to :controller => :pages, :action => :grow_your_own
      - t.html= {:class => 'grow grow_your_own'}
    - add_tab do |t|
      - t.named 'Events'
      - t.links_to :controller => :pages, :action => :events
      - t.html= {:class => 'grow grow_volunteer'}

  .sub_central
    .inner
      = yield

= render :file => 'layouts/application'
