- content_for :content do
  - render_tabnav :sub do
    - add_tab do |t|
      - t.named 'Engagement'
      - t.links_to :controller => :pages, :action => :engagement
      - t.html= {:class => 'services services_engagement'}
    - add_tab do |t|
      - t.named 'Insights'
      - t.links_to :controller => :pages, :action => :insights
      - t.html= {:class => 'services services_research'}
    - add_tab do |t|
      - t.named 'Training'
      - t.links_to :controller => :pages, :action => :training
      - t.html= {:class => 'services services_training'}
    - add_tab do |t|
      - t.named 'Wellness programmes'
      - t.links_to :controller => :pages, :action => :programmes
      - t.html= {:class => 'services services_wellbeing_programmes'}
    - add_tab do |t|
      - t.named 'Testimonials'
      - t.links_to :controller => :pages, :action => :testimonials
      - t.html= {:class => 'services services_testimonials'}

  .sub_central
    .inner
      = yield

= render :file => 'layouts/application'
