- content_for :content do
  - render_tabnav :sub do
    - add_tab do |t|
      - t.named 'Workplaces'
      - t.links_to :controller => :pages, :action => :workplaces
      - t.html= {:class => 'services services_workplaces'}
    - add_tab do |t|
      - t.named 'Schools'
      - t.links_to :controller => :pages, :action => :schools
      - t.html= {:class => 'services services_schools'}
    - add_tab do |t|
      - t.named 'Universities'
      - t.links_to :controller => :pages, :action => :universities
      - t.html= {:class => 'services services_uni'}
    - add_tab do |t|
      - t.named 'Communities'
      - t.links_to :controller => :pages, :action => :communities
      - t.html= {:class => 'services services_communities'}
    - add_tab do |t|
      - t.named 'Healthcare'
      - t.links_to :controller => :pages, :action => :healthcare
      - t.html= {:class => 'services services_healthcare'}
    - add_tab do |t|
      - t.named 'Individuals'
      - t.links_to :controller => :pages, :action => :individuals
      - t.html= {:class => 'services services_individuals'}

  .sub_central
    .inner
      = yield

= render :file => 'layouts/application'
